[2019-05-31 08:54] dissent1 commented on #281
I have the same issue on 1 of my similar devices. Happens when txpower is set to around 20. Lowering txpower to around 10 doesn't produce the issue.
Maybe it is overheating? Try to place the device to a place with good ventilation.

[2019-06-03 01:00] ybbid commented on #281
It has been observed that this problem occurs when the signal of the terminal device connected to this router is low.

[2019-06-03 14:43] drcyberg opened #283 "MT7628AN wrong driver"
Hi All!

I bought this chip modul [SKW92A](http://www.skylabmodule.com/iot-ap-wifi-module-skw92a/)  (MT7628AN) and uploaded this OpenWRT [firmware](https://openwrt.org/toh/hwdata/skylab/skylab_skw92a), BUT always restart after boot end. I tried other [MTK driver](https://github.com/Nossiac/mtk-openwrt-feeds), BUT too old and some problem (doesen't load wifi driver, if yes then reboot).
What is the

[2019-06-03 14:46] 9000000 commented on #280
[code]

[2019-06-03 15:21] 9000000 commented on #280
[code]

[2019-06-03 15:27] lynxis commented on #280
@9000000 please improve your bug report by editing the top post.
It is not clear **what's wrong?** How it should be? How is your test setup? What is your configuration? Which version do you use?

Overall Wifi is not a simple problem.
Usually 300mbit won't be archived on 2.4ghz, because 40Mhz is usually not possible.

[2019-06-03 16:32] 9000000 commented on #280
@lynxis all of my connected devices already support 40 Mhz band but I check that it doesn't 40mhz with no effect on 2.4ghz

[2019-06-04 04:18] maluhia commented on #277
I ran another test right beside my router in Linux, and booted into windows and ran the same test (internet speed is 300/15):

I wonder why the upload is slow in Linux? No other devices were on the network.

[2019-06-04 15:04] lynxis commented on #280
@9000000 40 Mhz won't be used, as long there are other Accesspoint which uses the Spectrum. The specification forbids this. 40Mhz on 2.4Ghz is defacto non-existent, because you're not alone on the frequency.

[2019-06-04 18:36] lynxis commented on #280
@9000000 Please see my previous comment and update the missing informations.

[2019-06-05 11:44] lukasz1992 commented on #280
@9000000
I think in that many number of devices, we can not expect high bitrates; there are probably some delays (high pings). You could maybe check with another chip, but I don't see anything wrong in values from your dump.

@bond2bill
Can you check again during data transmission? Does it happen on other clients?

[2019-06-09 07:56] #283 closed

[2019-06-10 04:19] EXSERENS opened #284 "build fail in gcc 9.1.0"
[code]
openwrt/lede-r10173 mt76 b0335320fc2c4b3f1291a7e5768048cc63a2efae

[2019-06-10 22:22] tluciomiranda opened #285 "mt7610u USB AP mode - no traffic"
Hi,
Using a TP-LINK T2U as AP on a RPi 3B+ and despite initially everything seems working, after some time traffic stops passing via the AP. I can still communicate with RPi, open Luci, SSH via ethernet but not via wireless AP. Also when traffic stops, new stations can’t see wifi network listed as available, or can’t connect if it appears.

 No logs, no errors, at least that I can see.

If you nee

[2019-06-11 19:57] hpn0t0ad commented on #216
Is this issue now fixed with https://github.com/openwrt/mt76/commit/77d0e3378bd1d88d3d77812810d224214ca056d6 and/or https://github.com/openwrt/mt76/commit/89cda5d8549853ab8e2012fcdbf49625edf3e7c5 ?

[2019-06-11 21:58] yesnomaybeyes commented on #285
Getting the same here, also noteworthy is that if I saturate the link on one laptop, traffic flow just stops.

[code]

UCI config:

[code]

It seems the issue doesn't happen when using the "Legacy" selection, N and AC seem to experience this issue. Tried many different settings (seems `auto` just prevents the AP coming up, so I select specifically the channels and such)

I am using a TP-Link T2UH

[2019-06-11 22:17] tluciomiranda commented on #285
@yesnomaybeyes That's right, precisely what I am getting here too. Interestingly, you realized that "Legacy" mode does not cause the problem, could not figure that one... Have you noticed something more ? Debug info, logging, ... ?

Forgot to say that I am using a TP-Link T2U.

Thank you!

[2019-06-12 13:08] LorenzoBianconi commented on #285
@tluciomiranda could you please provide the hostpad configuration file? /var/run/hostapd-phy0.conf

[2019-06-12 13:31] tluciomiranda commented on #285
@LorenzoBianconi Please find below the contents of /var/run/hostapd-phy1.conf, as I am using phy1 as AP:

`root@gw_movel:/tmp/run# cat hostapd-phy1.conf
driver=nl80211
logger_syslog=127
logger_syslog_level=2
logger_stdout=127
logger_stdout_level=2
country_code=JP
ieee80211d=1
ieee80211h=1
hw_mode=a
beacon_int=100
channel=36

ieee80211n=1
ht_coex=0
ht_capab=[HT40+][SHORT-GI-20][SHORT-GI-40][RX-STBC

[2019-06-12 22:53] yesnomaybeyes commented on #285
Hi all,

Sorry, I was wrong, I was misremembering possibly, I had the issue twice today on Legacy mode:

![image](https://user-images.githubusercontent.com/28198579/59391767-3adca080-8d6d-11e9-9a61-79fe7043433d.png)

[code]

[2019-06-13 13:23] apr456 opened #286 "mt7610e external frontend patch"
There are extra init settings, that used in mediatek mt7610e driver and not used in mt76.

In my router this init enables external frontend in 5GHz band. Without it, tx power seems very low (i.e. connection possible only near the router). Maybe, those settings could work in other devices, too.

My device: totolink A1004NS (mt7620a + mt7610e).

Patch is attached to this message.

[mt76.patch.txt](h

[2019-06-13 16:07] sgruszka commented on #286
Most likely others need this as well :-)

There is outstanding issue
https://github.com/openwrt/mt76/issues/216
which I hope your patch address.

[2019-06-14 19:50] hpn0t0ad commented on #286
Confirmed working with my TP-LINK Archer C2 v1.0!
Finally we have 5GHz with usable signal strength on that device.
Really cool, thanks a lot!

[2019-06-15 10:11] sgruszka commented on #286
@apr456 is there Mediatek vendor driver code on which your patch is based ?

[2019-06-15 15:50] apr456 commented on #286
Yes, the code is in chips/mt76x0.c, function MT76x0_ReadFlashAndInitAsic

Link:
https://github.com/presisco/mt7610e-p4rev-118062/blob/62c13fb633eda141384001acd795770cafaebbd8/src/chips/mt76x0.c#L4125

[2019-06-15 23:16] kabakaev commented on #102
@MrBan, where is this piece?
I experience some weird issue on MT7612E: small packets are transmitted normally (say, DHCP), but a first big packet (e.g. HTTP) freezes the card.

I'm wondering whether it may be related to your finding?

[2019-06-17 09:35] LGA1150 commented on #286
Confirmed working with HC5761 (MT7620A+MT7610E)

[2019-06-21 11:08] orangepizza commented on #286
should I write pull request with this patch? I wonder why %apr456 didn't create pull request?

[2019-06-21 14:58] orangepizza commented on #286
I created pull request with this patch file, but if apr456 want request yourself I'll close the pull request.

[2019-06-22 22:09] ThauEx commented on #286
@orangepizza could you please provide some kind of package, which can be used "fix" an existing openwrt snapshot installation?

[2019-06-23 01:52] orangepizza commented on #286
it can't work. kernel hashes will different so opkg dependency will block its install.

[2019-06-23 08:27] ThauEx commented on #286
So only full images would work? If so, found you provide one? Just asking, because I would like to have this fix as soon as possible and it doesn't look like, the fix is getting merged soon.

[2019-06-23 08:42] orangepizza commented on #286
I'll need to know what's your device name, is it's only work for that specific kernel image

[2019-06-23 08:55] ThauEx commented on #286
Here are the details of my device: (if I should upgrade to the latest snapshot, tell me)
Model: TP-Link Archer C2 v1
Firmware Version: OpenWrt SNAPSHOT r9914-430b66bbe8 / LuCI Master (f138fc93)
Kernel Version: 4.14.113

[2019-06-23 10:15] hpn0t0ad commented on #286
You can use my image if you like: https://drive.google.com/drive/folders/17ELnvpivUjHC2wcZiIJOwNFdRcKuzcLj

TP-Link Archer C2 v1, r10127-3209f5ae3d, kernel 4.14.123
I've included LuCI and some other stuff, see manifest or config.seed

[2019-06-23 10:59] orangepizza commented on #286
I just finished compile
[tplink c2v1.zip](https://github.com/openwrt/mt76/files/3317749/tplink.c2v1.zip)

[2019-06-23 13:54] ThauEx commented on #286
Thank you very much, works great!

@hpn0t0ad thank you too

[2019-06-24 20:20] WiredLife commented on #286
The patch works fine on Archer C2 v1 :D
5 GHz is now stable and power is good, but the max value is still 11 dBm.
Anyone knows the real output power?

Btw
I compiled myself r10307-629e6538a1 for TP-Link Archer C2 v1 with this patch (on current trunk), LuCI and 900-Disable-DFS.patch (patch to maximize power and disable DFS).
You can use it if you want, but you will probably break rules in your coun

[2019-06-25 05:35] OpenGG commented on #110
Ryder Lee from MediaTek and others have been working on mt7615 since Apr 25, 2019.
What is the status now, has anyone tried it out?

[2019-06-25 06:16] CHKDSK88 commented on #286
This patch make mt7610 in D-Link DWR-118-A1 usable.

Both directions:
[code]

[2019-06-25 06:17] CHKDSK88 commented on #275
Please try patch from https://github.com/openwrt/mt76/issues/286 .

[2019-06-25 07:32] sgruszka commented on #286
@apr456 @orangepizza , the correct way to get the patch applied is post it to linux-wireless mailing list.
I'll do this but need to know true name of @apr456 to properly sign-off-by the patch, see:
https://www.kernel.org/doc/html/v4.17/process/submitting-patches.html#sign-your-work-the-developer-s-certificate-of-origin

Note: Vendor driver set the registers under '#ifdef RTMP_MAC_PCI', but I teste

[2019-06-25 10:39] orangepizza commented on #286
I don't think @apr456 will give real name, he doesn't on github much often (this and a issue create on 2017/11 is his only activity on github)

[2019-06-25 10:40] nbd168 commented on #286
I'm currently testing a reworked version of this patch, which I will push to this repo and submit upstream soon.

[2019-06-25 11:39] nbd168 commented on #286
Done

[2019-06-25 11:39] #286 closed

[2019-06-25 14:28] ffrediani commented on #227
This issue should never beem closed. It remains the same and MT7610E keeps not working properly at all. It is detected by default snapshot but doesn't work and has the same issues reported.

@nbd168 have you or anyone done any work about this driver ?

I believe the results will be the same if the radio hardware is the same regardless the router, but to mention in more detail the router in case is

[2019-06-25 15:23] ffrediani commented on #275
This router (Rev A1) uses the same radio as TP-Link C20 v4 and 5Ghz has serious issues to the point it doesn't work with snapshot versions so far. Seems this driver in mt76 hasn't been touched for a while, at least there was no apparent improvements.
There is another issue about this, please check: #227 and feedback there if your still persist.

[2019-06-25 16:13] ffrediani commented on #216
Guys, just a question to situate myself: are you testing using the mt76 driver or the mt6710e 'unnoficial' MediaTek feed or similar ? I have been trying over and over with mt76 from Snapshot version with zero improvements and I'm willing to perhaps try a different one and be able to report something different.

Let me know which one is the best to try currently.

[2019-06-25 18:21] #264 closed

[2019-06-25 18:22] #263 closed

[2019-06-25 18:22] nbd168 commented on #271
Please try the latest version

[2019-06-25 18:25] orangepizza commented on #216
Recently (like less then a month ago) @apr456 discovered  a extra mt76 init settings, that used in mediatek mt7610e driver and not used in mt76, and a patch for it.
 see https://github.com/openwrt/mt76/issues/286
I have a forked mt76 repo applied that patch.
https://github.com/orangepizza/mt76
but due to licensing

[2019-06-25 18:37] nbd168 commented on #269
Please try the latest version, it should work much better now

[2019-06-25 18:40] nbd168 commented on #216
No need for a fork, just use the latest version with my fix for that issue

[2019-06-25 20:52] ffrediani commented on #216
@nbd168 I have updated about 2 days ago to SNAPSHOT, r10307-629e653 and 4.14.128+2019-03-27-a11b6734-1 but the result seems pretty much what it has always been. The signal for 5 Ghz seems very weak in the same room and only work 1 meter or so from the router (using it on Auto or trying to set it manually).
Was the fix pushed after this version or should this have been fixed already ?

[2019-06-25 21:03] orangepizza commented on #216
it's really fresh. like 8 hours ago fresh.

[2019-06-25 21:03] araujorm commented on #216
The fix was pushed today, shortly before the issue was closed. You can
check the commits on the repo.

A terça, 25/06/2019, 21:52, Fernando Frediani <notifications@github.com>
escreveu:

[2019-06-26 04:41] ffrediani commented on #216
Thanks folks.
Have updated to r10348-577174cf60 and now it seems to be able to control the Transmit Power correctly. Also the Scan button that has never worked correctly seems now to work.

[2019-06-26 04:44] ffrediani commented on #227
Just to update the thread I have updated to Snapshot r10348-577174cf60 with a recent mt76 fix and now it seems to be able to control the  Transmit Power correctly. Also the Scan button that has never worked  correctly seems to work now.

[2019-06-26 22:19] tluciomiranda commented on #285
Updated driver with latest commits from yesterday, just to test if something changed. Everything appears the same.

Also noticed that in LuCI, RX Rate of connected stations (when they can connect) won't pass 6 Mbit/s, even with devices 50 cm away from AP. Please see attachment as an example.

![Capture](https://user-images.githubusercontent.com/11554902/60218937-bc9df500-9868-11e9-84bf-6e4f4f134b2

[2019-06-27 08:10] listenerln opened #288 "Mt7603e driver use PA, wifi can not find, receive normal"
The device uses PA, mt7603e starts normally, the phone can't find wifi, the test shows that the sending power is very low. But the MTK official driver PA can work normally.
Modify e2p After the PA is turned off, the wifi signal is very poor.

How can I modify the PA to work properly?
Thanks!

wlan0     ESSID: "A1111111"
          Access Point: 00:CD:88:00:00:81
          Mode: Master  Channel: 9 (

[2019-06-27 09:46] nbd168 commented on #288
Which openwrt/mt76 version were you using in your test?

[2019-06-27 11:09] #248 closed

[2019-06-27 11:09] #269 closed

[2019-06-27 11:10] #280 closed

[2019-06-27 11:10] #276 closed

[2019-06-27 11:10] #235 closed

[2019-06-27 11:11] nbd168 commented on #194
Please try the latest version

[2019-06-27 11:11] #217 closed

[2019-06-27 11:13] nbd168 commented on #172
Please try the latest version, it should work better now

[2019-06-27 11:16] nbd168 commented on #281
Fixed in the current version

[2019-06-27 11:21] nbd168 commented on #273
Please report this on the OpenWrt bug tracker, since it's a platform code issue, not an issue with the mt76 driver.

[2019-06-27 11:21] #273 closed

[2019-06-27 12:29] 0x5a17ed commented on #248
We're currently testing this again. So far it looks good. Sorry for the late response.

[2019-06-27 13:11] chennakeshavaSoC opened #289 "mt7610u USB mesh mode - accept peerings always NO"
I am trying to setup mesh with TP Link wifi usb dongle (T2U) with Rpi3B+ (openwrt snapshot builds).

I am seeing that the mesh is not getting formed with even unsecured mode as well. I could find the issue by looking at the beacon frames transmitted, the following are details:
Tag: Mesh Configuration
0000   71 07 01 01 00 01 00 00 **_00_**                       q........
The last byte (7th one) is

[2019-06-27 13:29] chennakeshavaSoC commented on #289
I could find root cause for the issue, its due to alignment.
In my case the mesh beacon frame length is coming as 83 bytes, now I just adjusted the mesh_id to set the frame length as multiple of 4. Now I am getting the expected results.
Tag: Mesh Configuration
0000 71 07 01 01 00 01 00 00 **09** q........

[2019-06-27 15:39] nbd168 commented on #274
Please try the latest version and let me know if this is still an issue

[2019-06-28 02:00] listenerln commented on #288
mt76-2019-03-27-a11b67348aeb2d3175c5995c747e7fc050c7df60

openwrt version:
     commit 3209f5ae3d54e6f028e2e54314180a1be5b4896e

[2019-06-28 10:11] nbd168 commented on #288
What's the displayed tx power on the 2019-06-25 version?

[2019-06-28 10:25] listenerln commented on #288
wlan0     ESSID: "A1111111"
          Access Point: 00:CD:88:00:00:81
          Mode: Master  Channel: 11 (2.462 GHz)
          Tx-Power: 20 dBm  Link Quality: unknown/70
          Signal: unknown  Noise: unknown
          Bit Rate: unknown
          Encryption: none
          Type: nl80211  HW Mode(s): 802.11bgn
          Hardware: 14C3:7603 14C3:7603 [MediaTek MT7603E]
          TX power offset:

[2019-06-29 06:54] sgruszka commented on #289
This looks to be a bug in mac80211 mesh code that require proper fix.

[2019-07-01 03:19] chennakeshavaSoC commented on #289
Yes, I could be able to find it out, its here
https://github.com/openwrt/mt76/blob/6cafaca7225d3676e0dce232aa8036637309f261/usb.c#L167

[2019-07-01 07:59] sgruszka commented on #289
I think we really can/should assume that len in mt76_wr_copy() is multiple of 4,  i.e mmio version of this is:

static void mt76_mmio_copy(struct mt76_dev *dev, u32 offset, const void *data,
                           int len)
{
        __iowrite32_copy(dev->mmio.regs + offset, data, len >> 2);
}

Not sure about that, but seems that mesh mac80211 code should create beacon that size is 4 bytes mult

[2019-07-01 11:24] nbd168 commented on #289
I don't think mac80211 should pad beacon frames to work around this quirk. I will send out a patch that rounds up length in mmio/usb copy()

[2019-07-01 11:31] sgruszka commented on #289
Yeah, I get similar impression after looking at mac80211 beacon generation code. For usb we should be able to just use single request for copy like this:
[mt76u_copy-patch.txt](https://github.com/openwrt/mt76/files/3345297/mt76u_copy-patch.txt)

[2019-07-01 11:34] nbd168 commented on #289
I sent out the simple fix for now, which simply adds the round-up. We can add that change on top later (after careful testing to avoid regressions)

[2019-07-01 12:04] sgruszka commented on #289
Agree.

[2019-07-01 12:06] nbd168 commented on #289
Pushed my fix in 9e2e0b8577104806f40e469c8948843c67bddcb6 and verified that it fixes the issue (before that fix, it the WMM VO TXOP value was corrupted in my test).

[2019-07-01 12:06] #289 closed

[2019-07-01 12:32] sgruszka commented on #289
For the record , change to single usb request as proposed in  https://github.com/openwrt/mt76/issues/289#issuecomment-507226987 doest not work. There are 'usb 1-1: vendor request req:01 off:b420 failed:-11' errors, so I'm not going to sent that patch,  happy to have @nbd168 DIV_ROUND_UP fix.

[2019-07-01 21:58] LorenzoBianconi commented on #285
Could you please post the syslog output when the dongle hangs?
Moreover could you please test latest [commit](https://github.com/openwrt/mt76/commit/8919516006e44567bd0dd65d5af368ce8eeb1235) since running this driver version I have not not been able to trigger the issue

[2019-07-02 10:22] nbd168 commented on #28
Should be a lot better now in the latest version

[2019-07-02 10:22] #28 closed

[2019-07-02 11:48] tluciomiranda commented on #285
Hi @LorenzoBianconi , thank you for your efforts.

Just to clarify, my setup is the following:
  - phy0 (RPi 3B+ integrated WIFI) connects to a network as a client (wwan)
  - phy1 (T2U) hosts wifi network 'redecasa_test' (wlan1)

eth0 and wlan1 are bridged to form an internal network called br-lan.

So, traffic going from stations connected by ethernet to wwan goes perfectly (~80Mbit/s); traffic f

[2019-07-03 19:59] xavier83 commented on #199
Still no luck as of 18.06.4
/var/run/hostapd-phy1.conf is set to
[code]

[2019-07-07 17:22] Yanpas opened #290 "Waking up from suspend freezes if MediaTek MT7610U wifi is plugged in"
[Kernel.org issue](https://bugzilla.kernel.org/show_bug.cgi?id=204091)

I have the following device plugged in:
Bus 001 Device 011: ID 0586:3425 ZyXEL Communications Corp. NWD6505 802.11a/b/g/n/ac Wireless Adapter [MediaTek MT7610U]

When I wake up from suspend I see only underscore in the top left corner of the screen. Only SysRq+B works, so I have nothing do but reboot.

This device is often not

[2019-07-07 17:40] Yanpas commented on #290
Installing `mt76-dkms-git` didn't help

[2019-07-08 07:17] sgruszka commented on #290
We should handle usb errors better to do not hung the system. But the root of the issue most likely is in usb hcd driver. There is pending know problem with xhci_hcd:

https://bugzilla.kernel.org/show_bug.cgi?id=202541

You can try to revert:

commit f8f80be501aa2f10669585c3e328fad079d8cb3a
Author: Mathias Nyman <mathias.nyman@linux.intel.com>
Date:   Thu Sep 20 19:13:37 2018 +0300
xhci: Use soft

[2019-07-08 07:36] Yanpas commented on #290
Well, on 4.19 after some period of time with a great probability I am able to get to tty2-6. X server becomes unusable and I have to restart the whole session.

On 5.1 I didn't succeed to get access to PC. I even plugged out wifi adapter during this freeze and got kernel panic ( caps lock and scroll lock were blinking).

I also noticed that the bug with connect on boot exists on Windows too. After

[2019-07-09 01:50] Skrity opened #291 "Unaligned access(snapshot)"
OpenWrt SNAPSHOT r10402-ee66fe4ea9
mt76 4.14.131+2019-07-04-b973bef0-1
[code]

[2019-07-10 03:01] orangepizza commented on #216
As this issue is fixed, can someone close relevant issues?
this and
https://github.com/openwrt/mt76/issues/275
https://github.com/openwrt/mt76/issues/224
is all about txpower of mt7610, so it can be closed.

[2019-07-10 03:31] ffrediani commented on #275
Have updated to r10348-577174cf60 and now it seems to be able to control the Transmit Power correctly. Also the Scan button that has never worked correctly seems now to work.

[2019-07-10 06:11] #275 closed

[2019-07-10 06:12] #224 closed

[2019-07-10 06:12] #216 closed

[2019-07-10 08:22] sanitariu opened #292 "Openwrt commits/sync time"
When fixes from here goes to openwrt main tree ?
I think syncing is too long or at least some months away ?

[2019-07-10 10:20] pparent76 opened #293 "mt76x2e: more than two SSID fails."
Whenever I try to get more than two SSID in hostapd, I get the following:

Any idea how to solve this?

[2019-07-10 13:00] sgruszka commented on #293
Try to use  'use_driver_iface_addr=1' option instead of using custom 'bssid= ' addresses in your hostapd config.

[2019-07-10 13:28] pparent76 commented on #293
Ok thanks so much, it works!

[2019-07-10 19:27] podtor opened #294 "mt76x0 - Problem with log in from main router (WAN)"
I have a problem log in to D-Link DWR-118 A1 from my main router (WAN) when I used bridge/relayd function. To TP_LINK WR740Nv1 I can log in from the main router but to D-Link DWR-118 A1 can't.  Also I  compared configuration but I can't find the difference. Probably problem is in drivers.

`
hardware [wikidevi D-Link_DWR-118_rev_A1](https://wikidevi.com/wiki/D-Link_DWR-118_rev_A1)
_WI1 chip1: **Me

[2019-07-10 19:31] podtor commented on #275
Yes, I confirm. 5GHz works well.

[2019-07-12 10:48] julianocss commented on #274
Hello @nbd168

Running latest version for 7 days.
Everything looks good now.

Thank you very much.
Juliano

[2019-07-12 11:30] nbd168 commented on #274
Thanks for testing

[2019-07-12 11:30] #274 closed

[2019-07-12 14:15] JFtico commented on #175
@nbd168 What is the current status of this?

Does 18.06.4 include support for this?

Thanks in advance

[2019-07-14 13:06] podtor opened #296 "mt76x0 - slow sysupgrade"
Someone know why sysupgrade in D-Link 118 A1 is so slowly? Takes about 10 minutes. I have few others router like netgear or tp-link, then upgrade takes about 1-2 minutes.

[2019-07-15 12:12] ohquait opened #297 "error on kernel-5.2.1"
DKMS make.log for mt76xx-0.1.0-2pclos2019 for kernel 5.2.1-pclos1 (x86_64)
Mon 15 Jul 2019 02:03:34 PM UTC
make -C /lib/modules/5.2.1-pclos1/build M=/var/lib/dkms/mt76xx/0.1.0-2pclos2019/build modules
make[1]: Entering directory '/usr/src/kernel-devel-5.2.1-pclos1'
  CC [M]  /var/lib/dkms/mt76xx/0.1.0-2pclos2019/build/mt7603/pci.o
  CC [M]  /var/lib/dkms/mt76xx/0.1.0-2pclos2019/build/mt7603/soc.o

[2019-07-15 17:44] everloop2 commented on #292
see: https://git.openwrt.org/?p=openwrt%2Fopenwrt.git&a=search&h=HEAD&st=commit&s=mt76
for latest commits to master branch

trunk images for testing: http://downloads.openwrt.org/snapshots/targets/
-> use https://openwrt.org/docs/guide-user/additional-software/opkg to install additional mt76 packages

or short way -> https://openwrt.org/docs/guide-user/additional-software/imagebuilder
"The Image B

[2019-07-15 21:41] Skrity commented on #291
Can't replicate it: closing

[2019-07-15 21:41] #291 closed

[2019-07-16 09:43] lukasz1992 commented on #297
It looks as a custom modified version.

[2019-07-17 09:07] ohquait commented on #297
yes , you have right, mt76 now also supports mt7615 ...

Am Di., 16. Juli 2019 um 09:43 Uhr schrieb lukasz1992 <
notifications@github.com>:

--
also on sam-linux@gmx.de

[2019-07-17 09:58] lukasz1992 commented on #296
Ask on openwrt, support here is only for mt76 driver

[2019-07-17 10:05] #296 closed

[2019-07-18 10:11] sgruszka commented on #290
I was able to reproduce the problem on one of my machines (with ehci-hcd usb host controler, on machines with xhci-hcd suspend/resume works for me).
It turned out we can avoid the hung if we do not reset radio on resume like in below:

diff --git a/drivers/net/wireless/mediatek/mt76/mt76x0/usb.c b/drivers/net/wireless/mediatek/mt76/mt76x0/usb.c
index f878ad8b4b76..645f4d15fb61 100644
--- a/drivers

[2019-07-18 10:14] sgruszka commented on #290
I was able to reproduce the problem on one of my machines (with ehci-hcd , other machines with xhci-hcd work fine). It turned out we can avoid hung by do not reset rf on resume like in the patch below:
[mt76x0u_do_not_rf_reset_on_resume.patch.txt](https://github.com/openwrt/mt76/files/3406008/mt76x0u_do_not_rf_reset_on_resume.patch.txt)

[2019-07-18 10:40] sgruszka commented on #290
Fix posted:
https://lore.kernel.org/linux-wireless/1563446290-2813-1-git-send-email-sgruszka@redhat.com/T/#u
This can be closed once merged in mt76.

[2019-07-19 08:01] Yanpas commented on #290
Thanks

The issue that device is not always properly configured after boot will be always solved in this patch?
`usb 1-8: device descriptor read/64, error -110`

[2019-07-19 10:44] sgruszka commented on #290
If you see also  'xhci_hcd 0000:15:00.0: WARN Set TR Deq Ptr cmd failed due to incorrect slot or ep state' in dmesg , it is xhci driver issue:
https://bugzilla.kernel.org/show_bug.cgi?id=202541
Not solved yet. Looks xhci maintainer requested debug information, which he doesn't get:
https://lore.kernel.org/linux-usb/520462de-9a7f-d3f3-2cce-e4be045cf8b2@linux.intel.com/

If there is no xhci_hcd warn

[2019-07-21 11:28] ybbid opened #299 "kernel panic with kernel 4.14.132 on version 3d7f7384bef0950ceea3a8c96ce79333d208e07d"
router:Newifi-D2(mt7621+mt7612+mt7603 rom:32m ram:512m)
arch:MediaTek MT7621 ver:1 eco:3
openwrt-git-version: db8e08a5a4469f98ed5d9b0ff3189e356f53d924
mt76-git-version: 3d7f7384bef0950ceea3a8c96ce79333d208e07d
kernel version:4.14.132

blow is the kernel crash log:
DRAM: 512MB
Platform: MediaTek MT7621A ver 1, eco 3
Board: Newifi D2
Clocks: CPU: 880MHz, DDR: 1066MHz, Bus: 293MHz, Ref: 40MHz
Flash:

[2019-07-21 17:55] camelcamro commented on #211
this issues still exists .... tried newest TRUNK version ... (MT7620 MT 7621)

how is it possible to disable the FLOW CONTROL ? is that possible via settings on /etc/cfg dir ?
cu camel

problems ...
eg:
[code]

[2019-07-21 18:00] airend commented on #299
This might be related to [mac80211: Update to version 5.2-rc7](https://git.openwrt.org/?p=openwrt/openwrt.git;a=commit;h=0b2c42ced21a7bc053e0d729f85041f1e3b54fbc). I also get panics on the Xiaomi MiWiFi Mini (`MT7620A`).

[2019-07-24 12:01] ynezz commented on #299
Should be fixed in 75656a4590a3288503d42194adf014f4a9eeaa84

[2019-07-24 12:01] #299 closed

[2019-07-25 00:36] rodrigo-sm2 opened #300 "Support for 4.19 kernel"
We are having problems with the old kernel version (4.14), especially in sqm (related in openwrt forum), where it is no longer possible to use qdisc cake because of recent changes, so is there any prediction for mt76x8 devices to support kernel 4.19?

[2019-07-25 10:26] 532910 opened #301 "wpa.c:431"
OpenWrt 18.06.4, r7808-ef686b7292
system type		: MediaTek MT7620A ver:2 eco:6
machine			: Xiaomi MiWiFi Mini

[code]

[2019-07-25 10:28] #301 closed

[2019-07-25 12:08] 532910 opened #302 "Error - Dropping frame due to full tx queue 2"
OpenWrt 18.06.4, r7808-ef686b7292
system type : MediaTek MT7620A ver:2 eco:6
machine : Xiaomi MiWiFi Mini

All dmesg is spammed wth:

[code]

[2019-07-25 14:16] LGA1150 commented on #302
Have you tried the latest snapshot or 19.07?
btw MT7620 uses rt2800-soc driver, not mt76

[2019-07-25 14:28] dangowrt commented on #302
Yes, wrong place to discuss this, however, this should be fixed in 19.07 and current master, please retry using the preview-version of OpenWrt 19.07 available on https://downloads.openwrt.org/releases/19.07-SNAPSHOT/targets/ramips/mt7620/openwrt-19.07-snapshot-r10269-5100629e32-ramips-mt7620-miwifi-mini-squashfs-sysupgrade.bin

[2019-07-25 14:28] #302 closed

[2019-07-25 14:35] dangowrt commented on #302
No worries, the repository naming is a bit misleading and it's still better to report a bug in the wrong place than not reporting it at all. So thanks :)

[2019-07-26 01:01] 532910 commented on #302
19.07 works fine, thank you!

[2019-07-27 07:33] pataha commented on #281
It still happen to me with latest snapshot. It’s rebooted while watching youtube after running ~2 days

[2019-07-28 08:29] orangepizza commented on #300
that's not in scope of this driver, but main repository of openwrt/openwrt, this is for wireless chip drivers, and already support newer kernels.

[2019-07-28 21:59] #300 closed

[2019-07-29 08:59] pataha opened #303 "kernel panic on Newifi D2"
The device is Newifi D2 with latest snapshot, it usually crash while watching youtube videos
[code]

[2019-08-02 14:13] sylvainduchesne opened #304 "Kernel Panic Xiaomi MIR3G on boot"
Hi,
Flashed Xiaomi MIR3G using snapshot from https://downloads.openwrt.org/snapshots/targets/ramips/mt7621/ ; downloaded maybe 2 weeks ago.
After flashing (followed instructions on https://www.reddit.com/r/Xiaomi/comments/abkqyu/mi_3g_router_openwrt_instructions_r3g_the_one/ ) , the router now goes into boot loop.

Here is the output from serial:
[code]

Is there something wrong with the firmware

[2019-08-02 14:18] araujorm commented on #304
Please try latest version, it should be fixed by a commit made on 22 of July: https://github.com/openwrt/mt76/commit/75656a4590a3288503d42194adf014f4a9eeaa84

[2019-08-02 14:34] sylvainduchesne commented on #304
Thanks I will give it a try.
I typically don't reinstall FW through serial, so I am not sure how to fully proceed. Do I need to reflash kernel0.bin, reload original firmware, and then reflash openwrt, or is there a simpler way to do so?

[2019-08-02 14:53] araujorm commented on #304
I don't have that router, but judging from the instructions on the thread you mentioned, I'd say you'll have to recover as if it was bricked, because currently you can't SSH to the router (as it kernel panics during the boot).

Maybe something like this:
https://forum.openwrt.org/t/xiaomi-wifi-router-3g/5377/104

If it doesn't work, I'd say to try asking in that forum for help on how to recover fr

[2019-08-02 14:55] sylvainduchesne commented on #304
yea ok, thats also what I figured. Will report back when I test the latest.
Thanks for the help.

[2019-08-02 21:12] ynezz commented on #304
Try latest snapshot, it should be fixed.

[2019-08-03 14:05] jackcolentern opened #305 "mt7615: slow AC wifi speed on Linksys EA7500 v2"
Hi, I am trying to bring support to Linksys EA7500 V2 with dual MT7615
The wifi works but the AC speed is about 50~150Mbps, which is not normal because the original firmware can do ～350Mbps,
Thanks!

Btw, thanks for the hard work giving us an open source driver!

[code]

[2019-08-03 19:58] dissent1 commented on #305
In my case the tx speed is ~350 but rx is around 50 and drops very quickly with distance. At around 5 meters the wifi is unusable.
TP-Link RE650 with eLNA/ePA.

[2019-08-04 09:50] sanitariu commented on #305
Same is with Mediatek 7628 for example TP-Link 840 version 6.
2 meters away and signal is 50% low.
Also from latest reisions router start to stuck each 3-4 days.
I am unable to print crash log because it needs power cycle.
Main problem is txpower. Seems like it is working at 15db or 15Miliwatt
Maybe this is the default.
All mediatek chips have that txpower problems.

[2019-08-04 18:40] iscilyas commented on #199
FWIW, i can confirm that on the MIR3P 5ghz is working fine (can associate, etc). not as fast or robust-feeling as the closed-source driver, but usable.

[2019-08-04 22:43] iscilyas commented on #305
same with xiaomi mir3p (mt7621 with dual mt7615)... getting rates of 200mbit (on AC) while on closed-source driver could achieve 400mbit... N is also about half the speed of closed-source driver.

otherwise, congratulations and good job! very nice that it's working!

[2019-08-04 22:47] iscilyas commented on #279
seeing the same all-zero values for rate_txpower on xiaomi mir3p (mt7621 with dual mt7615)... it's odd that nobody commented on this issue yet

[2019-08-05 11:37] sylvainduchesne commented on #304
Reporting back. Indeed latest snapshot fixed the issue. Thanks!

[2019-08-05 11:37] #304 closed

[2019-08-08 17:01] xavier83 commented on #199
Thanks for the info @iscilyas , BTW did you face the issues described here https://forum.openwrt.org/t/mt7621-pcie-dts-issues-mt76-stopped-working-with-latest-updates/14623/1 before it started working?

[2019-08-08 17:16] iscilyas commented on #199
@xavier83 no. no issues at all. of course, the MIR3P  is a dual mt7615e system... i don't know why i was under the impression that the ZBT-WE1326 also had mt7615e... sorry for any confusion.

btw, in that link you referenced... why on earth don't they have the `compatible` keyword in the .dts?

here's the PR for getting mt76/mt7615e to work on the MIR3P (for some reason no-one has even touched it

[2019-08-09 20:55] iscilyas commented on #305
sorry just wanted to update/fix my previous post. i've done more testing, and what i see is more like 336+mbps on 5ghz and 115mbps on 2.4ghz (40mhz channel). this matches the speed of the closed-source mt7615e driver.

i'm also not seeing any significant quality drop with reasonable distance (1 very thick wall, 10-15 metres away from router)... my impression is that it's fine at even greater dista

[2019-08-11 09:46] claell opened #306 "Add support for automatic channel selection (ACS)"
According to a forum post, the driver currently does not support ACS (at least for the MT7621AT). So this is a feature request to add support for this functionality.

[2019-08-13 06:05] meeuw opened #307 "xhci_hcd 0000:00:14.0: WARN Wrong bounce buffer write length"
Since I'm using mt76x0u from this repository (instead of the version supplied by 5.1.20) for my ASUS AC51 my connection is much better. Thanks!

I only get the following warnings in dmesg:
[code]
(and this goes on)

Is this something I should/can fix? Do you know what has been fixed in this repository that isn't in linux stable yet? I'd like to switch back when that fix is merged.

[2019-08-13 09:09] sgruszka commented on #307
There is patch for this warning
https://marc.info/?l=linux-usb&m=156152916509643&w=2

Why on 5.1.20 connection is worse over this repo? Do we need to backport some mt76x0u fix to linux 5.1 ?

[2019-08-13 09:37] meeuw commented on #307
Thanks, if I look at the patch it's just a false-positive warning which I ignore for now.

I will have a look for what the differences are for mt76x0u in this repository and linux stable.

[2019-08-13 09:37] #307 closed

[2019-08-13 19:02] jsantala opened #308 "openwrt-19.07 status?"
I switched to openwrt-19.07 branch to get ready for the eventual 19.07 release which I could then keep using for some time, but a quick test resulted in abysmal wifi performance on a mt7628 device. What is the openwrt-19.07 branch status regarding the mt76 driver and what will it be going forward? Thanks for your great work on the driver.

[2019-08-13 19:18] julianocss commented on #308
Hello @jsantala.

The driver in 19.07 branch it´s not the latest version, the latest version had a lot of improvements and is much more stable.

You should always use the Openwrt snapshot builds to get the latest drivers, which is based on master openwrt branch.
What is your device?

Juliano

[2019-08-13 19:28] jsantala commented on #308
I tested on VoCore2, but the one I'll really be using is Omega2S+. Any chance of getting the updated driver into the openwrt-19.07 branch? I'd feel a lot more comfortable using a release branch (and eventually a release) in the long run, since I'm sure master is not going to be 100% stable at all times.

[2019-08-13 19:37] julianocss commented on #308
Yes, it is possible. Are you familiar with Openwrt build system?

[2019-08-14 07:08] jsantala commented on #308
I've been building my own firmware images for some time, but that's as deep as I've gone so far. Let me know if there's anything I can do to help in this matter.

[2019-08-14 09:59] julianocss commented on #308
Hello @jsantala.

You will have to work with mt76 Makefile in the build_dir.

Take a look in this thread, i explained how to do this.

https://forum.openwrt.org/t/tl-wr841n-v13-wifi-not-stable/16018/124

Regards.
Juliano

[2019-08-14 11:54] jsantala commented on #308
Thanks! I think I got it. Building with commit https://github.com/openwrt/mt76/tree/3245ca8b8aeb74c404ce28e0de41ce15772022f9 now.

[2019-08-14 11:54] #308 closed

[2019-08-14 18:19] ashbenz commented on #305
Hey @dissent1 !
I was eyeing the same unit you have (RE650), how do you like it? I was under the impression the low txpower issue was fixed on recent mt76 releases, but maybe not yet for the 7615?

Generally speaking are you happy with the device? If it was possible to power it with USB, or at least DC in I would've liked it much better than the wall-plug form factor, but generally it seems to fit

[2019-08-15 14:41] pjgowtham commented on #305
I only tested 5Ghz since 2.4Ghz is mostly being used by IOT anyways.
I tested it using iperf on an Asus TUF FX505DT, which probably has a 2x2 antenna. The power mode was on high performance while testing. I did a 60 seconds run each. Surprisingly, the speeds were better than that of the Archer C7 v4.

Mi R3P Tx @20dbm channel 36, Band width 80Mhz. 160Mhz wouldn't work anyways.
Run 1 - 287Mbit/sec

[2019-08-16 07:26] jsantala commented on #308
I suppose I can just do this in my build script to always use the latest mt76 driver:

[code]

[2019-08-16 09:06] julianocss commented on #308
Hello @jsantala.

To get the latest changes, you have to use mt76 repo. To get the latest official commits to Openwrt master, you can use your script.

Tell us about the latest changes.
It is more stable to you?

Juliano

[2019-08-16 09:26] jsantala commented on #308
Resulting list of variables would be, for example:

[code]

I think this should result in the latest drivers directly from mt76?

Current situation seems usable. Interestingly, when one connects to the AP, the connection seems pretty bad at first, but when you put some traffic on it, it seems to get better.

[2019-08-16 10:13] julianocss commented on #308
@jsantala.

No.
The version is the "name" of the commit.

I.E.: https://github.com/openwrt/mt76/tree/3245ca8b8aeb74c404ce28e0de41ce15772022f9

VERSION:=3245ca8b8aeb74c404ce28e0de41ce15772022f9

I really recommend you to try the latest snapshot. It is stable and have fixes that affects mt76 users.

Juliano

[2019-08-16 12:11] jsantala commented on #308
Ok. Will do.

[2019-08-16 12:21] jsantala commented on #308
Seems really good with 3245ca8b8aeb74c404ce28e0de41ce15772022f9. Thanks!

[2019-08-16 14:41] zuishikonghuan commented on #205
I think it should be the 'factory region of flash'. At least on some devices.

See dts file of devices, such like https://github.com/openwrt/openwrt/blob/master/target/linux/ramips/dts/mt7621_d-team_newifi-d2.dts , and you can find

[code]
the `mediatek,mtd-eeprom` is `factory` mtd part

[2019-08-21 16:37] paullai58 commented on #128
Is there any one could help to explain below.
In mt76x02_eeprom.h

enum mt76x02_eeprom_modes {
        MT_EE_READ,
        MT_EE_PHYSICAL_READ,
};

what different is between MT_EE_READ and MT_EE_PHYSICAL_READ?

Thanks.

[2019-08-21 16:44] paullai58 commented on #288
hello everyone,
Is there any one could help to explain below.
In mt76x02_eeprom.h
enum mt76x02_eeprom_modes {
MT_EE_READ,
MT_EE_PHYSICAL_READ,
};
what different is between MT_EE_READ and MT_EE_PHYSICAL_READ?
Thanks.

[2019-08-23 08:22] NerdyProjects commented on #278
I just discovered the same thing on a 18.06.4 archer c5 v1 (ath10k) where I try to get FT-over-DS going (802.1x & vlan setup) and have 802.11w enabled.
My Intel 7265 notebook reproduces the error as described in the issue, my galaxy s5 smartphone does not.

Any idea where to look further or where there is more communication about this issue? I found a cisco bug about the same topic, but no further

[2019-08-23 11:36] liugang commented on #139
Does AP Mode be supported?

https://github.com/torvalds/linux/commits/master/drivers/net/wireless/mediatek/mt76/mt76x02_util.c

https://github.com/torvalds/linux/commit/02d49a2e354b2026e1b0f60aabeafc37d540a2e1#diff-8a314ab288ac846fcfd720f17fe99c47

mt76x02: enable AP mode for USB

Enable AP mode. For now without multi-vif support, this will require
more testing and investigation.

[2019-08-23 12:31] sanitariu commented on #279
I extraced factory bin file from same mediatek chip 7628 and from tp-link 840 (mediatek 7628) version 6.0.
First router TX power perfect also openwrt works like a charm
Second router tp-link 840 version 6.0 very LOW tx-power also works like a charm but 2 meters near router.
Attaching both bin files
If someone knows how to decode the file ? You can view via hexdump or other but i need to know which

[2019-08-23 12:49] sanitariu commented on #279
I extraced factory bin file from same mediatek chip 7628 and from tp-link 840 (mediatek 7628) version 6.0.
First router TX power perfect also openwrt works like a charm
Second router tp-link 840 version 6.0 very LOW tx-power also works like a charm but 2 meters near router.
Attaching both bin files
If someone knows how to decode the file ? You can view via hexdump or other but i need to know which

[2019-08-24 18:43] rettichschnidi commented on #279
Answers to this you can find in the document [mt7628_eeprom_guideline_v2_00.pdf](https://www.widora.io/_media/mt7628_eeprom_guideline_v2_00.pdf).

[2019-08-26 21:04] tluciomiranda commented on #285
Hi @LorenzoBianconi

Just tested the latest snapshot and driver presents the same problem.
Do you have any methods so I can collect some debug info that could be useful to you ? Like logs, captures, ...

Regards

[2019-08-28 08:36] nbd168 commented on #305
Please try the latest version, it should work better now

[2019-08-28 10:11] #293 closed

[2019-08-28 10:11] #292 closed

[2019-08-28 10:11] #271 closed

[2019-08-28 23:54] CodeFetch opened #309 "Wrong antenna chain configuration on Archer C50 v4"
`iw phy` says both radios have three chains, but this router only has two on each radio.

[code]

Here's the EEPROM dump:

[code]

By the way... Until recently (I don't know the exact commit - about two months ago) the 2.4 GHz radio was totally deaf on this particular router while it worked for others of this model/version. What could have been the reason?

[2019-08-29 12:31] nbd168 commented on #309
Available/Configured antennas contains a bitmask, so the value 0x3 is correct. Not sure about the other issue you're describing.

[2019-08-29 12:31] #309 closed

[2019-08-30 09:41] neilalexander opened #310 "mt7610u: Active frame injection not working"
`mt76` driver was built from commit 2a0edbb .

Card is a TP-LINK ARCHER T1U connected via USB, which is a MT7610U:
[code]

The `mt76` driver reports active frame injection (as `Device supports active monitor (which will ACK incoming frames)` is available.

Attempts to use active frame injection in monitor mode using Owl seem to fail (as per issue seemoo-lab/owl#10).

Using monitor mode on another

[2019-08-30 12:05] sgruszka commented on #310
I believe frame injection is supported and working as it was reported that the driver works with hcxdumptool. However there where some problems with radiotap frame format. Hcxdumptool format worked on older kernels, but stopped working more recent kernels . See those hcxdumptool commits  and  https://www.kernel.org/doc/Documentation/networking/mac80211-injection.txt

commit 4b58011ad4dc337273ff6a7

[2019-08-30 12:08] LorenzoBianconi commented on #310
I tested mt76x0u with aircrack-ng and it was working fine

Lorenzo

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch; unzip;
touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp; umount;
make clean; sleep

[2019-08-30 12:16] neilalexander commented on #310
I am using a 5.2 kernel if that is useful to know?
[code]

[2019-08-30 12:22] sgruszka commented on #310
I would check it things works on some older kernel i.e. 4.20 . Also if changing the band from 5GHz to 2.4GHz make difference.

[2019-08-30 12:57] neilalexander commented on #310
Downgraded to kernel 4.20.1 and the situation is the same. No difference between 2.4GHz and 5GHz bands.

[2019-08-30 13:58] neilalexander commented on #310
Some other details from `dmesg` when connecting the adapter:
[code]
... which led me to wonder whether the firmware has something to do with this? Is there a specific firmware `.bin` that I should be using?

The `md5sum`s for the firmware that I have are below:
[code]
... and they came from Arch somewhere I think. The `mt7610e.bin` is the same `md5sum` as the one in the `mt76` repository, but ther

[2019-08-30 22:46] araujorm opened #311 "rcu_sched self-detected stall on CPU after calling mt76_dma_attach"
Hello.

Not sure if it's a mt76 issue, but the fact is that I get freezes that only seem to happen (not always) after mt76_dma_attach has been invoked, with the error ```rcu_sched self-detected stall on CPU``` (see full log below).

The device is a Xiaomi Mi Router 4A Gigabit Edition (SoC mt7621). It's not yet on the official Openwrt tree, but support is being worked on and discussed on a thread i

[2019-08-31 09:03] sgruszka commented on #310
Are there some easy steps to reproduce on two linux hosts  (one running owl and second wireshark for example )?

Firmware should make no difference, but you can try to use mt7610u.bin , just by removing mt7610e.bin from /lib/firmware/mediatek/ and re-plug the device.

[2019-08-31 11:05] neilalexander commented on #310
Gave this a go and sadly no difference.

Yes - that is pretty much exactly what I did to test.

To build Owl on a Linux machine I followed the instructions at https://github.com/seemoo-lab/owl - in my case I was using the Arch package. The code has relatively few dependencies though to build from scratch.

I then started Owl on one machine:
[code]
... which creates an `awdl0` virtual adapter and p

[2019-09-03 14:44] mans0n commented on #219
I wish for this feature too, not for overriding MAC address but loading eeprom itself.
I'm working with a device which has a eMMC, and mt76 eeprom data is stored somewhere in it.
But AFAIK we can't create a mtd partition on mmc.
Is there another way to load eeprom data from MMC?

[2019-09-04 10:32] sgruszka commented on #310
Running 'owl -i wlan0 -c 44 -v' seems to work for me . I can see lot's of ACTION frames in monitor mode on second system.

[2019-09-04 10:33] sgruszka commented on #310
file:///home/stasiu/Pictures/Screenshot%20from%202019-09-04%2012-28-33.png

[2019-09-04 10:37] sgruszka commented on #310
![Screenshot from 2019-09-04 12-28-33](https://user-images.githubusercontent.com/1064254/64248139-aec3ba80-cf10-11e9-86db-93d128e75619.png)

[2019-09-04 10:38] sgruszka commented on #310
I tested on kernel 5.3-rc7 using driver shipped with that kernel and owl updated to

commit d16adeca558eb6decaeb2ca8208910aaa8a99020 (HEAD -> master, origin/master, origin/HEAD)
Author: Milan Stute <mstute@seemoo.tu-darmstadt.de>
Date:   Fri Aug 30 15:17:52 2019 +0200

    Remove unused flag in TX radiotap header and use lower rate

[2019-09-04 10:46] neilalexander commented on #310
Thanks for taking the time to test, I'll try using kernel 5.3rc7 as well and see if I can recreate your conditions. I'm really not sure where else to look or what else to try apart from that.

[2019-09-04 10:59] sgruszka commented on #310
This issue could be also device specific, I tested on:
    Bus 001 Device 002: ID 148f:761a Ralink Technology, Corp. MT7610U ("Archer T2U" 2.4G+5G WLAN Adapter

[2019-09-04 11:15] neilalexander commented on #310
Yes, I'm starting to think so - I am using a T1U Nano to test. Is your T2U a [Nano](https://www.amazon.co.uk/Archer-T2U-Nano-Wireless-10-9-10-13/dp/B07LGSDBTF/ref=sr_1_4?keywords=tp-link+t2u&qid=1567595450&s=gateway&smid=A3P5ROKL5A1OLE&sr=8-4) or a [Mini](https://www.amazon.co.uk/Archer-T2U-Nano-Wireless-10-9-10-13/dp/B00K11UIV4/ref=sr_1_4?keywords=tp-link%2Bt2u&qid=1567595450&s=gateway&smid=A3P5R

[2019-09-04 11:51] sgruszka commented on #310
I tested on this [one](https://www.amazon.co.uk/Archer-T2UH-Wireless-Dual-Band-Compatible/dp/B00P115WMY/ref=pd_sbs_147_3/261-7314288-3352018?_encoding=UTF8&pd_rd_i=B00P115WMY&pd_rd_r=e40ac60e-2daf-4896-8390-834e40ff7714&pd_rd_w=TVInn&pd_rd_wg=VdKr5&pf_rd_p=7f9048ad-9bda-4493-8578-13e4eff8da65&pf_rd_r=PTVH79RAR3XMS5G0YMBG&psc=1&refRID=PTVH79RAR3XMS5G0YMBG).  But I have also a T1U device and will re

[2019-09-07 15:46] araujorm commented on #311
Hello.

Meanwhile a different support patch was tried to the device (Xiaomi Mi Router 4A Gigabit Edition) and I've had no more errors after that, for about a week. At this point I can't relate the errors I had with the mt76 driver, so I'll close this issue. Should anything else happens that's more likely to be related, I'll open another issue if appropriate.

Thanks to @nbd168, @LorenzoBianconi, @

[2019-09-07 15:46] #311 closed

[2019-09-09 10:20] rufengsuixing commented on #303
d1同样不定时炸掉
炸的时候无线没了网卡灯常亮
日志只能记到前两行
才知道原来是驱动炸了

[2019-09-09 13:49] redchenjs commented on #303
Very stable.
![Deepin 截圖_select-area_20190909214800](https://user-images.githubusercontent.com/9910809/64536417-a96cd280-d34b-11e9-83a3-d8fbb1f4f95e.png)

[2019-09-13 10:12] rufengsuixing commented on #303
重新编译了之后关掉了hwnet，现稳定

[2019-09-14 05:05] xavier83 commented on #227
Seem like I'm experiencing the same issue

https://github.com/openwrt/mt76/issues/199

[2019-09-14 05:09] xavier83 commented on #199
I had been thinking 2.4 GHz was working fine. turns-out it hadn't been utilizing 40MHz bandwidth only just 20 MHz even after setting the channel width to 40 MHz on luci. Noticed it with a WifiAnalyzer App.

[2019-09-16 13:33] dmke opened #312 "mt76: unusually high load"
We've recently switched to this OSS driver on our router fleet and are now monitoring unusual load behaviour.

After boot, the load stays at an expected 0.05-0.1, before jumping to a load of 1.0. It stays there and does not recover back to "normal" load (unless we reboot the device; turning wifi off/on again does not help). Some routers even jump to a load of 2.0:

![annotated-graph](https://user-

[2019-09-16 14:45] sgruszka commented on #310
I finally get this tested on T1U.  It works for me (mean I can receive owl frames in monitor mode on remote system, not checked if owl link works).

Device is nano adapter showed in lsusb as:
Bus 001 Device 007: ID 2357:0105 TP-Link Archer T1U 802.11a/n/ac Wireless Adapter [MediaTek MT7610U]

@neilalexander I'm not sure why it does not work for you. I would check for some obvious mistakes, i.e. ow

[2019-09-16 14:46] ynezz commented on #312
[perf](http://www.brendangregg.com/perf.html) & co.

[2019-09-16 16:15] dmke commented on #312
I will look into perf, thanks for the pointer.

[2019-09-18 04:02] siwind commented on #303
2019-09-16编译的newifi-d2固件。 内核版本4.14.143。
在LUCI-web界面那里， 网络-->防火墙处，不开启任何硬/软件 "Routing/NAT 分载(offload )"。
安装transmission并且外挂USB移动硬盘下载bt。

2-5分钟内不定时重启，无法正常使用。实在没办法，切换回半年以前编译的内核为： 4.14.114内核的固件，一切正常。

尽管驱动有更新，但是往往引入更多bug~~

[2019-09-18 09:47] neilalexander commented on #310
So it turns out that this was a regulatory domain problem. I hadn't configured one so it had defaulted to `DFS-UNSET`.

The hint was actually in the `iw list` output above all along—active frame injection will not work when there are `no IR` entries next to the channels, which is actually correct behaviour for the driver.

Setting the regulatory domain correctly removed the `no IR` restrictions on

[2019-09-18 09:47] #310 closed

[2019-09-21 14:23] lumixen opened #313 "Frequent Xiaomi Mi WiFi Router 3G reboots (crashes) under certain circumstances"
Hello everyone.

Last few months I observe quite frequent reboots with my Xiaomi Mi WiFi Router 3G + openwrt. I'm not 100% confident that the root cause of these reboots is `mt76` driver although I found some certain correlation between a combination of wirelessly connected devices in the house and reboots.

It's pretty hard for me to do traffic sniffing\debugging because I don't know really when

[2019-09-25 06:22] davidzmn commented on #227
Hi there I have the same problem
Already installed Kmod-mt76x0e and 5GHz radio isn't showing
Any Suggestion?
Thank you

[2019-09-25 12:44] corny commented on #312
When the load increases the 2.4 GHz wifi (`mt7603e`) stops working.

[2019-09-27 16:51] doa379 opened #314 "5GHz in AP mode with MT7612U device"
I'm pleased to report that this device can now function in AP mode under Kernel 5.2.

However the device only operates on the 2.4GHz band (802.11g).

I would like to request AP mode on the 5GHz band for greater bandwidth. hostapd reports "Hardware does not support configured channel".

This is a dual band RX/TX.

[2019-09-27 17:29] doa379 commented on #314
Ignore. Hostapd issue

[2019-09-27 17:29] #314 closed

[2019-09-30 12:05] VitaliySh opened #315 "MT7615: Add support for DBDC mode"
@LorenzoBianconi @nbd168 @chunkeey
The driver currently does not support DBDC mode. So this is a feature request to add support for this functionality. Can anyone explain how to do this? Do you have any plans?

[2019-09-30 17:48] dengqf6 opened #316 "mt7615 firmware init failed after soft reboot (reset required?)"
@nbd @chunkeey @LorenzoBianconi
SoC is IPQ4019.

After a soft reboot, MT7615 no longer works
[code]

I checked the `val` in `mt7615_load_firmware`
https://github.com/openwrt/mt76/blob/6f7d0f503d1013f0909fe52075da5d5d500ddca4/mt7615/mcu.c#L519 and it is already 7 (`FW_STATE_CR4_RDY`)

It seems that either the PCIe driver does not power cycle the PCIe interface after reboot, or the mt76 driver does

[2019-10-02 15:01] Assader commented on #315
So what changes has to be made to get at least primal DBDC support?
As far as i see:
- mt7615_mcu_init_mac has to be called two times, for each band;
- mt7615_mcu_ctrl_pm_state -- PM state has to be turned off for each band;
- mt7615_mcu_set_channel -- channel_band has to be set in respect to a band;
- something like mt7615_mcu_dbdc_ctrl has to be called to send MCU_EXT_CMD_DBDC_CTRL (0x45) to MCU

[2019-10-02 18:47] chunkeey commented on #316
That wouldn't surprise me. A lot of ath10k chips have problems after being PCIe reseted and taking down the system with it... But there are also patches in this area:

https://patchwork.kernel.org/patch/10966623/

So please check if this patch still applies to your case.

[2019-10-03 02:21] dengqf6 commented on #316
@chunkeey The patch has already been backported to 4.19
gregkh/linux@6b71c62ea9dac0e7e0b3a79575b4a2c7033b7cab

[2019-10-03 10:24] MeIsReallyBa opened #317 "Does the driver support hardware NAT offload？"
If not，is there any way to achieve it？

[2019-10-03 11:30] VitaliySh commented on #315
Should we have an additional "virtual" PCI device to let mac80211 do its work in the case of DBDC mode in 7615?

[2019-10-03 11:31] Assader commented on #315
The source code contains traces, related to DBDC.
Our team is currently working on it (well, trying to work), but we'd like to know, what was the plan?
ieee80211_hw seems to be constructed to work with one band only at a time.
Now i can imagine two ways of dealing with it.
The first one is, somehow, duplicate one physical PCI device to get a "virtual" one.
The second one is dirty: hardcode some ac

[2019-10-03 13:44] easyteacher commented on #155
Now my router's dmesg flushes with that message again!

[code]

[2019-10-04 10:32] dchard commented on #211
Latest snapshot as of today (on a Dlink 860L, mtk7621):

[88155.836241] ------------[ cut here ]------------
[88155.845483] WARNING: CPU: 3 PID: 0 at net/sched/sch_generic.c:320 dev_watchdog+0x1ac/0x324
[88155.861946] NETDEV WATCHDOG: eth0 (mtk_soc_eth): transmit queue 0 timed out
[88155.875801] Modules linked in: pppoe ppp_async pppox ppp_generic nf_conntrack_ipv6 mt76x2e mt76x2_common mt76x02_li

[2019-10-05 12:22] lumixen commented on #313
Hey @nbd168 , I don't know if it's related, but after series of these patches
![image](https://user-images.githubusercontent.com/4822235/66254758-9e0e9a80-e783-11e9-880a-835d511b3a4f.png)
I haven't seen reboots any longer. Weird though, I've tried once built image without flow offload modules though still got reboots🤔

[2019-10-05 12:33] lumixen commented on #317
@MeIsReallyBa Hey, what do you mean by "driver support for NAT offload"? `mt76` driver handles only wireless module -> kernel network stack communication, while NAT is "kernel network stack" part. Or I'm missing something?
Also, there already present support for hardware NAT offload (currently only mt7621 chipset) in openwrt since this commit: https://git.openwrt.org/?p=openwrt/openwrt.git;a=commi

[2019-10-05 17:05] MeIsReallyBa commented on #317
@lumixen It shows that it only support ethernet->ethernet connection, So I want to know whether it works in wifi. In MTK Stock firmware,hardware nat need some special setting to work in wifi or it would only work in wire connection.

[2019-10-06 11:34] lumixen commented on #317
@MeIsReallyBa indeed commit message explicitly mentions `ethernet->ethernet connections`. Did you make any tests with several wifi clients -> wan to see if
[code]
makes any difference?

[2019-10-09 01:22] #317 closed

[2019-10-10 02:13] heguihua commented on #145
I have the same issue too with the latest 18.06.1 & 18.06.4 on my Xiaomi-mini router。The wifi stops working after some minutes, both 2.4G & 5G.

I had to downgrade to an old version (PandoraBox - base on OpenWRT 14.09) , now it seems stable.

Could anyone reopen the issue?

[2019-10-10 06:01] kofec commented on #145
Xiaomi mini is using diffrent driver for 2,4G. I have the same router and I'm using master branch
(https://downloads.openwrt.org/snapshots/targets/ramips/mt7620/openwrt-ramips-mt7620-xiaomi_miwifi-mini-squashfs-sysupgrade.bin) but compiled by myself. And I can recomend this build
[code]
You can also try future stable branch:
https://dl.eko.one.pl/luci/openwrt-19.07/ramips/mt7620/luci-19.07-snapsho

[2019-10-10 09:20] heguihua commented on #145
Hi Mr. Kofec, many thanks to your detailed instructions, I will stay tune to the future builds.

But I will stick to (PandoraBox - base on OpenWRT 14.09) for time being, it outperforms the original Xiaomi mini router firmware,  it's stable and the signal is significantly great.

[2019-10-11 10:40] nbd168 commented on #312
Please try the latest version

[2019-10-11 10:41] thillux opened #318 "Preemption bug with MT7612U (AVM AC860 USB)"
I used commit d3a589586d1b1 on top of Linux 5.4-rc2 with a AVM AC860 USB adapter.

Running iw dev wlan0 survey dump yields the following output in dmesg:

[  291.790866] BUG: scheduling while atomic: iw/2161/0x00000202
[  291.790873] Modules linked in: ccm fuse snd_hda_codec_hdmi snd_hda_codec_realtek snd_hda_codec_generic nft_chain_nat nf_nat intel_rapl_msr intel_rapl_common nft_reject_inet nf_re

[2019-10-11 12:22] nbd168 commented on #313
I think the last instances of these crashes (even without flow offload) should be fixed in the latest version. Please test

[2019-10-11 13:24] thillux commented on #318
To me, this seems to be a rather fundamental issue with the current USB part in mt76, as long as the usb ctrl mutex is necessary because of slow and atomic register access.

[2019-10-11 13:43] thillux commented on #318
This dmesg output is also triggered through the periodical mac_work.

[  919.681641] BUG: scheduling while atomic: kworker/u16:19/2668/0x00000202
[  919.681645] Modules linked in: usb_storage ccm fuse snd_hda_codec_hdmi snd_hda_codec_realtek snd_hda_codec_generic nft_chain_nat nf_nat intel_rapl_msr intel_rapl_common nft_reject_inet nf_reject_ipv4 nf_reject_ipv6 nft_reject x86_pkg_temp_thermal inte

[2019-10-11 13:50] LorenzoBianconi commented on #318
looking at the code mt76_rr() runs usb_control_msg() that must not be run
in irq context. I will work on it.

Regards,
Lorenzo

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch; unzip;
touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp; umount;
make clean; sleep

[2019-10-11 13:56] thillux commented on #318
If I can assist testing, let me know. Furthermore, while reading the code of the driver, I've seen that mt76x02_mac_cc_reset calls a maybe unnecessary mt76_rr(dev, MT_CH_IDLE). As of now, only the MT_CH_BUSY register value is used later. Active time is obtained by tracking time between channel survey invocations if I understand this correctly.

[2019-10-11 14:34] nbd168 commented on #259
Please try the latest version

[2019-10-12 10:49] nicefile opened #319 "build dc14ac64e7f375078373c11d1196f4ae0ad393ab fails to run on mt7615"
unable to load foss mt7615e module  on R6260 kernel 4.14.141 and lastest mac80211
[ 8000.641320] bus=0x1, slot = 0x0, irq=0x18
[ 8000.672692] mt7615e 0000:01:00.0: Direct firmware load for mediatek/mt7615_n9.bin failed with error -2
[ 8000.691263] mt7615e 0000:01:00.0: Falling back to user helper
[ 8000.778417] firmware mediatek!mt7615_n9.bin: firmware_loading_store: map pages failed
[ 8000.794559

[2019-10-12 10:53] #319 closed

[2019-10-12 11:39] siwind commented on #303
Latest mt76 driver version

`
root@OpenWrt:~# opkg list-installed | grep mt76
kmod-mt76-core - 4.14.148+2019-10-10-d3a58958-1
kmod-mt7603 - 4.14.148+2019-10-10-d3a58958-1
kmod-mt76x02-common - 4.14.148+2019-10-10-d3a58958-1
kmod-mt76x2 - 4.14.148+2019-10-10-d3a58958-1
kmod-mt76x2-common - 4.14.148+2019-10-10-d3a58958-1
root@OpenWrt:~#
`

**And kernel Oops log:**

`
root@OpenWrt:~# cat /sys/kernel/

[2019-10-12 12:09] easyteacher commented on #155
New warning messages, not sure if it's related to mt76.

[2019-10-12 12:09] #155 closed

[2019-10-12 12:43] lumixen commented on #313
Indeed, so far - no reboots. Going to close this ticket, thank you!

[2019-10-14 06:27] siwind commented on #303
And another kernel panic log:

`
root@OpenWrt:~# cat /sys/kernel/debug/crashlog
Time: 1571028230.110638
Modules:        pppoe@8ee20000+2290     ppp_async@8eaee000+1bc0 pppox@8ee66000+58a      ppp_generic@8f1e8000+5b62     mt76x2e@8ed2c000+2910    mt76x2_common@8ed30000+2d88     mt76x02_lib@8f140000+a421       mt7603e@8eba0000+96ac   mt76@8eb80000+7f1d     mac80211@8f000000+76a81 iptable_nat@8ef720

[2019-10-14 08:54] sgruszka commented on #318
Simply reading register should be taken out of spin_lock_bh(&dev->cc_lock); section as it was before air-fairnesses changes.

[2019-10-14 13:32] LorenzoBianconi commented on #318
Yes, I will move the spin_lock inside .update_survey() and read cc_busy on
a local variable.

Regards,
Lorenzo

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch; unzip;
touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp; umount;
make clean; sleep

[2019-10-14 14:10] LorenzoBianconi commented on #318
@thillux could you please the patch you can find [here](https://github.com/LorenzoBianconi/mt76/commit/128f77a4d845de5c3b211b92c9e288958ba26655)?

[2019-10-14 14:40] thillux commented on #318
@LorenzoBianconi I'll test it this evening. Thanks a lot so far!

[2019-10-14 16:02] thillux commented on #318
I tested the patch and cannot see the above messages anymore.

[2019-10-14 16:04] LorenzoBianconi commented on #318
cool, thx for testing. I will work on an upstream fix. Can I add your tested by?

Regards,
Lorenzo

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch;
unzip; touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp;
umount; make clean; sleep

[2019-10-14 16:05] thillux commented on #318
Sure, feel free to add my tested by.

[2019-10-15 04:41] 1Jeff1 commented on #318
@LorenzoBianconi Trying to test a a6210 on openwrt x86 SBC,I found this bug ,after applied your patch the adapter is working without errors,Thanks for posting this fix

[2019-10-15 10:16] LorenzoBianconi commented on #318
@thillux @1Jeff1 : I updated the fix, could you please try this [patch](https://github.com/LorenzoBianconi/mt76/commit/69c0ced23111979ca8b57d296413adac532db02d)?

[2019-10-15 11:52] thillux commented on #318
@LorenzoBianconi I tested your last fix. It also works for me. I put the NIC in station mode, queried the survey data in a endless loop in the shell and ran iperf in order to generate some traffic. No dmesg output like the one above occured.

[2019-10-15 11:55] thillux commented on #318
I noticed, that channel transmit time is not updated correctly. But that also was the case before your patch.

Bidirectional iperf traffic does not increase the transmit channel time.

iw dev wlan0 survey dump | grep 5180 -A 4
        frequency:                      5180 MHz [in use]
        channel active time:            629121 ms
        channel busy time:              382522 ms
        channel

[2019-10-15 12:02] LorenzoBianconi commented on #318
Uhm, interesting..I double checked on mt76x2e and it works as expected so
maybe it is something usb related. I will look into it.

Regards,
Lorenzo

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch; unzip;
touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp; umount;
make clean; sleep

[2019-10-15 16:20] 1Jeff1 commented on #318
Tested your new patch , STA and AP are working,I can't comment how the device perform before since I got it yesterday,iperf test shows a good performance
[code]

[2019-10-15 22:14] #318 closed

[2019-10-15 22:24] thillux opened #320 "local_softirq_pending 08 with usb interface (MT7612U, AVM AC860)"
I'm currently seeing some dmesg lines:

NOHZ: local_softirq_pending 08

These seem to be caused by the mt76 driver for my USB NIC with MT7612U chip. My current intuition says, that mt76u_rx_tasklet() in usb.c should call local_bh_disable() and local_bh_enable() while processing frames. I'm testing tomorrow if using rcu_read_lock_bh()/rcu_read_unlock_bh() instead of rcu_read_lock()/rcu_read_unlock(

[2019-10-16 06:23] LorenzoBianconi commented on #320
@thillux are you testing latest version of the previous patch? (now in master branch)
Could you please provide syslog?

[2019-10-16 07:54] thillux commented on #320
I'll re-test with the current master branch. If I can still see the message, I'll provide some logs.

[2019-10-16 10:53] thillux commented on #320
I tested the current master 50b1e9bd25cdab113.

[  611.621045] NOHZ: local_softirq_pending 08
[  617.356352] NOHZ: local_softirq_pending 08
[  617.356702] NOHZ: local_softirq_pending 08
[  617.356755] NOHZ: local_softirq_pending 08

The local_softirq_pending 08 message still appears. In order to perform some stress testing, I use two MT7612U NICs. One only in monitor mode, one in station mode with

[2019-10-16 12:47] thillux commented on #320
@LorenzoBianconi  I made some small changes locally and ensured, that ieee80211_rx_napi,ieee80211_tx_status and ieee80211_tx_status_ext are always called with bh disabled. After these changes I was not able to reproduce the pending message from above.

[2019-10-17 14:37] thillux commented on #320
I have uploaded my patch for usb devices to my github profile. Find it at https://github.com/thillux/mt76/commit/7f53c0eb3599c6a0426737083ae9b8db5c7778a3.

[2019-10-18 06:11] LorenzoBianconi commented on #318
@thillux the issue should be resolved by this [patch](https://patchwork.kernel.org/patch/11197275/)

[2019-10-18 06:58] thillux commented on #318
@LorenzoBianconi Thanks lot again! I'll test it next week.

[2019-10-19 09:05] podtor opened #321 "WiFi ac (5GHz) in Netgear R6220 like client and master at same time"
I have one question, does WiFi ac (5GHz) in Netgear R6220 work on some version of drivers, at the same time as a client and as a master (i.e. as a 5GHz repeater)? WiFi N (2.4GHz) works without problems at one time as a client and master, and WiFi ac stops working at this setting. What's experience do you have in this matter?

[2019-10-19 19:12] podtor commented on #321
My fault, I broken configuration. Client and master works perfectly in AC standard.

[2019-10-19 19:12] #321 closed

[2019-10-20 03:13] siwind commented on #303
[newifi-d2-crashlog.txt](https://github.com/openwrt/mt76/files/3747423/newifi-d2-crashlog.txt)

[2019-10-20 08:14] komeilkma opened #322 "mt7628 After some time WiFi is connected but the device is unidentified network"
After the device is connected to WiFi, the ip will be disconnected and the device will display an unidentified network
How should I fix this problem?
Of course, I installed version 19 a month ago. Is there a change during this time to fix the current stable release?

[2019-10-21 10:40] thillux commented on #318
@LorenzoBianconi It seems to work with this patch.

iw dev wlan0 survey dump | grep 5180 -A 3
        frequency:                      5180 MHz [in use]
        channel active time:            173442 ms
        channel busy time:              30502 ms
        channel transmit time:          2776 ms

[2019-10-22 07:36] namidairo opened #323 "mt76: Low tx throughput/High tx retries in STA mode"
Has anyone else run into issues with tx throughput via mt76 when it is in STA (WDS/4addr on) mode? (Although I ran into a similar throughput issue when trying to run it as a 802.11s mesh point as well)

Running a mt7612 on a Xiaomi Miwifi Mini, on an OpenWRT snapshot (therefore up to commit d3a589586d1b1d9e1422e31f642a500ff0195f20)

[code]

From the mt76 station to the AP is as follows:

[code]

H

[2019-10-22 13:55] 1Jeff1 commented on #318
@LorenzoBianconi I had also tried the patch and transmit time now is beeing updated.
        #iw dev wlan0 survey dump | grep 5765 -A 4
        frequency:                      5765 MHz [in use]
        channel active time:            35211043 ms
        channel busy time:              1045721 ms
        channel BSS receive time:       5663 ms
        channel transmit time:          74598 ms

[2019-10-25 11:34] thillux opened #324 "beacon processing in AP mode takes too long on usb interfaces"
The current mt76 usb code writes beacon frames in 4 byte chunks. This takes a really long time (mt76x02u_pre_tbtt_work takes up to 700ms on my test system), it should be in the range of some microseconds or a low amount of milliseconds. This issue can be observed by putting a mt76 usb nic into AP mode and observing the beacons in monitor mode. Beacons are send timely by the hardware, but the TIM I

[2019-10-25 15:55] thillux commented on #324
In my current test setup I got the time needed for mt76x02u_pre_tbtt_work down to 4-5ms from 700ms before.

I've done the following:
- Transmit 192 Byte chunks in mt76u_copy
- Only set the beacon data mask twice in mt76x02u_pre_tbtt_work and not in __mt76x02_mac_set_beacon
- Remove loops from mt76x02_mac_set_beacon, as mt76x02u_pre_tbtt_work already loops over all beacons

My current test code res

[2019-10-28 11:34] Assader commented on #315
Hello.
We had some progress at the field of DBDC. Now we have:
- still working 2G at the band0;
- beacon frames are being sent simultaneous via band0 and band1 (2G and 5G);
- frames from both bands are being received and classified (pushed into wlan0 and wlan1);
But. All the frames are sent into band1 happens to fall into 2G.
Headers generated at the mac.c:mt7615_mac_write_txwi are seems to be cor

[2019-10-31 00:25] leonardcoutinho opened #325 "After 10/10/2019 builds from openwrt my devices can't connect to the 5ghz wifi from router"
After 10/10 builds my devices can't connect to the 5ghz wifi from router. My router is an D-link Dir 810l A1 (mt7620A+7610en). I have few knowledge about source code and linux, but I can help if needed to find a solution.

[2019-10-31 00:26] leonardcoutinho commented on #325
in newer builds my phone see the 5g network but refuse to connect, my laptop can't conect too.

[2019-10-31 12:23] LynxChaus commented on #92
@dangowrt, see the message "mt76x2e 0000:02:00.0: Invalid MAC address, using random address 96:02:e8:bb:e1:1c" ??
This mean - driver can't load EEPROM data. And start firmware. After that - device unreliable.

[2019-10-31 19:00] xavier83 commented on #325
Welcome to my world https://github.com/openwrt/mt76/issues/199 :stuck_out_tongue_closed_eyes:

[2019-10-31 19:12] leonardcoutinho commented on #325
I saved 10/10/19 snapshot build, but 2.4g is not full stable, in latest snapshot(after 10/10, or 4.14.146 kernel), 2.4g is stable but 5g don't work. I hope to it will be fixed in next days, because I saw dev guys working in code.

[2019-10-31 19:12] leonardcoutinho commented on #325
I think is same problem >_<

[2019-10-31 19:22] xavier83 commented on #325
Hope so. it has been a year now :smile:

[2019-11-02 05:38] umbrellary opened #326 "mt7628a with pcie mt7612e board 5g error: MCU message 2 (seq 13) timed out"
- boot dmesg
[   13.114927] mt76_wmac 10300000.wmac: ASIC revision: 76280001
[   13.258893] random: crng init done
[   13.262357] random: 6 urandom warning(s) missed due to ratelimiting
[   14.156809] mt76_wmac 10300000.wmac: Firmware Version: 20151201
[   14.162831] mt76_wmac 10300000.wmac: Build Time: 20151201183641
[   14.184732] mt76_wmac 10300000.wmac: firmware init done
[   14.353400] ieee80

[2019-11-02 11:32] #326 closed

[2019-11-04 07:35] kamnxt commented on #325
On my router (a I-O DATA WN-AX1167GR2, community supported), I'm getting a similar issue. Devices start connecting but cannot associate completely:

[code]

Oddly enough LuCi is showing the devices in the connected list for a short while before they disappear.

[2019-11-06 20:21] intelfx opened #327 "mt7615: slow tx in non-ideal conditions — problematic rate selection?"
I'm having here a pair of Xiaomi routers, [Mi WiFi R3G (mir3g)](https://openwrt.org/toh/xiaomi/mir3g) and [Mi Router 3 Pro (mir3p)](https://openwrt.org/toh/xiaomi/xiaomi_r3p_pro) together with an Intel 9260 client in my laptop.

For the purposes of the test, I've been using 23 dBm transmit power and a 80MHz-wide channel 161 on both APs.

The immediate problem is that under near-ideal conditions (i

[2019-11-09 08:51] AndyX90 commented on #227
Same for me. kmod-mt76x0e installed and no wifi showing.
DMESG-Output:

[2019-11-09 15:04] LGA1150 commented on #315
@Assader Have you tried the new firmware at #282 ?

[2019-11-09 20:32] Assader commented on #315
@LGA1150 it turned out that current firmware is ok. mt7615 branch of this repo contains DBDC-capable version of the driver. Some work there still has to be done, but soon the branch will be merged to master.

[2019-11-10 08:54] AndyX90 opened #328 "MT7610EN - No Radio"
I am using a TP-Link Archer VR200v (MT7610EN for 5GHz) and after installing kmod-mt76x0e no wifi is coming up.

On current OpenWRT Snapshot(Kernel 4.19.81).

Lines in Kernel Log:

[2019-11-10 09:19] LorenzoBianconi commented on #328
It seems to me an eeprom value issue. Could you please provide device
eeprom?

On Sun, Nov 10, 2019 at 10:54 AM Andy Binder <notifications@github.com>
wrote:

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch; unzip;
touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp; umount;
make clean; sleep

[2019-11-10 12:14] AndyX90 commented on #328
Sure, i will provide anything you need!
According to [OpenWRT-TOH](https://openwrt.org/toh/tp-link/vr200v) the flash layout on stock firmware is the following:

[code]
I was able to backup all mtd-partitions except mtd7, which seem to be not mounted on stock firmware.
Can you tell me exactly what you need?

Thanks!

[2019-11-12 20:49] nicefile opened #329 "mt7615e @ R6260 antenna detect 4x4 instead 3x3"
It seems to be detection issue with antenna count . Netgear R6260 has 3 antennas . 2 external and one internal .  My mt76 compilation is from 10.10.2019
On mt76 iw phy info shows :
Available Antennas: TX 0xf RX 0xf
1111b
Also MCS  numbers is counted up to 4 streams
I'm unable to set antenna number to 1110
root@OpenWrt:~# iw phy1 set antenna 0xe 0xe
command failed: Not supported (-122)

for referen

[2019-11-13 18:14] leonardcoutinho commented on #325
I will check tomorrow. I installed 19.07RC1 and both of radios works, 5ghz give 100mbit speed, but 2.4ghz won't past 35mbit, even with 40mhz forced option. My laptop card is an Intel AX200, an 2x2 wifi 6 card.

[2019-11-14 15:21] LorenzoBianconi commented on #329
@nicefile could you please provide your eeprom data?

[2019-11-14 16:41] LorenzoBianconi commented on #329
@nicefile could you please to test this [patch](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/513773605844a283806e579c51fc58489f9a42a6)?

[2019-11-14 17:50] nicefile commented on #329
@LorenzoBianconi
[mt7615.eeprom1.bin.zip](https://github.com/openwrt/mt76/files/3847848/mt7615.eeprom1.bin.zip)
Yes I can build and test above patch

[2019-11-14 17:55] LorenzoBianconi commented on #329
@nicefile I updated the patch, the new patch is this [one](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/2ad8ff3a8e7a8f2cd752cdb0f2e6699675d33f7d).

[2019-11-14 18:48] nicefile commented on #329
@LorenzoBianconi It work now 3x3  .Also signal meter shows 70% instead 27% previously
iw phy3 info
Wiphy phy3
        max # scan SSIDs: 4
        max scan IEs length: 2247 bytes
        max # sched scan SSIDs: 0
        max # match sets: 0
        max # scan plans: 1
        max scan plan interval: -1
        max scan plan iterations: 0
        Retry short limit: 7
        Retry long limit: 4

[2019-11-14 18:50] LorenzoBianconi commented on #329
Cool :) Have you tested the latest version? If so I will post it upstream
adding your Tested-by

Regards,
Lorenzo

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch; unzip;
touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp; umount;
make clean; sleep

[2019-11-14 19:00] nicefile commented on #329
@LorenzoBianconi
lastest openwrt master commit

[2019-11-14 19:03] LorenzoBianconi commented on #329
I mean my last [patch](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/2ad8ff3a8e7a8f2cd752cdb0f2e6699675d33f7d)

[2019-11-14 19:06] nicefile commented on #329
@LorenzoBianconi
Yes lastest patch

[2019-11-14 20:00] LorenzoBianconi commented on #329
Ok, cool. I will post it soon.

Regards,
Lorenzo

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch; unzip;
touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp; umount;
make clean; sleep

[2019-11-15 12:03] nicefile commented on #329
@LorenzoBianconi
Just one question . Will be possible to use AC@160Mhz wide channel  on 3x3 antenna ? I Think not basing my current tests . It's constantly stays @80Mhz no matter what I do

[2019-11-15 17:20] LorenzoBianconi commented on #329
@nicefile I do not think bandwidth depends on # of streams

[2019-11-15 21:25] LorenzoBianconi commented on #328
@AndyX90 I think we need the radio partition

[2019-11-16 19:05] perillamint commented on #200
AFAIK, it uses MT7600U rather then MT7612U. Wikidevi has information about dongles but now Wikidevi is dead. :(

[2019-11-17 17:34] ddragic commented on #200
The older, bigger, adapter uses MT7600U for sure, but it looks like the newer one (model 1790) is based on MT7632U as can be seen from the dmesg output above: **ASIC revision: 76320044**

Also on TechInfoDepot it's listed as MT7632TUN:
http://en.techinfodepot.shoutwiki.com/wiki/Microsoft_1790

[2019-11-18 22:19] h-s-c commented on #328
I think this is a byte-order issue.

Here is the radio partition from my VR200v:
[OpenWrt.mtd9.zip](https://github.com/openwrt/mt76/files/3860875/OpenWrt.mtd9.zip)

And here is the EEPROM file that is also in the original firmware and is maybe used instead of the device partition:
[MT7610E-V10-FEM-1ANT.zip](https://github.com/openwrt/mt76/files/3860913/MT7610E-V10-FEM-1ANT.zip)

[2019-11-18 23:12] LorenzoBianconi commented on #328
@h-s-c could you please double check mt76_eeprom_init (run by mt76x0_load_eeprom) is able to read mtd data partition? It seems to me mt76_eeprom_init fails (found = 0) and the driver falls back trying to access efuse data. BTW the files you provided seems very similar (just few differences)

[2019-11-19 18:27] h-s-c commented on #328
Sorry for the confusion. You are right. I misremembered the error message.
The error indicates a missing mediatek,mtd-eeprom property in the device tree.

If you wire that all up you get another error:

mt76_eeprom_init reads the mtd partition fine just in the wrong byte-order.
mt76x0_check_eeprom checks for 0x7610 but gets 0x1076.

If i byte swap dev->eeprom.data after mtd_read inside mt76_get_of

[2019-11-19 19:28] LorenzoBianconi commented on #328
@h-s-c re-looking at file you provided it seems the eeprom data is written in big endian while mt76 assumes it is written in little endian

[2019-11-19 19:55] h-s-c commented on #328
@LorenzoBianconi That's the gist of it.

[2019-11-19 20:25] LorenzoBianconi commented on #328
@h-s-c could you please try this [patch](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/6835b43caccfd47d335afe65b72b55780afe74e1)

[2019-11-20 01:36] h-s-c commented on #328
@LorenzoBianconi mt76x0_check_eeprom does not use mt76x02_eeprom_get it uses it own get_unaligned_le16(dev->mt76.eeprom.data) call to check the EEPROM header.

[   29.754277] mt76x0e 0000:02:00.0: ASIC revision: 76100002
[   29.766702] mt76x0e 0000:02:00.0: Firmware Version: 0.1.00
[   29.981292] mt76x0e 0000:02:00.0: EEPROM data check failed: 1076
[   30.024384] mt76x0e 0000:02:00.0: driver does

[2019-11-20 08:42] LorenzoBianconi commented on #328
@h-s-c ack, I will review the code

[2019-11-20 21:44] LorenzoBianconi commented on #328
@h-s-c I guess it is better to follow your approach and swap eeprom data. Could you please try [patch](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/72010702b6993ec3fb2616d0b458bbf999b33747)? Thanks

[2019-11-20 21:54] LorenzoBianconi commented on #329
@nicefile I guess it can be closed now

[2019-11-21 18:13] #320 closed

[2019-11-21 20:01] h-s-c commented on #328
@LorenzoBianconi dev->eeprom.data is a void*

error: taking address of expression of type 'void' [-Werror]

    ...
    struct debugfs_blob_wrapper eeprom;
    ...
};

	void *data;
	unsigned long size;
};

[2019-11-21 20:14] LorenzoBianconi commented on #328
@h-s-c ack, updated [here](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/f578ab8d3e0206776c6725b49e9cd7fb04d5ee20)

[2019-11-22 04:57] h-s-c commented on #328
@LorenzoBianconi of_property_read_bool(np, "big-endian") does not work because np points to the wrong node at that point.

...
np = of_find_node_by_phandle(phandle);
...
if (of_property_read_bool(np, "big-endian")) {

Device tree:

big-endian;
ieee80211-freq-limit = <5000000 6000000>;

[2019-11-22 07:51] LorenzoBianconi commented on #328
@h-s-c my idea is to add the 'big-endian' properly into the radio partition node (e.g 'factory' node) instead of into the wireless device one (e.g. mt76). Could you please try to add the property into the radio partition node in the board dts?

[2019-11-22 09:59] nbd168 commented on #328
I don't think it should be added to the partition node, that probably won't sit well with upstream either, since it's overloading a different namespace.
Please add the property to the wireless device node.

[2019-11-22 10:14] LorenzoBianconi commented on #328
ack, but do we have the same issue for 'label' in this case?

[2019-11-22 15:26] LorenzoBianconi commented on #328
@h-s-c [this](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/7938c5e6645da25a2445ccb1987ee9983b8d8a68) is updated version with big-ending property added in wireless device node instead of in partition one. Could you please give it a whirl?

[2019-11-22 17:40] h-s-c commented on #328
@LorenzoBianconi Driver loads fine. Thank you very much!

[   29.851346] mt76x0e 0000:02:00.0: ASIC revision: 76100002
[   29.863235] mt76x0e 0000:02:00.0: Firmware Version: 0.1.00
[   30.081321] mt76x0e 0000:02:00.0: EEPROM ver:01 fae:00

[2019-11-22 17:43] LorenzoBianconi commented on #328
Just to be on the same page, have you used last [patch](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/7938c5e6645da25a2445ccb1987ee9983b8d8a68)?
Is the driver working fine now? (passing traffic and so on). If so I will post the fix with your tested-by tag

Thanks for testing

[2019-11-22 18:46] h-s-c commented on #328
@LorenzoBianconi Yes i used the last patch.
SSID shows up but i cant connect with any of my devices.
No errors/warnings/messages in either system or kernel log while trying to connect.
Cant see anything obvious on my Android looking at adb logcat.
I tried multiple channel, 20/40/80 MHz and N/AC combinations.

        option type 'mac80211'
        option path 'pci0000:01/0000:01:00.0/0000:02:00.0'

[2019-11-22 18:57] LorenzoBianconi commented on #328
@h-s-c could you please provide logread() output?

[2019-11-22 19:25] h-s-c commented on #328
@LorenzoBianconi

 logread of wlan down/wlan up after that a connection attempt (wireless.radio0.log_level=1)

Fri Nov 22 20:08:28 2019 daemon.notice hostapd: wlan0: interface state ENABLED->DISABLED
Fri Nov 22 20:08:28 2019 daemon.notice hostapd: wlan0: AP-DISABLED
Fri Nov 22 20:08:28 2019 daemon.notice hostapd: wlan0: CTRL-EVENT-TERMINATING
Fri Nov 22 20:08:28 2019 daemon.notice hostapd: nl80211

[2019-11-22 19:50] #329 closed

[2019-11-22 21:09] LorenzoBianconi commented on #328
@h-s-c looking at the patch we are going to swap even the mac address, what is the mac address showed by ifconfig or ip a? Could you please try to overwrite it using 'mac-address' property in wireless device dts node?

[2019-11-22 23:03] tluciomiranda commented on #285
Hi @LorenzoBianconi

Regarding this problem, I discovered via tcpdump on monitor interface that wifi beacons are being sent every ~300ms instead of the 100ms that are set in the file above. Can't tell if this can be related or not with the problem, but thought I should share.

[beacon.txt](https://github.com/openwrt/mt76/files/3881751/beacon.txt)

Again, I would be glad to help you debug this. If

[2019-11-22 23:04] h-s-c commented on #328
@LorenzoBianconi I already used the mac-adress property to try to follow stock firmware behaviour...
After removing it everything works fine (Traffic etc.).
Thanks for the help.

[Working Patch](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/7938c5e6645da25a2445ccb1987ee9983b8d8a68)

[2019-11-22 23:33] LorenzoBianconi commented on #328
@h-s-c so, to be on the same page..adding the latest patch and removing the Mac address entry in the dts, it works fine. Correct?

[2019-11-22 23:59] h-s-c commented on #328
@LorenzoBianconi  Correct.

[2019-11-23 00:07] LorenzoBianconi commented on #328
Ack, thx for testing..I will post the patch adding your tested by

Regards

On Sat, Nov 23, 2019, 1:59 AM Kevin Schmidt <notifications@github.com>
wrote:

[2019-11-23 03:08] siwind commented on #303
root@OpenWrt:~# cat /sys/kernel/debug/crashlog
Time: 1574477766.803429
Modules:        pppoe@8eb34000+2290     ppp_async@8ea50000+1bc0 pppox@8eaf0000+58a      ppp_generic@8f1d0000+5b62     mt76x2e@8eb0c000+28b0    mt76x2_common@8eac4000+2d88     mt76x02_lib@8f0b0000+a421       mt7603e@8ebd0000+970c   mt76@8eb60000+81e4     mac80211@8f000000+77c29 iptable_nat@8eee2000+310        ipt_REJECT@8ecee000

[2019-11-23 10:29] LorenzoBianconi commented on #328
@h-s-c Maybe I found why 'mtd-mac-address' property breaks the connection on mt76x0e. Could you please try to apply this [patch](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/81f0cfa6f34d4f657c2ed75ebed61ecae24d133e) ontop of the big endian fix and reintroduce the mtd-mac-address property in the board device tree? Thanks

[2019-11-23 10:36] LorenzoBianconi commented on #325
@leonardcoutinho could you please try this [patch](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/81f0cfa6f34d4f657c2ed75ebed61ecae24d133e)? Thanks

[2019-11-23 17:38] hdamico commented on #57
Does anyone still have the patches? Links are broken and i can't find them

[2019-11-23 21:14] h-s-c commented on #328
@LorenzoBianconi I can confirm that the patch fixes the mtd-mac-address property on mt76x0e.

[2019-11-25 00:32] siwind commented on #303
root@OpenWrt:~# cat /sys/kernel/debug/crashlog
Time: 1574640813.932966
Modules:        pppoe@8ea80000+2290     ppp_async@8ed66000+1bc0 pppox@8ea1e000+58a      ppp_generic@8ea18000+5b62     mt76x2e@8edf4000+28b0    mt76x2_common@8ec50000+2d88     mt76x02_lib@8f310000+a421       mt7603e@8ede0000+970c   mt76@8ed70000+81e4     mac80211@8f200000+77c69 iptable_nat@8e8dd000+310        ipt_REJECT@8ef0f000

[2019-11-25 01:36] araujorm commented on #303
The latest commit mentions something about softirq: https://github.com/openwrt/mt76/commit/44825e88a42dbd570b142271ea1b4cca9ad5b3c3

May be a longshot but if I were you I'd try compiling with the latest master branch of the driver and see if it solves your issue...

[2019-11-25 06:10] rozhuk-im commented on #328
Hi!
I have DIR-510L, looks like it have same issue with 5GHz WiFi.
I try patch but got:
[code]
my dst have ```big-endian;```
[code]
and I add changes from https://github.com/LorenzoBianconi/wireless-drivers-next/commit/7938c5e6645da25a2445ccb1987ee9983b8d8a68 before build to
/mnt/owrt/build_dir/target-mipsel_24kc_musl/linux-ramips_mt7620/mt76-2019-10-10-d3a58958/eeprom.c
/mnt/owrt/build_dir/target

[2019-11-25 09:08] LorenzoBianconi commented on #328
@rozhuk-im could you please provide the config partition?

[2019-11-25 09:23] rozhuk-im commented on #328
Full Flash: http://www.netlab.linkpc.net/download/tmp/DIR-510L/dir510l_new.bin

[2019-11-25 09:29] LorenzoBianconi commented on #328
@rozhuk-im looking at the config partition it seems to me already in little endian, please remove the big-endian property in the wireless device dts node (but please keep both patches applied)

[2019-11-25 23:31] rozhuk-im commented on #328
I revert dts to remove ```big-endian;```, but still can not connect:
[code]

[2019-11-26 04:53] LorenzoBianconi commented on #328
@rozhuk-im Is the mtd patch applied?

[2019-11-28 08:21] Compunctus commented on #325
This fixed the same issue (was unable to associate to ap) for my tplink archer c1 v1! Thanks.

[2019-12-01 21:44] rozhuk-im commented on #328
@LorenzoBianconi only https://github.com/LorenzoBianconi/wireless-drivers-next/commit/7938c5e6645da25a2445ccb1987ee9983b8d8a68

[2019-12-01 21:46] LorenzoBianconi commented on #328
You need to apply even this [patch](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/81f0cfa6f34d4f657c2ed75ebed61ecae24d133e)

[2019-12-01 21:52] rozhuk-im commented on #328
What is a proper way to add/apply these patches?

[2019-12-01 21:56] LorenzoBianconi commented on #328
you can cherry-pick or am the patch from [here](https://github.com/LorenzoBianconi/mt76/commit/7e6c821881180ac934d41b6b86f49956572082e3)

[2019-12-01 22:17] rozhuk-im commented on #328
But I'm building openwrt "image" not mt76.

[2019-12-02 01:54] leonardcoutinho commented on #325
I can't test these patchs now because router is in my work now, and is running stable with 19.07 rc1. When these patchs will merge with snapshot builds or stable builds?

[2019-12-02 01:55] leonardcoutinho commented on #325
thanks for your work Lorenzo

[2019-12-02 13:57] xavier83 commented on #199
Not yet working on OpenWrt 19.07.0-rc1 realease, Tested on 02 Dec 2019.

[2019-12-03 03:21] dengqf6 opened #330 "MT7615 LED"
I got a router whose wireless LED is connected to MT7615 GPIO#14 directly, but the LED is not working with mt76 driver.

Is `led-sources` required in the DTS?

[2019-12-04 09:26] LorenzoBianconi commented on #330
@dengqf6 mt7615 has some pwm led pins, are you sure the led is connected to a generic gpio? (I have no 7615 pin layout)

[2019-12-04 16:28] LorenzoBianconi commented on #330
@dengqf6 now I think I got the point, GPIO14 should be a led pin. I will send you a patch to test.

[2019-12-04 20:57] thelinuxdude opened #331 "mt76: mt7612 5 GHz channels width when using as mesh backhaul"
Using 17.01. I've been using the 5GHz on the mt7612 for a mesh backhaul (802.11s) and noticed when I change channels and set the vht that the width does not change and is stuck at 80MHz, I have used the lower channels 36-48 and the upper 149-161.  I have also set channel 165 that is suppose to be 20 MHz (Does not matter if I set it to 20/40 or 80 VHT in the /etc/config/wireless on any channels), w

[2019-12-05 02:38] libiao0120 opened #332 "mt7603 config ANTSEL pins to drive external PA or LNA"
I am using the mt7603 chip, which supports 2 receiving and 2 sending, I found that the chip only outputs a set of driving signals to drive the external PA. The other PA enable signal is not output. How to configure the function of the ANTSEL0 ~ ANTSEL5 pins of mt7603 in the driver to enable it to output the enable signal of the external PA or LNA during transmission and reception. I found the rele

[2019-12-05 04:11] dengqf6 commented on #330
@LorenzoBianconi Yes. AKA pin 35.

[2019-12-05 14:41] LorenzoBianconi commented on #330
@dengqf6 could you please try this [patch](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/60b1c72208c634d48d89c23cbcf382e2c4f74651)? I do not think you need to add any node in the device tree since the default LED is 0

[2019-12-06 14:34] PolynomialDivision opened #334 "mt76x2u: BEACON-RESP-RX always empty"
I tried to get beacon response messages, but the answer is always

    wlan0: BEACON-RESP-RX 00:xx:xx:xx:xx:xx 62 04

Actually it should be something like

    wlan0: BEACON-RESP-RX 00:xx:xx:xx:xx:xx 62 04 [here some binary data...]

I checked everything with a Nexus 5X and it works fine.

[2019-12-06 18:21] LorenzoBianconi commented on #334
Could you please provide more details? Could you please provide a
reproducer?

Regards,
Lorenzo

On Fri, Dec 6, 2019, 3:34 PM Polynomdivision <notifications@github.com>
wrote:

[2019-12-07 21:55] Mushoz commented on #327
There's been quite a few commits in the mean time. Has the situation been improved already?

[2019-12-08 08:19] dengqf6 commented on #330
Tried. Did not work.

[2019-12-08 08:35] LorenzoBianconi commented on #330
Hi,

thx for testing..could you please double check the led entry is properly
created in /sys/class/leds/mt76-phyX?
Moreover, could you please double check the trigger?
You can try to change led pin and polarity in debug filesystem led_pin and
led_active

Regards,
Lorenzo

On Sun, Dec 8, 2019, 9:19 AM DENG Qingfang <notifications@github.com> wrote:

[2019-12-08 15:20] intelfx commented on #327
@Mushoz As far as I can tell, there was no relevant commits since the issue was created. In either case, I'm tracking the openwrt trunk and the problem is still there.

[2019-12-09 09:47] PolynomialDivision commented on #334
There are different beacon request modes.
* BEACON_REPORT_MODE_PASSIVE
* BEACON_REPORT_MODE_ACTIVE
* BEACON_REPORT_MODE_TABLE

The station says it supports all the modes. Otherwise, `hostapd` would say, that the client does not support those. I'm working with `OpenWrt`, and there you can easily reproduce the issue.

First enable rrm

    ubus call hostapd.wlan0 bss_mgmt_enable '{"neighbor_report":

[2019-12-09 13:28] dengqf6 commented on #330
@LorenzoBianconi The mt76-phyX were not registered.
The mt76 version is openwrt/mt76@d3a58958 (in OpenWrt master). Is that the cause?

[2019-12-09 14:41] LorenzoBianconi commented on #330
Have you applied the patch I pointed out in the previous message?

On Mon, Dec 9, 2019, 8:28 AM DENG Qingfang <notifications@github.com> wrote:

[2019-12-09 16:34] dengqf6 commented on #330
Yes

[2019-12-09 17:23] LorenzoBianconi commented on #330
@dengqf6 : got it, we are missing this [patch](https://github.com/LorenzoBianconi/mt76/commit/e1cb717eb6c5f0f5f616edfd77670e00dcad1391) for mt76 github repo.
Could you please try to use this [mt76](https://github.com/LorenzoBianconi/mt76/tree/mt76-devel) branch?

[2019-12-10 08:34] AndyX90 commented on #328
Will this patch be merged to openwrt/mt76?

[2019-12-10 12:38] dengqf6 commented on #330
It's working now. Thanks!

[2019-12-10 18:00] #324 closed

[2019-12-13 23:33] #312 closed

[2019-12-15 07:55] Gingernut1978 commented on #323
I've run into this problem this weekend.

[https://forum.openwrt.org/t/wds-client-ap-tx-rate-problem/50503](url)

I can add any info needed to debug this.

[2019-12-15 09:38] vitaliy-kuzmich commented on #88
Same here

[2019-12-15 10:29] Gingernut1978 commented on #323
@namidairo

If you can, test latest snapshot and see if the problem is resolved.

The few tests I've done are positive.

[2019-12-17 06:31] zhoreeq commented on #259
I can confirm it doesn't work on a build from 24 October 2019.  OpenWrt SNAPSHOT r11323-49db2026e5 on Asus RT-AC51U, MediaTek MT7620A ver:2 eco:6

Mesh network configuration works on a router, the interface is created. My laptop can see the router with `iw dev mesh0 station dump`, but the router can't see laptop. Pings are not working either.

[2019-12-17 09:36] dangowrt commented on #259
@zhoreeq Did you test 2.4GHz as well? (because that's not mt76 then but rather the old rt2x00 driver and problems should be reported to linux-wireless)

[2019-12-17 10:55] namidairo commented on #323
Tested against the snapshot before remembering that it's still on an older commit of mt76 from October, no change.

Pointed the Makefile at the current master and rolled my own build, no change.

[2019-12-17 15:33] zhoreeq commented on #259
@dangowrt yes, it was a test on 2.4. I don't have 5HGz in a laptop.

[2019-12-18 21:01] Lankaster commented on #227
Same problem on Asus RT-AC51U, Openwrt 19.07 (commit d2d12346e8e6dd5fbb6befd4f9e3e1d5304a2e31)
[code]
wifi (both 2.4 & 5 ) doesn't work.

[2019-12-19 00:17] siwind commented on #303
compiled with the latest master and the latest branch of "openwrt-19.07",  kernel crash  still happen.

[2019-12-19 10:43] zhoreeq commented on #259
@dangowrt can you please clarify, should this issue be reported to linux-wireless? I'm a bit confused :)

[2019-12-19 11:01] dangowrt commented on #259
@zhoreeq So that Asus RT-AC51U got an MT7620A SoC, which contains Ralink RT6352 2.4GHz WiFi radio supported by the rt2x00 driver. Only the 5 GHz chip is supported by the mt76 driver which is developed in this repository. Hence, if you experience problems when using the 2.4GHz radio, please report them to the linux-wireless mailinglist http://vger.kernel.org/vger-lists.html#linux-wireless and CC to

[2019-12-19 11:43] daiaji opened #335 "When I set WAP3 for the 2.4G wireless of the MT7620A, the 2.4G wireless of the MT7620A will not work for me."
Even if I change the 2.4G wireless encryption method of MT7620A device from WPA2-PSK / WPA3-SAE Mixed Mode back to WPA-PSK / WPA2-PSK Mixed Mode, the 2.4G wireless of MT7620A will not work for me unless I am after this reboot the router.
The ACRH17 I used for ipq40xx did not have this problem.

[2019-12-19 13:29] lukasz1992 commented on #335
mt7620a is not supported by mt76 driver

[2019-12-19 13:35] lukasz1992 commented on #199
@xavier83 Because OpenWRT 19.07 currently stays on commit from August.

[2019-12-19 14:14] dangowrt commented on #335
Please report this problem at the right place, which for the rt2x00 driver is the linux-wireless mailing list http://vger.kernel.org/vger-lists.html#linux-wireless

[2019-12-19 14:14] #335 closed

[2019-12-19 15:32] porentak commented on #315
@Assader did you make any progress on this topic?

[2019-12-19 15:35] #328 closed

[2019-12-19 15:58] Assader commented on #315
@porentak master branch of this repo now contains a code, required for DBDC support. You could turn it on via debugfs (/sys/kernel/debug/ieee80211/phy0/mt76/dbdc) and then tune with /etc/config/wireless. Some issues still has to be solved, that's why you manage the mode via debugfs, but overall it's quite usable.
This feature request, probably, could be closed.

[2019-12-20 15:30] Lahvuun opened #336 "mt7603e seems to always pick the lowest rate possible in legacy mode"
LuCI shows RX Rate / TX Rate as:
54.0 Mbit/s, 20MHz
6.0 Mbit/s, 20MHz

If I set `legacy_rates` to `1`, TX Rate drops further down to 1.0 Mbit/s.

Speedtest on my phone seems to verify this, I get ~4Mbps download without legacy rates, <1Mbps with. Upload is a little better at around 10-15Mbps.

Happens with both WMM on and off.

With `htmode 'HT20'`  or `htmode 'HT40'`, the speeds are:
72.2 Mbit/s,

[2019-12-20 19:04] lz006 commented on #88
same here

[2019-12-22 09:12] 9000000 opened #337 "Wifi error automatically disconnected"
Xiaomi r3g v1
I see the recent updates very much error about wifi, wifi even automatically turned off

daemon.notice hostapd: wlan0: AP-STA-DISCONNECTED 10:98:c3:12:0f:1c
Sun Dec 22 14:39:50 2019 daemon.info hostapd: wlan0: STA 10:98:c3:12:0f:1c IEEE 802.11: disassociated
Sun Dec 22 14:39:51 2019 daemon.info hostapd: wlan0: STA 10:98:c3:12:0f:1c IEEE 802.11: deauthenticated due to inactivity (time

[2019-12-22 12:07] lumixen commented on #313
Unfortunately, after some additional testing I'm still observing occasional reboots even on the latest master.
[code]

[2019-12-25 16:44] Mushoz commented on #327
More people reporting identical issues: https://forum.openwrt.org/t/odds-of-timely-d-link-dir-882-or-878-support-in-2018/10725/37?u=mushoz

[2019-12-26 11:59] lukasz1992 commented on #337
which version of openwrt?

[2019-12-27 01:52] d1b commented on #164
It doesn't appear to have been fixed in 19.07.0-rc2.

[2019-12-27 10:47] mat-alfa opened #338 "Kernel panic wile connecting to WiFi"
I got the following kernel panic while connecting to WiFi AP:

[code]

The testing hardware is AWUS036ACM(MT7612U) with R36A(ar71xx, mips 24kc), and the firmware I tested is openwrt-19.07 snapshot with following mt76 driver packages:
[code]

The problem occurs after wpa_supplicant authentication, at the point between `wpa_cli status` showing COMPLETE and starting to run DHCP.

[2019-12-28 08:39] siwind commented on #303
Now, after 2.4G/5Gwifi  is disabled,  the router is very stable.
The best way is to use it as a wired router.

[2019-12-28 09:46] LorenzoBianconi commented on #338
You are running a quite old driver, could you please try the latest one?

Regards,
Lorenzo

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch;
unzip; touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp;
umount; make clean; sleep

[2019-12-28 14:58] xavier83 commented on #303
OpenW(ired)R(ou)T(er)

[2019-12-28 17:28] mat-alfa commented on #338
Yes, thanks!
I just tried the latest version(rev=4cb1195), but failed to build driver. I got the following compile error logs:

[code]

[2019-12-28 17:32] LorenzoBianconi commented on #338
You need to update even the mac80211 pkg

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch; unzip;
touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp; umount;
make clean; sleep

[2019-12-28 18:58] mat-alfa commented on #338
I changed to openwrt's master branch and build mt76 driver with latest version(rev=4cb1195a)
[code]

The latest error log I got is:
[code]

[2019-12-29 01:09] vgmz95 opened #339 "mt7615e: Unusable 2GHz radio"
I have a problem with the mt7615e driver used for the 2GHz band in the Netgear r6700v2 (There's a current [PR](https://github.com/openwrt/openwrt/pull/2614) adding support for openwrt for that device).

When a device connects to the 2GHz radio, the tx/rx speeds are incredibly slow (around 0.6~1 Mbps in perfect conditions) and after a minute or so the device disconnects, and the message:
`STA 00:00

[2019-12-29 11:39] #330 closed

[2019-12-29 13:31] LorenzoBianconi commented on #338
Are you able to bisect the tree to identify the offending commit? I am afk
now

[2019-12-29 14:04] jsphpl commented on #259
I've tested again on Archer C2 v1.0 and v1.1 and it is now working properly. Also seems to correctly report and adjust transmission power. Tested with openwrt @ `30301df` (mt67 @ `2a0edbb4`). Good job, thanks a lot!

[2019-12-29 14:04] #259 closed

[2019-12-30 13:14] leonardcoutinho commented on #325
I try snapshot from 29/12/19 and Wifi 5ghz have same problem, mt76 file in these build is from 27/12/19. These builds have Lorenzo patch?

[2019-12-30 14:05] Assader commented on #211
This repo contains MTK wireless drivers, while the issue is related to MT7530 commutation chip, but also this page is one of the first, when you are trying to google error message, so i will dare to post here.
Initially, the community have connected the issue with hardware flow control bug. They also decided, that the bug will be fixed in future by MTK, so the solution was to disable flow control

[2019-12-31 12:21] pepe2k commented on #338
@LorenzoBianconi I can confirm the problem on OpenWrt 19.07 snapshot (mt76 @ 2a0edbb447). Updating mt76 to latest version from openwrt-19.07 branch (f97c33eeb2) solves it.

Cheers,
Piotr

[2019-12-31 12:29] dchard commented on #211
Can you explain how to do that on the router side? I also have mt7621, but I was not able to turn it off via normal methods. Thanks!

[2019-12-31 13:27] namidairo commented on #323
Looks like this particular issue is related to https://github.com/openwrt/mt76/commit/abcb544579191d30177ff0cd1b2671ade0fb9098, setting a RTS threshold brings the throughput up to expected values.

[2019-12-31 14:50] nasbdh9 opened #340 "mt7612e: error occurs when using the mt7612e module on Meraki MR24"
https://openwrt.org/toh/meraki/mr24
In the case of high load, the following error will immediately appear
Version: https://github.com/openwrt/openwrt/tree/12795ec9f16ba79cdde052f2e20f4a1bddc6235d

[code]

![QQ截图20191231222046](https://user-images.githubusercontent.com/26650222/71624844-985c1000-2c1f-11ea-8391-0f37f18573a0.png)
iperf3 no error under single thread

![QQ截图20191231222129](https://user

[2019-12-31 15:19] Assader commented on #211
@dchard as soon as i remember, using standard interfaces like debugfs, there is no way to check chip revision (i did it, adding pr_info("Chip rev: %u", rt_sysc_r32(SYSC_REG_CHIP_REV_ID)) to the code), nor a way to disable flow control.
To disable flow control you may compile OpenWrt with patch:
[code]
, placed into the file: target/linux/ramips/patches-4.14/220-mt7621-disable-flow-control.patch

[2019-12-31 21:50] nasbdh9 commented on #340
iw information
[code]
![IMG_20200101_054615](https://user-images.githubusercontent.com/26650222/71634876-85b2fc80-2c5a-11ea-833e-393bb4c35b00.jpg)
![IMG_20200101_054844](https://user-images.githubusercontent.com/26650222/71634879-8ba8dd80-2c5a-11ea-9aa8-2f38eb57b618.jpg)

[2020-01-01 15:19] mat-alfa commented on #338
Yes.

git bisect tells 6493e23 is the first bad commit.

My test results are:
 * faf5e6f , good , the merge base of `master` and `openwrt-19.07` branches
 * efcbee1 , bad
 * 1c8d69e , bad
 * d246beb , bad
 * ea46624 , bad
 * af83ee8 , good
 * 6493e23 , bad

Beside, the f97c33e (current head commit or openwrt-19.07) has build error as below:
[code]

[2020-01-02 11:02] LorenzoBianconi commented on #338
This 'not monotonous' behavior seems weird to me. Moreover I tested last nbd [wireless tree](https://github.com/nbd168/wireless) and it works fine.
@pepe2k : is mt76 master branch working for you?

This should be fixed in latest mt76 tree by this [commit](https://github.com/openwrt/mt76/commit/1c8e76f4de3e7c41ca54732ddb4a0f6bdce53111)

[2020-01-02 19:27] leonardcoutinho commented on #199
openwrt 19.07 rc1 and rc2 works for me, but snapshots don't, after 10/10/19, builds stopped working with 5ghz radio, my devices can't connect to my router.

[2020-01-03 20:05] pepe2k commented on #338
@LorenzoBianconi

Unfortunately, no. Just tried current OpenWrt master with mt76 @ 38f4c57 on R36A (ar71xx, QCA9531, 4.14.160) with AWUS036ACM (MT7612U):

[code]

I will double check that with different card/on different target (with 4.19 kernel/DTS) and will let you know.

This has to be also backported to `openwrt-19.07` branch.

Cheers,
Piotr

[2020-01-03 23:22] pepe2k commented on #338
@LorenzoBianconi

Same problem on ath79 with 4.19.91 (just after association with AP):

[code]

MT7610U on the same platform also crashes:

[code]

I will try to find out offending commit during the weekend.

Cheers,
Piotr

[2020-01-04 00:37] pepe2k commented on #338
More news on this one, it seems the problem is platform (MIPS?) and/or device (card, host?) related. On RPi 3B+ with current OpenWrt master it works.

[2020-01-04 00:53] LorenzoBianconi commented on #338
I tried with last OpenWrt trunk on mt7622 device (ARM) + mt76x0u and it
works fine for me

Regards,
Lorenzo

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch; unzip;
touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp; umount;
make clean; sleep

[2020-01-04 03:35] usama7628674 opened #341 "How to max tx power from 19dbm to 30dbm?"
I've edup-ac1605 mt76x2u(2T2R).Running a quick iwconfig command shows tx-power=19dbm.I've tried increasing it but it does not go beyond 19dbm.Its stuck there.

[2020-01-04 04:31] usama7628674 commented on #341
This is dmesg output when i connect device to my laptop
![mt76x2u](https://user-images.githubusercontent.com/29252277/71759811-aedec180-2ed4-11ea-9c35-f98d6f35d300.png)

Is it old version looking at ROM patch build and Build Time which says 2014 and 2015 respectively.Should I update my driver?
Right now its plug and play on kali linux.

[2020-01-04 04:31] mat-alfa commented on #338
@LorenzoBianconi Could we donate hardware if you need MIPS related devices to test?

Sincerely,
Mat

[2020-01-04 09:09] Borromini commented on #319
I'm seeing the same with a 330e8324 checkout on OpenWrt 19.07 and MT7615E. It used to work fine on earlier checkouts, but now the driver seems to be looking in /lib/firmware/mediatek/ instead of just /lib/firmware/.

[code]

[2020-01-05 12:28] usama7628674 commented on #276
@RavSS I've compiled it.Now how can i update old firware.bin files.I've comiled `.ko` files.

[2020-01-05 14:51] usama7628674 opened #343 "How to build firmware files (.bin)"
I've compiled it with `.ko` files but how can i build .bin firmware files as the compiled firmwares are too old in this repo.

[2020-01-05 16:02] kamnxt commented on #325
@leonardcoutinho seems like they should have it: https://github.com/openwrt/mt76/commit/38f4c579898d799657b227831a7b4bab156f785d

I'm also still having the problem with the 2019-12-27 version of mt76.

[2020-01-05 16:47] Soberia commented on #88
Same here (19.07.0-rc2)

[2020-01-05 16:52] Soberia commented on #313
Same here

<1>[  135.481602] CPU 2 Unable to handle kernel paging request at virtual address 63610319, epc == 8eaa8be0, ra == 8eaa8                                                                        be0
<4>[  135.492201] Oops[#1]:
<4>[  135.494468] CPU: 2 PID: 0 Comm: swapper/2 Not tainted 4.14.156 #0
<4>[  135.500535] task: 8fc3c4c0 task.stack: 8fc5e000
<4>[  135.505041] $ 0   : 00000000 0000

[2020-01-05 16:58] pftbest commented on #281
Is this the same bug or something different?

[code]

[2020-01-06 01:57] vgmz95 commented on #339
I build image for my [R6700v2 ](http://en.techinfodepot.shoutwiki.com/wiki/Netgear_R6700_v2) with the latest [mt76  commit](https://github.com/openwrt/openwrt/commit/1de8fc93ca449942a0fc28234aac8d372542a7b5) and the issue continues, now devices struggle to even connect to the device. When the connection is established, tx/rx speeds continue to be low.

This is the log when a devices tries to conne

[2020-01-06 06:04] rufengsuixing commented on #341
try to set country to Australia

[2020-01-06 16:27] porentak opened #344 "mt7615: MCU message timeout - 5 GHz, VHT80"
Hello,

I'm working on MT7621 based platform using MT7615N PCIe card. Device is configured to use channel 36, AC, 80 MHz channel bandwidth.

In case of using iperf or transferring some bigger files (test with 500MB) over ssh, access to LuCI over WiFi, I get errors like:
[ 3712.079933] mt7615e 0000:02:00.0: Message 73 (seq 7) timeout
[ 3738.319832] mt7615e 0000:02:00.0: Message 73 (seq 8) timeout
[

[2020-01-06 18:14] nasbdh9 commented on #340
Platform performance issues, closed

[2020-01-06 18:14] #340 closed

[2020-01-07 04:18] usama7628674 commented on #341
`iwlist wlan1 txpower` shows

`Txpower=19dbm    (79dbm)`  which is very low.

[2020-01-07 04:19] usama7628674 commented on #341
@rufengsuixing It does not work this way

[2020-01-07 04:19] usama7628674 commented on #341
This is tied to eeprom and I think devs havent implemented tx-power control.

[2020-01-07 04:20] usama7628674 commented on #341
RTL8812au is the best chipset mediatek is shit full of bugs

[2020-01-08 16:34] wynn1212 commented on #338
I have the same problem but I don't know if it's off-topic here.
I was intending to use my USB Wifi dongle (ASUS USB-AC51) as a client to connect my android hotspot to share my network.
But When I join my wifi and click save & apply. The configuration saved and a few seconds later. My router crashed and rebooted.
And every time it rebooted. It crashes again when my USB wifi dongle is plugged in an

[2020-01-08 18:36] kamnxt commented on #325
After doing some late-night wiresharking, it seems like there's no issues with authentication and association - the device (in this case my phone) seems to connect fine. The router never sends any data back (but does respond to management frames like block ack requests).

So: it seems like the router receives everything just fine, and is able to send management frames but not data frames?

[2020-01-09 08:37] sanitariu commented on #279
Still no fixes for tp-link 840 version 6,6.1,6.2 and 14 ?
The only problem is missing correct txpower.

[2020-01-09 15:54] leonardcoutinho commented on #325
In 09/01/20 build from snapshot My 5ghz is working(MT7610e). 2.4ghz on otherhand only works with one stream(150mbps max in 40mhz)(mt7620a chipset), and not 2 stream which my router has(dir 810l A). I don't use 2.4ghz for speed, if works is fine to me. I will test more and give my feedback. Thanks everyone.

[2020-01-10 06:17] ptpt52 commented on #313
same problem here @nbd168
[code]

[2020-01-10 11:12] XiaoliChan opened #345 "Can not create mesh network with 5GHz."
log:
_Fri Jan 10 18:59:10 2020 daemon.notice netifd: radio1 (26260): Command failed: Request timed out
Fri Jan 10 18:59:10 2020 daemon.notice netifd: radio1 (26260): Command failed: Not found
Fri Jan 10 18:59:10 2020 daemon.notice netifd: radio1 (26260): WARNING (wireless_add_process): executable path /usr/sbin/wpad does not match process  path (/proc/exe)
Fri Jan 10 18:59:10 2020 daemon.notice ne

[2020-01-10 11:19] XiaoliChan commented on #345
_openwrt version: OpenWrt SNAPSHOT r12057-c4bc470969
wireless chipset: mt7612en_

[2020-01-10 11:54] porentak commented on #344
After replacing PCIe WiFi card with new one issue is gone.

For anyone else having similar issues:
 - WiFi card: http://wiki.banana-pi.org/BPI-MT7615_802.11_ac_wifi_4x4_dual-band_module
 - the only difference I have noticed between working and non working card was the WiFi chip temperature (non working one had 10C higher temperature - cat /sys/kernel/debug/ieee80211/phy0/mt76/temperature)

[2020-01-10 11:54] #344 closed

[2020-01-10 22:50] Npeca75 opened #346 "wr840n v6.20 / mt7603e"
Hi
i like to ask for help with tplink wr840n v6.20 device
i was successfully compiled latest OpenWrt SNAPSHOT r11954-7936cb94a9 but the WiFi is almost blind
There is no scan data most of time. Or, if AP occasionally scan something, it is heavy reduced
for example, only 1 AP from 10 was shown in scan list

Same driver, same snapshot work flawlessly on 840n v5 which is basically same, only lower amo

[2020-01-11 10:25] lukasz1992 commented on #343
Firmware is distributed only in a binary form, you can't do this.

[2020-01-11 10:40] sanitariu commented on #346
This is related to your dts file being wrong. I did it working for 6.0,6.1,6.2 and 14.
I am attaching all the files for 6.0. Just modify them adding 6.1,6.2.
Next do make menuconfig and choose your model.

[mt7628an_tplink_tl-wr840n-v6.dts.zip](https://github.com/openwrt/mt76/files/4049225/mt7628an_tplink_tl-wr840n-v6.dts.zip)
[02_network.zip](https://github.com/openwrt/mt76/files/4049226/02_netwo

[2020-01-11 11:38] #343 closed

[2020-01-11 11:38] #341 closed

[2020-01-11 14:19] Npeca75 commented on #346
Hi @sanitariu
tnx for your help
i tried with your DTS and still the same behaviour. RX is blind. TX seems to work OK, other AP's are "see" my test620AP with proper power, but RX ... nope

about LED's
`
    /* LED used is dual-color,dual lead LED */
    leds {
        compatible = "gpio-leds";

        lan {
            label = "tl-wr840n-v620:green:lan";
            gpios = <&gpio1 7 GPIO_ACTIVE_L

[2020-01-11 16:11] Npeca75 commented on #346
hi @sanitariu
please ignore my prev post
you was right
with your DTS wifi works as expected
90 mbps up&down, scan is fine

it looks like i made mistake when i tried variations with DTS file, so, my bad
thank you again, you are a king ! :)

i will close this issue, because it is not related to wifi driver
sorry for noise

[2020-01-11 16:11] #346 closed

[2020-01-11 19:17] sanitariu commented on #346
Thanks for the leds it will save me time next week :)

[2020-01-11 19:43] 4k3or3et commented on #88
I have the same issue on stable 19.07.0.

[2020-01-12 06:11] XiaoliChan commented on #345
I found the reason, need to install wpad-openssl instead wpad-basic

[2020-01-12 06:11] #345 closed

[2020-01-12 07:46] Gingernut1978 commented on #313
Snapshot build from 11/01/2020 on Xiaomi R3Gv2.
Very unstable if used as a WDS+AP Station on the MT76x2E radio.

root@Xiaomi:~# cat /sys/kernel/debug/crashlog
Time: 1578782729.862026
Modules:        pppoe@869dc000+22f0     ppp_async@86f4c000+1bc0 pppox@8774d000+58a      ppp_generic@86cd8000+5c82       nf_conntrack_ipv6@86f76000+15c0       mt76x2e@869d0000+28b0   mt76x2_common@86924000+2d88     mt7

[2020-01-13 19:06] eSoares opened #347 "mt76x2u IBSS unable to communicate with other stations"
I have a Netgear AC6210, using mt76x2u setting up an IBSS network: `iw dev <> ibss join test 2417`
A second interface using the ath9k driver is setup on the same IBSS network but no communication is possible between the two. (A simple ping fails.)

Using a third interface in monitor mode (also ath9k) is visible the traffic of both stations, Beacons and ARPs being made, but is like they are in diff

[2020-01-13 19:36] eklitzke commented on #325
I found a similar issue on the RedHat bugzilla here: https://bugzilla.redhat.com/show_bug.cgi?id=1599036 . It seems like there might be some issues with Intel wifi firmware and PMF (more info about PMF [here](https://fedoramagazine.org/troubleshoot-pmf-f28/)). Can you try disabling PMF and see if that resolves the issue?

[2020-01-14 10:47] leonardcoutinho commented on #325
@eklitzke is not Intel card problem, because my phone can't connect too in earlier versions, and it uses an snapdragon 660.

[2020-01-14 10:51] leonardcoutinho commented on #325
My problem now with latest snapshot and openwrt stable build 19.07, is with the router, seens not stable at all like version stable 19.07 rc2. I will downgrade router to rc2 until this problem is fixed, and investigate it later.

[2020-01-14 12:50] LorenzoBianconi commented on #347
Are you running an encrypted connection? If so I guess you need to
use wpad-mesh-openssl.

Regards,
Lorenzo

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch; unzip;
touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp; umount;
make clean; sleep

[2020-01-14 12:53] eSoares commented on #347
No encryption was used, I simply setup the network with `iw dev <iface> ibss join test 2427`.
I'm using IBSS not mesh.

Thanks for the reply,
Eduardo

[2020-01-14 12:56] LorenzoBianconi commented on #347
Ah ok, sorry..I misread..I will test it..are you using latest mt76 trunk?

Regards,
Lorenzo

--
UNIX is Sexy: who | grep -i blonde | talk; cd ~; wine; talk; touch;
unzip; touch; strip; gasp; finger; gasp; mount; fsck; more; yes; gasp;
umount; make clean; sleep

[2020-01-14 13:02] eSoares commented on #347
I'm using the version from the kernel that I'm running in my workstation, 5.3.0-26.
But will try a more recent version later today.

[2020-01-14 17:39] eSoares commented on #347
Strange thing, testing in a older kernel (5.3.0-23) everything works.
What is the best version to test the latest version of the driver?

Thanks for the help,
Eduardo

[2020-01-14 21:42] LorenzoBianconi commented on #347
I tried using nbd mt76 [tree](https://github.com/nbd168/wireless) and mt76x0u is connecting properly in ibss mode to an ath9k peer

[2020-01-15 16:35] eSoares commented on #347
Using the tree from nbd is working for me also. Not working 100% of the times, but is hard to actually find what makes it not working.
I notice some messages being printed out on dmesg:
[code]
Thanks for the help, this version of the driver looks to be working better.
Will close the issue.

Thanks,
Eduardo

[2020-01-15 16:35] #347 closed

[2020-01-15 19:42] 4k3or3et opened #348 "ZBT WE1326. High latency when on 5GHz network."
Hi Guys

i just updated my ZBT WE1326 to stable 19.07.0. When my clients are connected to 5GHz i have very high pings to local IP of the router. Pings are between 50ms to timeout. It looks very unstable i would say. When connected to 2.4GHz interface i get around 1ms all the time. Tried on few devices. Tried different channels for that interface. No luck.

EDIT:

I have notice that when i change c

[2020-01-15 20:57] xavier83 commented on #199
Have tested on Openwrt 19.07.0-rc2 and 19.07 stable release still no luck, Have tried with the latest snapshot dated 15 Jan 2020, attached the syslog for the same with no luck either, even the beacon broadcast doesn't seem to be working with the latest snapshot.
[we1326-15jan-syslog.txt](https://github.com/openwrt/mt76/files/4067489/we1326-15jan-syslog.txt)

BTW did anybody have any luck with the

[2020-01-15 21:10] dangowrt commented on #199
@xavier83 afaik the proprietary driver requires a vendor-specific and outdated version of the  Linux kernel. Hence it can only be supported in outdated vendor specific OpenWrt forks...

[2020-01-17 13:18] porentak commented on #315
@Assader can you share with me some more details on "Some issues still has to be solved". What issues are known to you?

I have encountered one. There are no broadcast beacon frames on phy1 interface, unless addition configuration steps are made.

Steps to reproduce the issue:

1. factory reset of the board
2. after boot "wifi down"
3. echo 1 > /sys/kernel/debug/ieee80211/phy0/mt76/dbdc
4. change

[2020-01-17 17:37] Lankaster commented on #227
In my case calibration data was erased. Stock firmware shows wrong MAC adresses for LAN and WAN (00:11:11:11:11:11, 00:22:22:22:22:22)
hier ist bootlog with errors from stock FW
[code]

[2020-01-18 10:04] Assader commented on #315
@porentak the issue i was talking about is MT7615 death under high load in DBDC mode, caused by aggregated frames (AMSDU).
Unfortunately, i wasn't able to reproduce your case.
I was following your steps, including factory reset (and have even used your config), except setting wifi down (step 2), because there is a [guard](https://github.com/openwrt/mt76/blob/master/mt7615/init.c#L390), stopping DB

[2020-01-19 18:01] porentak commented on #315
@Assader thanks for feedback. Can you please let me know what OpenWRT version and host CPU you are using.

Can you also send hostapd debug output (after enabling dbdc and wifi up call)? As it looks to me, I see the issue if phy1 hostapd is ready before phy0 hostapd.

[2020-01-20 05:40] Assader commented on #315
OpenWrt = 19.07.
CPU = MT7621 SoC.
Logs:
[code]

[2020-01-22 05:22] macrokernel commented on #150
Looks like the problem still exists with OpenWrt 19.07.0, r10860-a3ffeb413b on mir3g usb variant.
![IMG_20200122_082037](https://user-images.githubusercontent.com/9429051/72867506-3a878900-3cf0-11ea-9dd8-1fdd36712f20.jpg)

[2020-01-22 10:47] stefanomaxenti commented on #348
It appears to be related to the country code. Changing it to 00 (World) seems to fix the problem, even though it's not the correct long-term solution. This problem wasn't present in the RC1.

[2020-01-22 10:56] nbd168 commented on #348
What country code was it using before, and what channel did you test on?

[2020-01-22 11:00] stefanomaxenti commented on #348
I use channel 36, 80Mhz width, automatic power. I've never tried DFS channels.
IT country code is the one having problems (high spikes). 00 is ok.

[2020-01-22 12:27] Mushoz commented on #211
@Assader Do you have any plans for making a pull request for this patch to Openwrt, so it can be mainlined?

@kristrev did you ever make a pull request for your patch since you mentioned you were gonna do that? :)

[2020-01-22 12:57] tkso1997 commented on #348
I can confirm this behavior with current master and 19.07 on a Xiaomi R3P using mt7615.
With country code 00 (World) it looks pretty consistent:

`PING 192.168.39.1 (192.168.39.1): 56 data bytes
64 bytes from 192.168.39.1: icmp_seq=0 ttl=64 time=1.849 ms
64 bytes from 192.168.39.1: icmp_seq=1 ttl=64 time=3.751 ms
64 bytes from 192.168.39.1: icmp_seq=2 ttl=64 time=3.488 ms
64 bytes from 192.168.39.

[2020-01-22 14:25] jackcolentern commented on #305
I retested using a EA8100-ah which also use MT7615N, same problem occur

I noticed that in LUCI, Network -> Wireless -> Associated Stations is only showing

RX Rate / TX Rate
6.0 Mbit/s, 20MHz
585.1 Mbit/s, 80MHz, VHT-MCS 6, VHT-NSS 2, Short GI

it this normal?

[2020-01-22 14:46] jackcolentern opened #349 "mt7615: slow AC wireless speed on Linksys EA8100-AH"
Hi, I am trying to add support for Linksys EA8100-AH (MT7621 soc with dual MT7615N)
The AC speed is about 50~150Mbps when connected to Oneplus 6, but the original firmware can do around 350Mbps,
Thanks!

I noticed that in LUCI, Network -> Wireless -> Associated Stations, it is only showing

RX Rate / TX Rate
6.0 Mbit/s, 20MHz
585.1 Mbit/s, 80MHz, VHT-MCS 6, VHT-NSS 2, Short GI

it this normal?

[2020-01-22 15:20] jackcolentern commented on #349
I also noticed that the TX speed (from Router to device) is very good while rx speed (from device to Router) is slow

[2020-01-22 18:05] 4k3or3et commented on #348
Changing country code to '00 (World)' resolves the issue. Thanks a lot guys.

[2020-01-22 18:39] tkso1997 commented on #348
leave it open, as its probably a bug, right?

[2020-01-23 03:18] Legogris commented on #323
@namidairo What value did you put for RTS threshold? I am having severe packet loss issues on MT7621E.

[2020-01-23 10:39] nbd168 commented on #348
What kind of clients are you using? Does country code US trigger the same issues?

[2020-01-23 11:14] tkso1997 commented on #348
Just tried US and it seems to be as good as WORLD!
I am using a MacBook Pro (Broadcom BCM43xx 1.0).

by the way and just for completeness, the 2.4ghz network is also a bit laggy, I played with the
country code but could not see any difference.

Let me know if you want me to test other things / settings!

[2020-01-23 11:18] namidairo commented on #323
RTS: 40
Fragmentation: 3000

I'd probably experiment with the latter.

Sadly I haven't had time to bisect where it breaks (or if it ever worked)

[2020-01-23 14:13] nbd168 commented on #348
I've spent some time debugging this, and I found out that it's not an mt76 bug at all. The bug was in hostapd: The code applying regulatory limits (only present on ETSI regdomains) to WMM settings had a few issues that were corrupting the WMM IE.
I've fixed this in master and 19.07, and it should work fine for all regdomains now.

[2020-01-23 14:13] #348 closed

[2020-01-23 14:22] nbd168 commented on #349
Please try the latest revision of OpenWrt master or 19.07. I've fixed a critical issue in hostapd.

[2020-01-23 14:22] nbd168 commented on #339
Please try the latest revision of OpenWrt master or 19.07. I've fixed a critical issue in hostapd.

[2020-01-23 14:23] nbd168 commented on #336
Please try the latest revision of OpenWrt master or 19.07. I've fixed a critical issue in hostapd.

[2020-01-23 14:23] nbd168 commented on #327
Please try the latest revision of OpenWrt master or 19.07. I've fixed a critical issue in hostapd.

[2020-01-23 14:23] nbd168 commented on #323
Please try the latest revision of OpenWrt master or 19.07. I've fixed a critical issue in hostapd.

[2020-01-23 14:24] #305 closed

[2020-01-23 15:03] Lahvuun commented on #336
Still happening with OpenWrt SNAPSHOT r12104-071a637276, unfortunately.

[2020-01-23 15:17] intelfx commented on #327
Great news. I'll try the next nightly.

[2020-01-23 15:45] jackcolentern commented on #349
Hi, I rebuilt and tested the latest master, unfortunately the problem is still here

[2020-01-23 16:08] jackcolentern commented on #349
After several rounds of testing, i can confirm that some time i see speed above 300Mbps or some brief amount of time, but most of the time the speed is still at 90~150Mbps

[2020-01-23 18:38] tkso1997 commented on #348
thanks its working! :)

[2020-01-23 22:42] Mushoz commented on #327
Can I update hostapd in 19.07.0 via opkg? The makefile didn't receive a version bump, though. Or is reflashing mandatory?

[2020-01-23 22:58] intelfx commented on #327
@Mushoz I think Felix refers to this commit (https://github.com/openwrt/openwrt/commit/4a58a871c46a589263f565ee7b755d5f3d695580 for `openwrt-19.07` branch, https://github.com/openwrt/openwrt/commit/c07f6e8659ea1348c75c04dac2924616f0042293 for `master` branch). It's not a part of any releases yet — if you are staying on 19.07, then you will need to build it yourself.

I personally am waiting for th

[2020-01-24 02:39] Legogris commented on #323
iperf3 tests look good so far on `master`! :tada:
For the record, I don't know if it's the same issue, but I was also consistently having clients would be associated with AP but unable to reach network after some time (5min - 2h or so) until manually reassociated. Disabling rekeying made it slightly less frequent, I think, but it still happened dozens of times per day. Will report back if that occ

[2020-01-24 06:59] intelfx commented on #327
@nbd168 Nope — `r12106-c6c4701def` (latest nightly), nothing changed.

[2020-01-24 07:11] stefanomaxenti commented on #348
I can confirm it's working perfectly. Thanks!!

[2020-01-25 17:15] vgmz95 commented on #339
I built an image with the latest mt76 driver and I still getting low tx/rx rates and the message:
`daemon.info hostapd: wlan1: STA 00:00:00:00:00:00 IEEE 802.11: disconnected due to excessive missing ACKs`

[2020-01-25 18:55] Yohan54 commented on #142
Issues have re-appeared again
Firmware Version: OpenWrt SNAPSHOT unknown / LuCI Master git-20.022.75744-8947526
Kernel Version: 4.14.166

[2020-02-04 16:00] tkso1997 opened #350 "AirPrint and Soundtouch Speaker connection loss"
I am Using a Xiaomi 3Pro with Openwrt. The Wifi Chip is a mt7615.

After about one day of usage my AirPrint Printer and Bose soundtouch Speaker are no longer visible my Macbook and my Ios devices (for the soundtouch the Bose app). Both the printer and the speaker are still connected the wifi (at least the luci wireless page states that). After I rebooted the router both things work again for the n

[2020-02-04 19:23] nbd168 commented on #350
What's the revision number of the latest master build that you tried?

[2020-02-04 22:19] tkso1997 commented on #350
OpenWrt SNAPSHOT, r12173-01c8f2e97c

[2020-02-06 10:12] #315 closed

[2020-02-07 14:40] CHKDSK88 commented on #339
On actual OpenWrt master is posible to connect only once. After couple seconds connection freezes. After client disconnect is impossible to connect anymore:

[code]

[2020-02-08 11:06] bricco1981 opened #351 "mt7615 on netgear r6260"
iw dev
phy#1
	Interface wlan1
		ifindex 11
		wdev 0x100000005
		addr 8c:3b:ad:xx:xx:xx
		ssid relle-5ghz
		type managed
		channel 100 (5500 MHz), width: 80 MHz, center1: 5530 MHz
		txpower 4.00 dBm
		multicast TXQ:
			qsz-byt	qsz-pkt	flows	drops	marks	overlmt	hashcoltx-bytes	tx-packets
			0	0	0	0	0	0	0	00

phy#0
	Interface wlan0
		ifindex 3
		wdev 0x1
		addr 8c:3b:ad:xx:xx:xx
		type managed
		txpo

[2020-02-09 09:23] boecko commented on #325
The current mt76/master (721673759d8229a42ab39a9a7cba15261f1dfcf9) in openwrt-master fails on 5ghz with my tp-link650re1 (MediaTek MT7621 ) - says 'password wrong' all the time.

I've changed my openwrt-master package/kernel/mt76/Makefile to mt76/openwrt-19.07 (8a78567983a16869b77a0254b4917027df4a7ad9). This on works on 5ghz, but is fairly old and has no noise survey.

[2020-02-09 12:15] boecko commented on #325
I did a git bisect and placed the revision to package/kernel/mt76/Makefile
good: 5ghz worked
bad  : 5ghz auth faild

Here is the log https://gist.github.com/boecko/659890826012e9f56f8fa42df5967bc7

first bad commit: [caa47af1d6f2d7bb0f1a288e46d544f9b99222d6] mt76: mt7615: add multiple wiphy support to the rx path

[2020-02-10 16:15] i3roly opened #352 "iw reports 6 dBm txpower (using latest git)"
hi,

i know this issue will likely be fixed soon, but i wanted to bring this to your attention now:

        Interface ath1.1
                ifindex 13
                wdev 0x100000003
                addr 76:da:da:cb:59:xx
                ssid xxxxxx
                type AP
                channel 100 (5500 MHz), width: 160 MHz, center1: 5570 MHz
                txpower 6.00 dBm

[2020-02-10 16:17] i3roly opened #353 "increasing number of VAP/VIFs for MT7615 (proprietary driver can accommodate >> 4 APs)"
hi,

just wondering if there are any simple ways to increase the VAP/VIF limit. the proprietary driver allows many more than 4 APs per radio

[2020-02-10 16:23] i3roly opened #354 "missing band 1 for phy1 (dual MT7615 radios [DIR-882])"
hello,

first, i do not have the IEEE freq limit encoded in my DTS, so i find it weird that the second radio only shows the 5ghz band. why would one radio show both but the other only show one? i

Wiphy phy1
        max # scan SSIDs: 4
        max scan IEs length: 2247 bytes
        max # sched scan SSIDs: 0
        max # match sets: 0
        max # scan plans: 1
        max scan plan interval: -1

[2020-02-11 00:22] i3roly commented on #330
hi,

i am having the same issue with no WIFI LEDS.

EXTRA_CFLAGS += -Werror -DCONFIG_MT76_LEDS

mt7615e-y := pci.o init.o dma.o eeprom.o main.o mmio.o mcu.o mac.o \
             trace.o debugfs.o

is present in the makefile. could you please give some suggestions as to why the LEDs are not working? i am surprised they work for dengqf6 but not myself...

[2020-02-11 00:23] i3roly opened #355 "MT7615 LEDs not working (even after adding -DCONFIG_MT76_LEDS)"
hi,

i noticed lorenzo helped dengqf6 fix his issue with the absent wifi LEDS. it is a similar situation for me, except i added the macro and the lights are still not functioning.

@dengqf6 : got it, we are missing this [patch](https://github.com/LorenzoBianconi/mt76/commit/e1cb717eb6c5f0f5f616edfd77670e00dcad1391) for mt76 github repo.
Could you please try to use this [mt76](https://github.com/Lo

[2020-02-11 15:19] dengqf6 commented on #355
Are those LEDs connected to the MT7615 chip directly?

[2020-02-11 23:06] i3roly commented on #352
fixed in

764e1d208a0643a8be553a249d06a46a8ef31061

1881241c7ee58c95506ffa159c953f477f20b8be

thanks felix

[2020-02-11 23:06] #352 closed

[2020-02-11 23:13] i3roly commented on #355
hi dengqf6

i am not sure. i can poke around the proprietary driver directory to see, but it seems these LEDs are not able to be manipulated through the gpio export interface in /sys/class

i can screw with all of the frontl ights on a DIR882 except for the two wifi LEDs.

if four of the six LEDS on the front of the router are directly manipulable  (on/off etc) using /sys/class/gpio/export, then s

[2020-02-12 11:11] nicefile commented on #351
Got no problem using recent official 19.07.01 @R6260
 I have region IN (India) under OpenWrt and 22db output for 5Ghz no problem

[2020-02-12 16:16] i3roly opened #356 "wlan0/pcie0 with both 2.4/5GHz (wlan1/pcie1 with only 5GHz), but unusable on MT7615"
hi,

i am just curious as to why the first pcie interface for the MT7615 is capable of doing 5GHz, is reported in the kernel as capable of doing so, but is actually unable to do it.

i noticed this peculiarity when playing with the 'auto' settings in hostapd for interface 0. hostapd liked the 5Ghz channels better than the 2Ghz ones, and thus selected that and actually put it in vht160. iw dev repo

[2020-02-12 22:52] bricco1981 commented on #351
still same problem on last snapshot, i don't see any 19.07.01 for this device, mabie you used image for r 6350

[2020-02-13 01:04] i3roly opened #357 "request: add rfkill support to mt76 driver"
hello,

well, now that the buttons work, i have nothing to trigger them with.

i noticed the mt76 driver does not have RFKILL support.

i will be looking at the documentation shortly just to see if i can help out here, but i doubt it since i am not too familiar with the mt76 code (certainly nowhere near as familiar as mt_wifi).

either way, the buttons are lacking real purpose right now.

it is ni

[2020-02-13 01:07] i3roly commented on #355
i also noticed that toggling the WAN LED is very difficult, if not "impossible" (not really, just haven't screwed with stuff enough yet) without RALINK_GPIO.

with RALINK_GPIO i can at least get all LEDS save the WIFI working, and with  GPIO_BUTTON_HOTPLUG i can use the buttons.

from my perspective it seems i have done enough to prepare this router for the full-fledged mt76 support.

the TODO lis

[2020-02-13 21:00] i3roly commented on #353
easy fix.

learn to read code. my bad i didn't expect it to be that easy.

[2020-02-13 21:00] #353 closed

[2020-02-13 22:07] nbd168 commented on #325
@boecko, please try the latest master revision (not yet in OpenWrt). If it still doesn't work, you should open a separate ticket, since your issue has nothing to do with the one previously reported here.

[2020-02-14 06:46] nbd168 commented on #354
Supported bands are enabled based on EEPROM data. This does not look like a bug to me

[2020-02-14 06:46] #354 closed

[2020-02-14 13:26] leonardcoutinho commented on #325
I will close this thread because with newer master builds both wifi(2.4 and 5ghz) works stable

[2020-02-14 13:26] #325 closed

[2020-02-14 22:13] boecko commented on #325
@nbd168
i can confirm, that the issue is fixed with the current mt76/master

Thanks!

[2020-02-15 08:53] bricco1981 commented on #351
i'm trying to compile and install snapshot every day but this problem still here, very bad range, the radio mt7603 is over the top, working really good.

[2020-02-15 23:43] Openwrtfunboy opened #358 "MT7621 | MT7603EN: Clients disconnecting | Serious problem."
Hi! I have MT7621 and when to router connected more than 10 peoples router start disconnecting some peoples(have two networks guest and main on 2,4).

There is my settings:
config wifi-iface 'default_radio0'
        option device 'radio0'
        option network 'lan'
        option mode 'ap'
        option wpa_disable_eapol_key_retries '1'
        option key 'WIFIPASS'
        option ssid 'WIFINAM

[2020-02-16 00:07] Openwrtfunboy commented on #358
I also suggest that this is because I have two wifi networks. When I had one and 8 active clients were connected to it, everything was fine, but as soon as the clients began to connect also to the guest, then there were problems.

I will try to unite the networks, but this is not a solution and causes a lot of problems, because many clients will have to rewrite the password.

[2020-02-16 00:27] Openwrtfunboy commented on #358
I found peoples with same problem:

[2020-02-16 00:32] Openwrtfunboy commented on #358
I found peoples with same problem:
1: https://github.com/openwrt/mt76/issues/146#issuecomment-458372609
2: https://github.com/openwrt/mt76/issues/146#issuecomment-484582241

Its seriously problem, OpenWRT team need to fix it!

[2020-02-16 00:48] Openwrtfunboy commented on #358
I'll try to clarify again:
When many clients were connected to the main network, everything was fine, but when they connected to the guest as well, big problems started.

[2020-02-16 20:03] Openwrtfunboy commented on #358
Empirically, I found out that the number of networks does not affect the problem. Even if you transfer clients to the same network, disconnections still occur.

[2020-02-17 05:22] ptpt52 opened #359 "mt76 crash sometimes"
this issue last for over 6 mouths

crash log sample1:
[code]

crash log sample2
[code]

[2020-02-17 05:23] ptpt52 commented on #359
@nbd168

I tracked every release of mt76, which lasted for more than 6 months, and this problem persists.
 

[2020-02-17 05:28] ptpt52 commented on #359
@nbd168
This problem is likely sending skb recursively, causing a stack overflow?

[2020-02-17 07:08] nbd168 commented on #359
I've been chasing the same bug for a very long time. My problem is that I can't reproduce it.
Any information you have on this would be helpful for tracking it down. What information makes you think it's stack overflow on sending skb?

[2020-02-17 12:05] LorenzoBianconi commented on #338
@wynn1212 @mat-alfa : could you please try the latest mt76 version available on openwrt? Does it have the same issue?

[2020-02-17 15:46] Openwrtfunboy commented on #358
Empirically, it was found out that not even the number of clients, but the distance to the router affects the outages. If there are ~ 3 clients next to the router, then everyone else will experience problems. If these clients are not near the routers, then everything will be fine

[2020-02-17 16:17] i3roly opened #360 "MT7615 poor performance (or lack thereof) on DIR882 (in general)"
hello everyone,

i am having many issues with the MT76 driver on the MT7615.

i was willing to look past the lack of WLAN leds, but another disappointing thing is that on higher 5GHz widths (such as VHT160), older devices seem to be able to detect, but not connect to the AP.

right now i'm running hostapd in auto mode on VHT160, and my 2012 Mac Pro (as an example) can see the network but not conne

[2020-02-17 23:23] i3roly commented on #360
looks like those "damned chinese" really have done a number on mt76 in terms of the mt7615 guys.

i will be eagerly, probably periodically, checking on your progress here.

i have fans to please, i am sorry

[2020-02-18 09:56] LorenzoBianconi commented on #338
@mat-alfa @wynn1212 : does it happen when you plug the card for the first time or for example when reboot the device with the dongle already plugged?

[2020-02-18 13:29] ayufan opened #361 "Kernel panic on ramips: nexx wt3020"
I try to use `mt76` from `OpenWrt 19.07` on `ramips` in AP-mode.

This is the kernel panic from device connected over UART:

[code]

It crashes always :)

It does not happen when run from X86.

[2020-02-18 17:32] mat-alfa commented on #338
I tried openwrt 19.07.1, it works well. Didn't appear panic when plug and boot for the first time, also reboot with dongle already plugged.
GJ! and thank you very much for your help!

NOTE:
 * The driver I tested is: `kmod-mt76x2u_4.14.167+2020-01-04-8a785679-1`
 * The testing hardware is AWUS036ACM(MT7612U) with R36A(ar71xx, mips 24kc)

[2020-02-18 21:56] JFtico commented on #358
Also seeing this on another MT7621/MT7603e platform, a ZBT WE3526 (512MB RAM) running OpenWRT 19.07.0

In a rural, uncongested WiFi setting, It handles six or so very active clients fine, even if very close (within 3') to the unit. I have not tested a mix of near + far like the OP.
But what is occurring is that if the wifi context is extremely congested (8+ APs on every channel) in an urban settin

[2020-02-18 22:04] pepe2k commented on #338
@LorenzoBianconi

On current OpenWrt master with mt76 @ 721673759d82 it still crashes.

Same platform as before:
- R36A (QCA9531) on target ar71xx
- AWUS036ACM (MT7612U)
- kernel 4.14.169

1. Dongle plugged before system bootup:

[code]

2. Dongle plugged after system start and wifi brought up manually:

[code]

[2020-02-19 04:10] wynn1212 commented on #338
@LorenzoBianconi
Well.I tried OpenWRT 19.07.1 It still crash when I plug in the USB wifi dongle and attempt to connect to my hotspot. And after that It'll crash-looping my router until I unplug the USB wifi dongle .

- My devices: D-Team Newifi D2(mt7621).
- OpenWRT Version cause the crash: 19.07.1
- Installed module: kmod-mt76x0u - 4.14.167+2020-01-04-8a785679-1
- USB Wifi dongle: ASUS USB-AC51

[2020-02-19 07:27] Openwrtfunboy commented on #358
And before everything was good? If so, on which version was it?

[2020-02-19 15:56] tarori commented on #354
I have a same problem.
Band 1 worked on previous openwrt master branch, but not work on current master.
I found that this commit https://git.openwrt.org/?p=openwrt/openwrt.git;a=commit;h=ea5078014d3f8a6f662e41cf9dec23028ca303e3 broke band 1.
So, it should be fixed.

[2020-02-19 16:39] i3roly commented on #354
tarori: do you find that this commit possibly broke the mt76 driver in terms of performance?

it is strange it performs so poorly

[2020-02-19 16:51] mat-alfa commented on #338
@LorenzoBianconi
I did some more tests and found my previous test is a special case. The WiFi AP I tested with is an old version LEDE 17.01 device, DIR-505.(I attach the screenshot below)
![2020-02-19_220015](https://user-images.githubusercontent.com/44156761/74853828-6b072500-5379-11ea-90b5-2f64c93ee0ba.png)

After changing the testing AP to newer devices ( ex: Android's hotspot ), I got the same

[2020-02-19 16:51] JFtico commented on #358
It was 18.06.4 and the Wifi was worse, with regular crashes caught in the system log.

The new behavior is puzzling, as there is no crash (or anything) in the system log. The clients just lose connectivity, and eventually (minutes) are able to reconnect.

on 19.07, it's OK in an isolated Wifi environment (only two or three competing APs, low client count), It is much, much worse the more local WiF

[2020-02-19 17:51] LorenzoBianconi commented on #338
@mat-alfa: could you please enable symbol table information and debug info?
Global build settings --> Kernel build options --> Compile the kernel with symbol table information/Compile the kernel with debug information

then can you provide the following info?

let's assume the system crash reporting:
- [<83138f6c>] mt76u_deinit+0x5e8/0x9e4 [mt76_usb]

can you run gdb on usb.o

$<openwrt-dir>/stagi

[2020-02-19 21:13] nbd168 commented on #354
Please try latest master branch.

[2020-02-19 22:04] Openwrtfunboy commented on #358
In general, I studied this topic and talked with a lot of people in the local Russian forum, as well as with the seller of my router. Apparently, the only solution will be to migrate to Padavan firmware.

This is a popular and very old issue. It is unlikely that OpenWRT will ever fix that.

[2020-02-19 22:05] hisirbr commented on #360
Hi all!
I also have the same issue with very poor performance of DIR-882 (MT7621+2xMT7615), especially for 2.4GHz.
All tests were done with the latest commit of 'master' branch of this repository (using iperf3 for WiFi<-->LAN eth port and speedtest for WiFi<-->WAN port).

For 5GHz speed is about 30-250Mbps (I use different 1x1 and 2x2 clients (e.g. Intel 8265), OS's, etc.)
For 2.4GHz clients can c

[2020-02-19 22:37] hisirbr commented on #360
Additional info:
Results of speedtest with Intel 8265AC and Windows10 (ISP limit is 100Mbps upload and download).
2.4GHz with `option noscan '1'`: download: 70Mbps, upload: 15Mbps
5Ghz without any additional options: download: >90Mbps, upload: 60Mbps.

[2020-02-19 23:21] Openwrtfunboy commented on #358
**IF HERE IS A DEVELOPER OPENWRT, PLEASE REPLACE DRIVER FOR MT7603 TAKEN FROM FIRMWARE PADAVAN OR PANDORABOX, WHERE 2,4 GHz. CHANNEL WORKS GOOD.

ENOUGH TO IGNORE THIS FOREIGN PROBLEM!!!**

_I am more and more disappointed in OpenWRT._

[2020-02-20 00:30] LorenzoBianconi commented on #338
@mat-alfa @pepe2k @wynn1212 as suggested by @nbd168 this is probably a cache corruption issue introduced by commit 09fcbc214b102a489f360a081fba156ae460c142 ("mt76: usb: use max packet length for m76u_copy"). I partially reverted the commit and I make the data buffer aligned to the cacheline. Could you please try the following this [patch](https://github.com/LorenzoBianconi/mt76/commit/3af3a32bc327

[2020-02-20 09:25] sgruszka commented on #338
kmalloc data is  aligned to cache line, also it's size is multiple of cache line size (even if we request less data). What is the problem IIUC is that after 09fcbc2 reg_val share cache line with other fields of mt76_usb struct , what  cause corruption of those fields  when dma operation on reg_val is performed. So IMHO right solution would be remove reg_val and use only usb->data for usb requests,

[2020-02-20 09:48] LorenzoBianconi commented on #338
@sgruszka yes, I was thinking to the same approach right now. I think we can remove reg_val and use usb->data directly. I will post a patch to try this solution

[2020-02-20 10:20] LorenzoBianconi commented on #338
@mat-alfa @pepe2k @wynn1212 : could you please test this [patch](https://github.com/LorenzoBianconi/mt76/commit/55b04c29ed3842ed07e5cfaf4b05d9561aaa6070)?

[2020-02-20 11:11] pepe2k commented on #338
@LorenzoBianconi

Tested on current OpenWrt master and mt76 @ 8f8e9161 with the patch (same configuration as mentioned in https://github.com/openwrt/mt76/issues/338#issuecomment-587926080). Problem seems to be solved. Thanks!

[code]

[2020-02-20 13:09] Rising-Sun commented on #358
If you know the solution please ignore openwrt.

Big thanks to nbd and the team. The driver  may not be perfect but I can use my xiaomi mir3g as my daily driver which was unthinkable 1-2 years ago! I appreciate the big efforts made to the driver!

Using latest snapshot in an environment with >20 APs visible from my router on the 2.4 GHz network

[2020-02-20 13:56] JFtico commented on #358
I also appreciate the hard work of the OpenWRT team to bring one of the few Open Source WiFi platforms forward.

That is great to hear and hopefully a sign the code is handling corner cases better.

I do want to inquire why 19.07 (released in February 2020) has four and six-year-old firmware blobs, are these the most recent available?

` kern.warn kernel: [   14.471114] PCI: Enabling device 0000:0

[2020-02-20 14:14] nbd168 commented on #361
Fixed in fd892bc033fbfad7b1a5bcba1432709a74327a1e

[2020-02-20 14:14] #361 closed

[2020-02-20 14:14] nbd168 commented on #359
Fixed in 8f8e9161b3550c9b53a70dec6ceeac0d194a221d

[2020-02-20 14:14] #359 closed

[2020-02-20 14:16] nbd168 commented on #175
Airtime fairness is included in 19.07 and master branch.

[2020-02-20 14:16] #175 closed

[2020-02-20 14:16] #194 closed

[2020-02-20 14:18] nbd168 commented on #303
Crashes fixed in 8f8e9161b3550c9b53a70dec6ceeac0d194a221d (and some other commits)

[2020-02-20 14:18] #303 closed

[2020-02-20 14:18] nbd168 commented on #338
Fixed in fd892bc033fbfad7b1a5bcba1432709a74327a1e, thanks for testing

[2020-02-20 14:18] #338 closed

[2020-02-20 14:21] #172 closed

[2020-02-20 14:28] nbd168 commented on #356
Many manufacturers don't bother to program the EEPROM properly to limit the bands.
Just because the chipset supports both bands doesn't mean that the extra band actually works. There might just be a frontend missing on the hardware side.
Either way, this does not appear to be a mt76 bug...

[2020-02-20 14:28] #356 closed

[2020-02-20 14:31] nbd168 commented on #297
Not sure what happened there, but it doesn't appear to be a bug in the mt76 repository.

[2020-02-20 14:31] #297 closed

[2020-02-20 14:32] nbd168 commented on #102
@kabakaev your issue should be fixed now. @MrBan I don't think it's needed. Everything seems to be working just fine.

[2020-02-20 14:32] #102 closed

[2020-02-20 14:36] nbd168 commented on #313
Fixed in 8f8e9161b3550c9b53a70dec6ceeac0d194a221d

[2020-02-20 14:36] #313 closed

[2020-02-20 14:37] #337 closed

[2020-02-20 14:48] nbd168 commented on #339
Please try the latest version, I've made some more fixes in the mean time

[2020-02-20 14:49] nbd168 commented on #358
As far as I can tell, there are no relevant changes in the newer firmware blop that make it worth upgrading to.

[2020-02-20 14:59] JFtico commented on #358
@nbd168 Thanks for the update on the firmware blobs, so the fix for the client's disconnecting identified in this thread is in an existing build or still an open issue?

Thanks in advance

[2020-02-20 15:30] Openwrtfunboy commented on #358
Is work in progress or planned to correct this error on the mt7621/mt7603e platform in the future?

[2020-02-20 15:32] Openwrtfunboy commented on #358
However, this does not solve the existing problem. I switched to another firmware only because I cannot use OpenWRT. Look at my nickname again. Thanks.

[2020-02-20 16:52] nbd168 commented on #358
You could try this: `echo 1 > /sys/kernel/debug/ieee80211/phy0/mt76/dynamic_sensitivity`

[2020-02-20 21:54] dangowrt opened #362 "MT7612E still firmware crashes on x86_64 laptop"
Previously wifi was usable in station mode with disable_ht=1 and disable_vht=1 set. Now, after recent commits (i'm on fd892bc033fbfad7b1a5bcba1432709a74327a1e), it crashes immediately after connecting once any traffic goes over the link:
[code]

Running:
[code]

The same hardware works fine with the iwlwifi card which originally shipped with it and also ath9k-based mPCIe modules work flawlessly.

[2020-02-20 22:10] nbd168 commented on #362
Could you please bisect this?
Thanks

[2020-02-21 08:49] wynn1212 commented on #338
@LorenzoBianconi Sorry for reply late!

Tested on current OpenWrt master and mt76 with this patch

Everything seems to be normal now. No more crashing.

- My devices: D-Team Newifi D2(mt7621).
- OpenWRT Version: OpenWrt SNAPSHOT r12257-c8f8e59816
- Installed module: kmod-mt76x0u - 4.14.169+2020-02-20-fd892bc0-1
- USB Wifi dongle: ASUS USB-AC51

![Screenshot_20200221_163708](https://user-images.git

[2020-02-21 10:44] tarori commented on #354
Both band 0 and 1 worked with the latest commit. Thanks.
Band 1 (11ac) worked well though band 0 (11n) is very slow (~ 2Mbps). But it seemed to be the different problem.

[2020-02-21 19:45] Openwrtfunboy commented on #358
**It really works and is a fix.** But before the developers include this in the main branch, I would like to see feedback from other participants who also applied this fix. What about you, @JFtico?

Thanks, @nbd168 I love you!

[2020-02-21 20:40] JFtico commented on #358
Thank you, will give that a shot this weekend.

[2020-02-21 21:22] CHKDSK88 commented on #339
@nbd168

That changes didn't  affect this issue:

[code]

[2020-02-22 09:31] Egolas opened #363 "MT7615 poor performance on Netgear R6800"
#360
Same poor performance with Netgear R6800(MT7621+2xMT7615).
Strangely, every time I flash the router, with not setting WLAN's encryption configs (changing SSID is ok), it seems to work well. But if I set WLAN's configs and click the 'Save & Apply' button, they won't be applied,  SSID and encryption remain untouched. If you click the 'Save & Apply' button for the second time, they'll be applied

[2020-02-23 06:06] taeasy opened #364 "transmit queue 0 timed out"
[133025.942765] ------------[ cut here ]------------
[133025.947490] WARNING: CPU: 0 PID: 0 at net/sched/sch_generic.c:320 0x8038b2f0
[133025.954629] NETDEV WATCHDOG: eth0 (mtk_soc_eth): transmit queue 0 timed out
[133025.961648] Modules linked in: pppoe ppp_async pppox ppp_generic nf_conntrack_ipv6 mt76x2e mt76x2_common mt76x02_lib mt7603e mt76 mac80211 iptable_nat ipt_REJECT ipt_MASQUERADE cfg80

[2020-02-23 07:51] ynezz commented on #364
This is not related to this sub-project and it's duplicate of #211 which was probably somehow fixed in https://github.com/openwrt/openwrt/commit/c8f8e59816eca49d776562d2d302bf990a87faf0

[2020-02-23 07:51] #364 closed

[2020-02-23 15:30] NischalBhandari commented on #169
This issue exists in MediaTek MT7620N ver:2 eco:6 also . Have not been able to fix this issue learned a lot trying to debug this but many having tried it with different device with MediaTek MT7620N ver:2 eco:6 and different firmware still brings up this issue . While analyzing wifi from a mobile device the signal seem to drop sharply and then again restart again .

[2020-02-23 16:47] Openwrtfunboy commented on #358
Hi! Did you test it, @JFtico?

[2020-02-24 12:01] 9000000 commented on #358
bản cập nhật gần đây nhất mà tôi sử dụng "OpenWrt SNAPSHOT r12288-1173719817" không biết đã sửa lỗi này hay chưa nhưng các bản trước tôi cũng gặp trường hợp tương tự. Còn phiên bản hiện tại tôi đang sử dụng thì không gặp lỗi này

[2020-02-24 17:23] Openwrtfunboy commented on #358
Yes, because it fixed now by default in new builds.

[2020-02-24 17:30] Openwrtfunboy opened #365 "MT7621|MT7612E: 5GHz low bitrait and poor speed."
Only one device (TV box) is connected to my 5 GHz network, the first time after rebooting the router (or chip) the bitrate is from 130 to 450 mbs, which gives the entire speed of my connection, but after a while (about a day) the bitrate drops to 30- 60, which gives an extremely low speed even for viewing in 720. Is there any way to fix the bitrate on the 5GHz channel?

I change many channels and

[2020-02-24 17:34] Openwrtfunboy commented on #197
Ку, @leksmax Все еще есть эта проблема на последней стабилке?
/
Hi, @leksmax You have it problem in latest openwrt release?

[2020-02-24 17:38] Openwrtfunboy commented on #269
Hi, @lukasz1992
Have this problem now?
Have same platform as you.

[2020-02-24 18:21] JFtico commented on #358
@Openwrtfunboy @nbd168 In the testing this weekend, the disconnects were indeed fixed.

However, there is still a problem, even though the stations remain connected to wifi, the devices lose Internet connectivity.  The device must cycle the wifi connection before it can re-establish Internet access. So while there is progress, I await to test with a 19.0.7.2 build before I'd call this fixed, unles

[2020-02-24 18:21] Openwrtfunboy commented on #365
I also noticed that the bitrait stopped at 65 megabits.

[2020-02-24 18:23] Openwrtfunboy commented on #358
Can you provide as much information as possible? Your observations? Assumptions?

[2020-02-24 18:27] JFtico commented on #358
I was able to see that the devices were still connected to the Wifi, but they were showing "No internet".

For some reason, the devices wouldn't disconnect and connect back. I had to manually disconnect and connect back.

[2020-02-24 18:30] Openwrtfunboy commented on #358
**Please provide even more information.** How long does this happen, how many clients, do the same outages occur with LAN users?

[2020-02-24 18:34] Openwrtfunboy commented on #365
I noticed that if several clients are connected to the network, then there is no problem. Perhaps i can somehow manually fixate the minimum bitrate?

[2020-02-24 20:59] dangowrt commented on #362
Turns out to be unrelated to recent commits but was just due to the fast connectivity I enjoyed in a specific environment. It reliably occurs when RX goes beyond ~35MBit/s, sitting right next to the AP, then even with disable_ht=1 and disable_vht=1 802.11a 54MBit/s data rates would kill it. It then ends up in a reset-loop (see logs above), even unloading mt76x2e kernel module doesn't help at this

[2020-02-24 21:21] Rising-Sun commented on #358
No it shouldn’t be fixed because the new Mt76 driver hasn’t be pushed to the openwrt master branch, you have to manually change the makefile of the Mt76 driver.

[2020-02-24 21:45] JFtico commented on #358
The WiFi devices were losing the internet after a couple of hours.
Not all devices were losing the internet, the TV never lost Internet.

This was with around 23-26 devices connected at all times.

Wired devices remained connected, so it was something in the wifi stack.

[2020-02-25 03:41] taeasy opened #366 "Kernel panic"
Device: Newifi-D2
OpenWrt version: 19.07.1 r10911-c155900f66

[27226.008011] mtk_soc_eth 1e100000.ethernet eth0: port 3 link down
[27228.980608] mtk_soc_eth 1e100000.ethernet eth0: port 3 link up
[60114.949063] mtk_soc_eth 1e100000.ethernet eth0: port 1 link up
[60146.647874] mtk_soc_eth 1e100000.ethernet eth0: port 2 link down
[60155.584307] mtk_soc_eth 1e100000.ethernet eth0: port 2 link up
[602

[2020-02-25 05:08] Openwrtfunboy commented on #358
Take a look: https://github.com/openwrt/mt76/commit/master
https://github.com/openwrt/mt76/commit/0a53dcda520346d45c4b280a19ff73cd50b0414b

[2020-02-25 05:09] Openwrtfunboy commented on #358
So, we can wait only @nbd168

[2020-02-25 11:29] Openwrtfunboy commented on #365
@JFtico Can you test 5Ghz?

[2020-02-25 14:15] 9000000 commented on #358
I have the same situation, I use xiaomi r3g v1 router, my house only uses a few devices

[2020-02-25 15:50] nbd168 commented on #358
I've pushed the mt76 update to OpenWrt master

[2020-02-25 16:14] Openwrtfunboy commented on #358
@9000000  and @JFtico  have bug with wifi.

[2020-02-26 16:01] taeasy commented on #366
[    0.000000] Linux version 4.14.167 (builder@buildhost) (gcc version 7.5.0 (OpenWrt GCC 7.5.0 r10911-c155900f66)) #0 SMP Wed Jan 29 16:05:35 2020
[    0.000000] SoC Type: MediaTek MT7621 ver:1 eco:3
[    0.000000] bootconsole [early0] enabled
[    0.000000] CPU0 revision is: 0001992f (MIPS 1004Kc)
[    0.000000] MIPS: machine is Newifi-D2
[    0.000000] Determined physical RAM map:
[    0.000000

[2020-02-26 19:45] #358 closed

[2020-02-26 19:45] Openwrtfunboy commented on #358
@JFtico if you have another problem(not disconnecting) - open another issue. Now there my problem is solved.

[2020-02-28 20:38] JFtico opened #367 "MT7621/7603 constant hardware restarts logged"
Using Master from 2/27/2020 OpenWrt SNAPSHOT r12324-35890514bb / LuCI Master git-20.057.42551-7c6c043

Hardware: ZBT-WE3526 w/512MB

Unit ran fine for about 24hrs, then became very sluggish, looking at logs showed it was in a non-stop loop of restarts with this being logged:

`Fri Feb 28 15:15:23 2020 daemon.notice hostapd: wlan0: AP-STA-DISCONNECTED 00:51:ed:f2:cc:96
Fri Feb 28 15:15:24 2020 kern

[2020-02-29 22:11] sombree commented on #367
I have same issue on latest (OpenWRT master/4d87963) build. 5GHz was already a bit slower on this build vs build from ~1 month ago. During some heavy traffic 5GHz network died and kernel log was spammed with this:
[code]
There was no problem on older build.

[2020-03-05 01:59] Flukethoughts commented on #339
This also effects the edimax rg21s

[2020-03-06 08:40] kyoto44 commented on #367
I have same device and when 5G is enabled after some time devices just freezes and all connections lost

[2020-03-06 09:31] Openwrtfunboy commented on #367
Have same platform, but dont have this problem.

Newifi3 D2.

I think this is the problem only of this router.

[2020-03-06 15:44] ykzj commented on #169
same here on Nexx 3020F

[2020-03-06 16:48] lukasz1992 commented on #169
@ykzj @NischalBhandari But MT7620N has nothing to do with mt76 driver.
MT7620N wifi is driven by rt2800soc, not mt76

[2020-03-06 17:18] ykzj commented on #169
you are right. I finally figure out that is caused by high cpu temperature. I decrease cpu frequency to low cpu temperature, and the symptoms are gone.

发自我的iPhone

﻿
@ykzj @NischalBhandari But MT7620N has nothing to do with mt76 driver.
MT7620N wifi is driven by rt2800soc, not mt76

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscrib

[2020-03-07 14:27] mingxiaoyu opened #368 "mt7615e In XiaoMi R3P :disconnected due to excessive missing ACKs"
Hi  Openwrt Team
2.4G is disconnected at least twice a day.
 5G is fine.

Sat Mar  7 20:29:46 2020 daemon.info hostapd: wlan0: STA ac:c1:ee:30:07:d4 IEEE 802.11: disconnected due to excessive missing ACKs
Sat Mar  7 20:29:46 2020 daemon.notice hostapd: wlan0: AP-STA-DISCONNECTED ac:c1:ee:30:07:d4
Sat Mar  7 20:29:46 2020 daemon.info hostapd: wlan0: STA ac:c1:ee:30:07:d4 IEEE 802.11: authenticated

[2020-03-07 22:53] mingxiaoyu commented on #368
OpenWrt version  19.07

[2020-03-08 13:11] mingxiaoyu commented on #368
23070.569668] ------------[ cut here ]------------
[23070.574311] WARNING: CPU: 3 PID: 0 at net/sched/sch_generic.c:320 dev_watchdog+0x1ac/0x324
[23070.582596] NETDEV WATCHDOG: eth0 (mtk_soc_eth): transmit queue 0 timed out
[23070.589528] Modules linked in: xt_FULLCONENAT pppoe ppp_async pppox ppp_mppe ppp_generic nf_nat_pptp nf_conntrack_pptp mt7615e mt76 mac80211 iptable_nat ipt_REJECT ipt_MASQU

[2020-03-08 15:15] Openwrtfunboy commented on #367
Have same problem :((

[2020-03-08 16:00] Openwrtfunboy commented on #368
Type to SSH:
echo 1 > /sys/kernel/debug/ieee80211/phy0/mt76/dynamic_sensitivity

[2020-03-08 16:43] fape commented on #367
I have something similar. After I flashed 19.07.2 to my wr1200js, once a day I need to restart. (I usually unplug-plug the power) because there is no wifi. I'm using only 2.4ghz (mt7603e). I'm trying to get more info eg log. I'm going to connect via cable too.

[2020-03-08 20:18] lukasz1992 commented on #368
@Openwrtfunboy It won't work on mt7615 driver, only mt7603 has it.
@mingxiaoyu this is another problem, described here https://forum.openwrt.org/t/mtk-soc-eth-watchdog-timeout-after-r11573

[2020-03-08 22:36] mingxiaoyu commented on #368
@lukasz1992  Thank you for your reply. But 2.4g disconnected only the first log.

The third log is the sudden slowdown of the network

[2020-03-10 03:43] libiao0120 opened #369 "Can anyone tell me how to implement the .set_antenna interface function of mt7603"
the
            .set_antenna = mt76x2_set_antenna,              //mt7603 not have
            .get_antenna = mt76x2_get_antenna,              //mt7603 not have
ieee80211 standard interface but is not have on mt7603 drive.

 const struct ieee80211_ops mt76x2_ops =
{
            .tx = mt76x02_tx,
            .start = mt76x2_start,
            .stop = mt76x2_stop,
            .add_interface = mt76x02

[2020-03-10 13:36] xavier83 commented on #199
Tested Openwrt 19.07.2 and still 5 Ghz is dead attaching the syslog and kernel log.
[openwrt-19.17.2-kern.log](https://github.com/openwrt/mt76/files/4312689/openwrt-19.17.2-kern.log)
[openwrt-19.17.2-syslog.log](https://github.com/openwrt/mt76/files/4312690/openwrt-19.17.2-syslog.log)

[2020-03-11 09:02] brentonv commented on #88
Same on 19.07.1 and 19.07.2

[2020-03-11 12:37] nbd168 commented on #367
Fixed in the latest version

[2020-03-11 12:37] #367 closed

[2020-03-11 19:32] christiansasig commented on #183
Hello, I installed the compatible firmware for the zbt-wg108 router "openwrt_ZBT-WE1326_V7" and the 2.4Ghz and 5Ghz wifi modules work correctly. This firmware runs on Linux kernel 3.10.
[https://drive.google.com/drive/folders/1ZFfQQ-7KYNgKc53z_G3_8BOW8Lcl0oEp](url)

Extract the drivers (.ko) of the wifi modules to test in the openwrt 4.14 kernel "openwrt-19.07.2-ramips-mt7621-zbt-we1326-squashfs-s

[2020-03-11 22:47] tluciomiranda commented on #285
Seems like this problem may have been solved in the last few commits. At least, traffic seems to be flowing without issues for 3 days now with T2U in master mode.

Tried to trace which was the commit that changed the behavior and it seems that [fd892bc0](https://github.com/openwrt/mt76/commit/fd892bc033fbfad7b1a5bcba1432709a74327a1e) changed something that made the symptoms disappear. @yesnomaybey

[2020-03-11 22:47] #285 closed

[2020-03-11 23:27] christiansasig opened #370 "Poor signal in both wifi modules ZBT WG108 router - MT7621"
Hello, we have tested the latest stable version of openwrt firmware 19.07.2 on the wg108 router from the official openwrt page at the following link:
[https://downloads.openwrt.org/releases/19.07.2/targets/ramips/mt7621/openwrt-19.07.2-ramips-mt7621-zbt-we1326-squashfs-sysupgrade.bin](url)

It works correctly on the Wg108 router we only found a problem with the wifi modules the wifi driver does no

[2020-03-12 01:42] mxdh commented on #88
Same on 19.07.1 and 19.07.2

[2020-03-12 06:04] brentonv commented on #88
My "ACS: Survey is missing noise floor" error was resolved by manually setting radio channel as mentioned in this post: https://forum.openwrt.org/t/rt-n56-no-reactivation-of-5ghz-except-reboot/12244/5

[2020-03-12 07:34] nbd168 commented on #362
The reset loop should be fixed now, please test

[2020-03-12 09:42] lukasz1992 commented on #368
@mingxiaoyu Maybe last commit bef8f8a5966dbea0d68ba70ee7f526c65198ebd1  will help?

[2020-03-12 14:18] everloop2 opened #371 "mt76x0u: aukey ac600 usb wifi adapter WF-R5: kernel panic"
Openwrt-19.07.2, Linux 4.14.171, SpeedportW504V_TypeA
-> installed kmod-mt76x0u + auto dependencies -> activated AP -> kernel panic and reboot loop

-> connect stick to USB port

[code]
-> lsusb -t
[code]

-> iw list -> dBm ?false? values
[code]
-> enabled AP 2.4GHz, legacy mode, channel 5 -> kernel panic
[code]
-> bootlog without stick:
[SpeedportW504V_TypeA_bootlog.txt](https://github.com/openwr

[2020-03-14 08:22] mingxiaoyu commented on #368
unfortunately...it's not work.
when got  "802.11: disconnected due to excessive missing ACKs" ,  my  laptop  network will  slowly...

log:Sat Mar 14 16:01:22 2020 daemon.info hostapd: wlan0: STA 2c:d0:5a:2a:16:b5 IEEE 802.11: disconnected due to excessive missing ACKs
Sat Mar 14 16:01:22 2020 daemon.notice hostapd: wlan0: AP-STA-DISCONNECTED 2c:d0:5a:2a:16:b5
Sat Mar 14 16:01:23 2020 daemon.info h

[2020-03-16 02:10] libiao0120 commented on #288
This issue is a bug in the mt7603 driver. I have solved the problem you encountered. You try to modify the config1 field of eeprom to using external PA is invalid, because this driver uses the default value instead of selecting the external PA based on the eeprom configuration . his may be a problem with your hardware circuit. The mt7603 has several ANTSEL pins. It will open the enable pin of the

[2020-03-16 02:41] libiao0120 commented on #288
MT_EE_READ

You need to check the manual of mt7603 or mt7612 to understand the introduction of the registers. I guess it should be a different mode of internal efuse reading, or setting the source of reading. Refer to the source code to write this parameter before reading. Also if you have the user manual of this mt7603 let me see.

static int
mt76x02_efuse_read(struct mt76x02_dev *dev, u16 addr,

[2020-03-18 20:02] pfjgeraedts commented on #362
I had similar experience as dangowrt. Now from OpenWrt master 0f8c806eb8 the reset loops seem to have turned into series of resets (that stop when data transfer is interrupted); I may have encountered a single reset loop, but I cannot confirm this.
Some details: I have a remote setup with two MT7612E (one in an x86_32 and one in an x86_64), both running the above OpenWrt state. The x86_64 is setup

[2020-03-19 01:18] siwind opened #372 "mt7621: samba 4 : downloading files from the server is very slowly since kernel-4.14.171"
Device: newifi-d2,  there is a usb disk connected to the router,  samba 4.11-4(4.11-6) running on the router.

Files downloading has been very slowly since the kernel version was upgraded to 4.14.171+ in openwrt master branch.  Openwrt-v19.07.2 is the same problem.

The reason is not known whether it is caused by kernel, mt76 driver or samba4 software.

After the router downgrade to openwrt-19.07.

[2020-03-19 07:25] lukasz1992 commented on #372
Try transfer on LAN network - we'll see if it is because of mt76 driver.

[2020-03-19 20:53] robho commented on #336
I'm seeing this bug with Netgear AC1200 (R6220) and OpenWrt 19.07.2 and also with a master snapshot from March 18 (132ff90f1d).

The wlan client is a Squeezebox radio (802.11g device). Luci reports that the TX rate for the client is stuck at 1 Mbps (this causes audio stuttering for some high bitrate audio streams (flac)).

Manually setting transfer rates, as suggested above, helps bump the client

[2020-03-20 06:38] CWZ7605 opened #373 "Please add Mercury UD13 (2c4e:0103) to the support list"
Mercury UD13 wireless card use MT7612UN.
After I use the command `echo '2c4e 0103' > /sys/bus/usb/drivers/mt76x2u/new_id ` it can work perfectly.
Please add this pid and vid to the mt76x2u database.

Thanks.

[2020-03-20 09:56] LorenzoBianconi commented on #373
Could you please test the following patch:

diff --git a/drivers/net/wireless/mediatek/mt76/mt76x2/usb.c b/drivers/net/wireless/mediatek/mt76/mt76x2/usb.c
index eafa283ca699..7be7fe7a068b 100644
--- a/drivers/net/wireless/mediatek/mt76/mt76x2/usb.c
+++ b/drivers/net/wireless/mediatek/mt76/mt76x2/usb.c
@@ -16,6 +16,7 @@ static const struct usb_device_id mt76x2u_device_table[] = {
 	{ USB_DEVICE(0x0

[2020-03-20 10:02] LorenzoBianconi commented on #373
Could you please try [this](https://github.com/LorenzoBianconi/wireless-drivers-next/commit/3c026636718314c03817620304f58bd741ad7d45) patch? Thanks.

[2020-03-21 12:43] CWZ7605 commented on #373
I will try today

[2020-03-21 13:28] CWZ7605 commented on #373
Great! It works. Thanks a lot.

[2020-03-21 17:42] bjlockie opened #374 "mt76x02u_mcu_wait_resp failed with -110"
I have an Alfa awus036am (mt7612u) that is an AP.
It seems to die nightly.

[code]

[code]

I # rmmod mt76x2u and then # modprobe mt76x2u and this happened.
Is this any use?
[code]

[2020-03-22 10:29] 9000000 opened #375 "mt7603 lose internet connection"
mt7603 still fails to watch a video file that we fast forward many times it will lose internet connection

All versions of openwrt 18 and 19 I use have this error
My router xiaomi r3g v1

[2020-03-23 16:36] JFtico commented on #367
Confirm fixed in snapshot  r12529-228bb84744 .

I have been running for 10 days with zero issues.

[2020-03-23 16:38] JFtico commented on #375
Try the latest snapshot, there were some significant WiFi fixes the recent month.

[2020-03-23 16:41] JFtico commented on #370
Give the latest snapshot a try, I had all kinds of wifi issues in 19.07 that were cleared up in builds since March 13.

[2020-03-24 03:29] 9000000 commented on #375
I have tried many times but still got an error

[2020-03-24 05:15] xuefer opened #376 "mt7615e, 5G low tx-power, missing 2.4G"
[code]
iw shows 2 bands but openwrt "wifi config" adds only 1

[code]

connected but can't get ip, (which implies no data can be transfer'ed)

[2020-03-24 15:06] Openwrtfunboy opened #377 "Problems with ping and packet loss on MediaTek MT7603EN(MT7621 platform)."
When there are several clients near the router, but I'm far away, sometimes packets are lost and ping becomes so unbearable that it is impossible to play in games. When there is no one near the router, then everything is fine.

OpenWrt 19.07.2 r10947-65030d81f3 / LuCI openwrt-19.07 branch git-20.081.71863-12f0dac
Newifi3 D2

[2020-03-24 15:07] #365 closed

[2020-03-24 15:08] Openwrtfunboy commented on #377
Anybody have same problem?

[2020-03-25 08:51] nx518 opened #378 "mt 7628 - 2.4G wifi very low range, unreliable, auth problems"
[code]

The 2.4G wifi has several issus on this device: Range is really low,  >4m results in disconnect, auth fails often, speed is low.

I tried disabling Legacy Rates, WMM, Crack, Disass on low ack, but it did not help.

Anyone has this device running with 2.4G successfully?

[2020-03-27 07:56] brentonv opened #379 "MT7628: Clients keep disconnecting. #169"
Issue #169 remains unresolved.

I connect my xperia phone to the wifi and it keeps disconnected around every 10 minutes. And the log keeps showing:

[2020-03-27 08:00] brentonv commented on #169
https://github.com/openwrt/mt76/issues/379

[2020-03-29 01:09] bricco1981 opened #380 "mt7615 really brocken in sta mode"
hallo my upload is 30 mbps but with mt7615 is only 4 mbps.
this is really bad openwrt is the best, but  this radio is really broke

[2020-03-29 16:02] FRM-CCA opened #381 "WIFI 2.4 - MediaTek MT7603E 802.11bgn on xiaomi mi3g v1"
WIFI 2.4 - MediaTek MT7603E 802.11bgn on xiaomi mi3g v1

[2020-03-29 18:10] bjlockie opened #382 "mt76x2u: probe of 2-1:1.0 failed with error -5"
What does "mt76x2u: probe of 2-1:1.0 failed with error -5" mean?
That happened after I rebooted (my AP died :-().

[2020-03-30 11:19] jneuhauser opened #383 "Support of MT7615D available?"
Hello @nbd168,

firstly thanks for your efforts to this great open source driver.
I want to switch my apu2 board from qualcomm wireless to mt76 based minipcie cards.

Is the mt7615d hw configuration (2x2 5 ghz ac and 2x2 2.4 ghz n) supported by this driver?
Here is one miniPCIe board from AsiaRF:
https://www.asiarf.com/shop/wifi-wlan/wifi_mini_pcie/wifi-mini-pcie-module-mtk-mt7615-4x4-11ac-5g-ws32

[2020-03-30 11:53] mrkiko commented on #383
DBDC is supported but is experimental.

Personal curiosity: why the switch?

thanks!

Enrico

[2020-03-30 19:56] Openwrtfunboy opened #384 "MT7621 | MT7603EN: Router rebooting and clients disconnecting. iPhone is evil."
When about 8 devices at different distances are connected to the router, but several devices are close to it(2-4), it reboots and / or disconnects clients. I noticed that the router reboots and disconnects clients only when there is an iPhone device next to the router. For example, this is an iPhone 6 plus.

I had to block the user iPhone 6 and only after that the router stopped rebooting.

[2020-03-30 20:03] Openwrtfunboy commented on #384
config wifi-iface 'wifinet3'
        option encryption 'psk2+ccmp'
        option device 'radio0'
        option disassoc_low_ack '0'
        option key 'password'
        option mode 'ap'
        option network 'lan'
        option wpa_disable_eapol_key_retries '1'
        option ssid 'NameWifi'

My config

[2020-03-30 20:12] Openwrtfunboy commented on #384
To block i add this lines to /etc/config/wireless
        option macfilter 'deny'
        list maclist 'XX:XX:XX:XX:XX:XX'

[2020-03-30 20:13] Openwrtfunboy commented on #381
Can you give more information?

[2020-03-30 20:14] Openwrtfunboy commented on #379
Same in MT7603|MT7621

[2020-03-30 20:15] Openwrtfunboy commented on #377
https://github.com/openwrt/mt76/issues/384

[2020-03-30 20:15] #377 closed

[2020-03-30 21:26] FRM-CCA commented on #381
No, sorry i'm not expert in linux, so, since update WIFI bgn not start, no network (but i had the same problem 1 or 2 years ago)
So if you had proc, to give you more infos
No problem on 5g wifi

[2020-03-31 00:17] jneuhauser commented on #383
Thank you for the info...

Because is dislike qualcomm ;-)
And because a friend with a apu2c4 would by my used ones, but i need a replacement.

[2020-03-31 06:48] brentonv commented on #379
Same in MT7628AN

[2020-03-31 08:12] lukasz1992 commented on #384
If you reproduce the problem and after reboot do:

does it show anything?

[2020-03-31 19:30] Openwrtfunboy commented on #384
Yes

root@OpenWrt:~# cat /sys/kernel/debug/crashlog
Time: 1585680762.850259
Modules:	pppoe@8ec24000+23e0	ppp_async@8f7d0000+1b90	pppox@8ec4c000+4b0	ppp_generic@8f140000+5970	nf_conntrack_ipv6@8ec7a000+1590	mt76x2e@8ec84000+26c0	mt76x2_common@8ec7c000+2a40	mt76x02_lib@8f040000+9640	mt7603e@8ecb0000+90a0	mt76@8eca0000+7920	mac80211@8ed00000+6c840	iptable_nat@8efa9000+2c0	ipt_REJECT@8ef12000+3c0	ipt_

[2020-03-31 22:43] Openwrtfunboy commented on #384
Another one
root@OpenWrt:~# cat /sys/kernel/debug/crashlog
Time: 1585692875.534090
Modules:	pppoe@8f7ec000+23e0	ppp_async@8ec14000+1b90	pppox@8ec44000+4b0	ppp_generic@8f0b0000+5970	nf_conntrack_ipv6@8ec5a000+1590	mt76x2e@8ec50000+26c0	mt76x2_common@8ee68000+2a40	mt76x02_lib@8edb0000+9640	mt7603e@8ecc0000+90a0	mt76@8ec70000+7920	mac80211@8ed00000+6c840	iptable_nat@8f690000+2c0	ipt_REJECT@8f6ae000+3

[2020-04-01 01:28] siwind commented on #372
It is caused by enable "tcp_bbr" kernel module.  After remove tcp_bbr, the performance is normal.
So i close this issue.

[2020-04-01 01:28] #372 closed

[2020-04-01 07:01] #351 closed

[2020-04-02 06:47] Openwrtfunboy commented on #384
Another
root@OpenWrt:~# cat /sys/kernel/debug/crashlog
Time: 1585770206.42749
Modules:	pppoe@8ee2c000+23e0	ppp_async@8ee04000+1b90	pppox@8f01e000+4b0	ppp_generic@8f018000+5970	nf_conntrack_ipv6@8f7ae000+1590	mt76x2e@8ee14000+26c0	mt76x2_common@8f798000+2a40	mt76x02_lib@8ed80000+9640	mt7603e@8f7e0000+90a0	mt76@8f7b0000+7920	mac80211@8ec80000+6c840	iptable_nat@8ee97000+2c0	ipt_REJECT@8ef35000+3c0	ip

[2020-04-02 08:09] lantsem opened #385 "mt7615 AP: frequent STAs disconnections"
AP: ASUS RT-AC65P, OpenWrt master r12787+2-af5ccfbac7, mt76 from master 2020-03-17-2097f74f.
STA: phones, tablet and laptops.

AP has simple configuration:
[code]
I observe frequent disconnections of two my phones with WCN3680 in the log. They can lie on the table 1-2m from AP, have a great signal level and randomly disconnects from AP. No errors in log, no missing ACKs, simply disconnects:
[code]

[2020-04-02 11:09] lantsem commented on #385
When I came back to the AP after some time and phone got connected to Wi-Fi, I got this trace in kernel log:

[82419.785218] ------------[ cut here ]------------
[82419.794597] WARNING: CPU: 3 PID: 0 at backports-5.4.27-1/net/mac80211/sta_info.c:1937 ieee80211_sta_update_pending_airtime+0x110/0x214 [mac80211]
[82419.820568] STA 88:79:7e:d6:42:45 AC 2 txq pending airtime underflow: 4294967252, 44
[

[2020-04-02 23:08] Openwrtfunboy commented on #384
I noticed that this happens even when the iPhone does not connect.

[2020-04-02 23:08] Openwrtfunboy commented on #384
Also i have another crashlog reports. Did me need publish it?

[2020-04-03 07:17] lukasz1992 commented on #384
@Openwrtfunboy I am not a developer (I wish I was), but providing: crashlogs, dumps of config and version of OpenWRT/mt76 are the most helpful things you can do.

I think the first crashlog you provided is very similar to https://github.com/openwrt/mt76/issues/366

[2020-04-03 21:04] Openwrtfunboy commented on #384
8 people are connected to the network, only one of them is very close to the router and because of it the router rebooted and disconnected clients. I attach the log below.

root@OpenWrt:~# cat /sys/kernel/debug/crashlog
Time: 1585946894.858343
Modules:	pppoe@8eff0000+23e0	ppp_async@8f764000+1b90	pppox@8ee06000+4b0	ppp_generic@8f010000+5970	nf_conntrack_ipv6@8ee3c000+1590	mt76x2e@8f78c000+26c0	mt76

[2020-04-03 21:06] Openwrtfunboy commented on #384
@nbd168 @LorenzoBianconi

Can we get fix, please?

[2020-04-03 22:18] Openwrtfunboy commented on #366
Too sad, have same :(

[2020-04-04 20:23] ffrediani commented on #227
Hello @nbd168
I have a newer report about remaining issues related to MT7610E.
Just for reference the device used here is a TP-Link C20 v4
This was tested with OpenWrt 18.06.8 (installing the extra kmod-7610e package driver) and with 19.07.0 and 19.07.2

When trying to set the channel for 5Ghz radio. It simply doesn't let you do that. You must use it in Auto otherwise when the device boots up the

[2020-04-05 09:23] hcwang opened #386 "2.4G and 5G WIFI cannot start"
With the new version of mac80211 driver, the WIFI of xiaomi r3p cannot start. The below is log:

[code]

[2020-04-06 07:10] ar-nim commented on #381
Try setting the channel manually, does it work?
For me when I set my channel to auto it refuses to work

[2020-04-08 01:12] Rising-Sun opened #387 "Really bad 802.11s throughput between a QCA9880 and MT7612 device (5Ghz) in one direction"
Hi,

I am trying to set up a WPA3 mesh link between these devices. but the throughput between my Devolo 1750e and Xiaomi mir3g is really bad in one direction using 5Ghz wifi.
Unfortunately I don't have another wifi 5Ghz router to test if the devolo or the Xiaomi is the cause but I have read a QCA9880 NIC works well with a Intel NIC in mesh mode, so I suppose the cause lays in the mt76 driver.
The

[2020-04-08 11:38] Openwrtfunboy commented on #387
**Thank you and the team for the great work for the mt76 driver!**

Sounds like a sarcasm xD

[2020-04-09 08:37] #232 closed

[2020-04-09 18:19] ohquait opened #388 "mt76:rx_aggre_stop"
today updated master clone:

/var/lib/dkms/mt76xx/0.1.0-6pclos2020/build/agg-rx.c: In function ‘mt76_rx_aggr_stop’:
/var/lib/dkms/mt76xx/0.1.0-6pclos2020/build/agg-rx.c:293:2: error: implicit declaration of function ‘rcu_swap_protected’ [-Werror=implicit-function-declaration]
  293 |  rcu_swap_protected(wcid->aggr[tidno], tid,
      |  ^~~~~~~~~~~~~~~~~~
cc1: all warnings being treated as errors
m

[2020-04-09 19:25] ohquait commented on #388
on master/agg-rx.c
old: at line 289
void mt76_rx_aggr_stop(struct mt76_dev *dev, struct mt76_wcid *wcid, u8 tidno)
{
	struct mt76_rx_tid *tid;

	rcu_read_lock();

	tid = rcu_dereference(wcid->aggr[tidno]);
	if (tid) {
		rcu_assign_pointer(wcid->aggr[tidno], NULL);
		mt76_rx_aggr_shutdown(dev, tid);
		kfree_rcu(tid, rcu_head);
	}

	rcu_read_unlock();
}
EXPORT_SYMBOL_GPL(mt76_rx_aggr_stop);

new: at

[2020-04-10 03:34] ShangkunLuo opened #389 "mt7615e 0000:01:00.0: Failed to get patch semaphore"
`[   11.170452] mt7615e 0000:01:00.0: card - bus=0x1, slot = 0x0 irq=4
[   11.233668] urngd: jent-rng init failed, err: 2
[   11.245011] mt7615e 0000:01:00.0: Invalid MAC address, using random address ea:47:3f:16:9e:fc
[   11.267880] ieee80211 phy0: Selected rate control algorithm 'minstrel_ht'
[   11.369304] PPP generic driver version 2.4.2
[   11.381196] NET: Registered protocol family 24
[   11

[2020-04-10 04:59] ptpt52 opened #390 "wifi network freeze Intermittently"
The ping lost or time increase Intermittently
This issue cause network freeze
This happens in mt7603(2.4G) or mt7612e(5G)  on mt7621

ping log:

PING 192.168.16.1 (192.168.16.1) 56(84) bytes of data.
64 bytes from 192.168.16.1: icmp_seq=1 ttl=64 time=4.37 ms
64 bytes from 192.168.16.1: icmp_seq=2 ttl=64 time=1.18 ms
64 bytes from 192.168.16.1: icmp_seq=3 ttl=64 time=1.24 ms
64 bytes from 192.168.1

[2020-04-10 04:59] ptpt52 commented on #390
@nbd168  any idea?

[2020-04-10 05:07] Openwrtfunboy opened #391 "Disconnections still exist on SNAPSHOT with latest fixes MT7621|MT7603"
Newifi3 D2

OpenWrt SNAPSHOT r12861-d8bde3687a / LuCI Master git-20.099.75691-88ec332

Disconnections still exists.

[2020-04-10 06:28] dword1511 commented on #380
Same here with MT7612U in STA mode (but not sure if it is caused by the same thing). Using the version in `Linux 5.4.0-4-amd64 #1 SMP Debian 5.4.19-1` on a Bay Trail machine (but the same has been observed on multiple different x64 machines).
Download with `iperf3` TCP:
[code]
Download with `iperf3`UDP:
[code]
Upload with `iperf3` TCP:
[code]
Upload with `iperf3`UDP:
[code]
From the last test, it

[2020-04-10 07:09] dword1511 commented on #380
Actually, the version in `backports-5.5.11-1` seems to have some improvements, although the speed is still not very stable.
Upload with `iperf3` UDP:
[code]
TCP upload performance is largely the same:
[code]

[2020-04-10 09:05] LorenzoBianconi commented on #371
@everloop2 could you please test latest version?

[2020-04-10 10:26] Openwrtfunboy commented on #391
At the time of the tests, I noticed that when there are several clients nearby and a little bit further, then the clients who are nearby for some reason lose their Internet connection.

[2020-04-10 10:27] Openwrtfunboy commented on #375
Yes, in snapshot from 8 APR i have same. Also have on latest stable Openwrt.

[2020-04-10 10:52] Openwrtfunboy commented on #390
Same on SNAPSHOT from 8 APR and openwrt 19.07.02

[2020-04-10 10:53] Openwrtfunboy commented on #391
Also i have same on latest stable 19.07.2

[2020-04-10 11:01] nbd168 commented on #389
What device are you using?

[2020-04-10 11:35] amk316 opened #392 "mt7628an client mode wifi connected but network not reachable"
i have TP-Link TL-WR902AC v3 connected to a Huawei HG824W5 as client using 2.4g channle,
when i run a torrent file the wifi is connected but i cant reach(ping or http) my router.
only error appears is "CTRL-EVENT-BEACON-LOSS" many of them
i added this to my setting

option wmm '0'
option wpa_group_rekey '0'
option wpa_pair_rekey '0'
option wpa_master_rekey '0'
option disassoc_low_ack '0'

but stil

[2020-04-10 13:03] Openwrtfunboy commented on #391
Empirically, I found out that the loss of the Internet occurs even with clients connected via LAN. 4 clients were connected to the 2.4 network, 5 one was connected to the network, a laptop was connected via wire, which downloaded a 14 gigabyte file and periodically either the laptop or the rest of the clients lost the connection. Moreover, the clients were not next to the router.

[2020-04-10 14:43] JFtico commented on #375
I thought it was better, but just looked the kernel logs for a unit with 28 days uptime, running on snapshot  r12529-228bb84744
This unit is used strictly as an Access Point. So no dnsmasq, or other stuff loading it.
It recovers, as the users have not complained. but obviously something is bad.

Context: primary AP for home with two tech workers, laptops and iPhones, a couple of Android tablets an

[2020-04-10 14:59] JFtico commented on #391
Also seeing similar on both 19.07.2 and snapshot r12529-228bb84744 .
See kernel log I posted in #375

[2020-04-11 09:50] BKPepe opened #393 "Comfast CF-926AC does not change its USB ID"
In OpenWrt 19.07, I installed `kmod-mt76x2u` (version: 4.14.172+2020-03-10-08054d5a-1-d3f64c5022212753017f85fd9365b83f.0) for Comfast CF-926AC. It is USB 3.0 dual-band 2T2R Wi-Fi dongle with chipset Mediatek MT7612U is detected as mass storage device.

On router:
dmesg:
[code]

lsusb -v
[code]

On GNU/Linux distro with kernel `5.6.0-1-default`:

dmesg
[code]

lsusb -v

[code]

Based on the USB ID,

[2020-04-11 10:16] LorenzoBianconi commented on #393
the idProduct here is wrong. Could you please try latest version please?

[2020-04-11 11:55] BKPepe commented on #393
I am using the latest changes in `openwrt-19.07` branch from this repository and from openwrt and its feed as well. I tried to compile `master` branch of mt76 for OpenWrt 19.07 and it fails with this ouput where all warning being treated as errors:

[code]

AQL for ath10k and ath10k-ct landed recently in the OpenWrt master branch. But I got your point, I will try the latest development OpenWrt and

[2020-04-11 16:16] LorenzoBianconi commented on #393
You need to use OpenWrt master to fix them

[2020-04-11 16:40] Openwrtfunboy commented on #393
Are you planning to fix many of the wifi issues that are now? Or will you continue to ignore them as well as ignore the community?
@LorenzoBianconi

[2020-04-12 09:00] LorenzoBianconi commented on #393
Just use OpenWrt master with mt76 master. This is not a mt76 issue, mac80211 package is just too old for new mt76

[2020-04-12 09:12] Openwrtfunboy commented on #393
i use latest snapshot like others peoples and still have problems

[2020-04-12 09:29] LorenzoBianconi commented on #393
@Openwrtfunboy are you referring to this particular issue? (Comfast CF-926AC does not change its USB ID)
If not, please do not ask about other problems, otherwise it will impossible to track it down

[2020-04-13 01:18] ShangkunLuo commented on #389
mt7620 + mt7613

[2020-04-13 07:27] lukasz1992 commented on #393
Isn't there a kind od switch like for 3g/4g USB modems (usbmodeswitch?)?

[2020-04-13 10:13] ohquait commented on #388
works on kernel-5.6.3-pclos3 also

[2020-04-13 10:13] #388 closed

[2020-04-13 11:37] JFtico commented on #375
And since rebooting 3 days ago, another mt7603 crash.
Unit recovered, as I never noticed.

`[226013.618068] ------------[ cut here ]------------
[226013.622946] WARNING: CPU: 1 PID: 5731 at backports-5.4-rc8-1/net/mac80211/sta_info.c:1937 ieee80211_sta_update_pending_airtime+0x110/0x214 [mac80211]
[226013.636401] STA f0:c3:71:85:10:92 AC 2 txq pending airtime underflow: 4294966936, 360
[226013.636

[2020-04-14 09:47] mrkiko commented on #389
Hi!!

I guess the name of the device on which these chipsets are present, the router name or something like that.

[2020-04-14 20:25] JFtico commented on #375
Seeing stuff like this about once a day:

`[225754.393859] ieee80211 phy1: Hardware restart was requested
[225756.464920] mt76x2e 0000:01:00.0: Firmware Version: 0.0.00
[225756.470491] mt76x2e 0000:01:00.0: Build: 1
[225756.474732] mt76x2e 0000:01:00.0: Build Time: 201507311614____
[225756.503643] mt76x2e 0000:01:00.0: Firmware running!
[225756.513901] ieee80211 phy1: Hardware restart was requeste

[2020-04-15 08:07] tkso1997 commented on #350
I did some more research and testing.
As soon as my printer and Soundtuch speaker becoming unavailable I tried to ping their IP address from my MacBook. The result is that there is no ping going through. BUT I can still ping them from the router! I If I restart the wifi or reboot the router the connection is working again for a couple of hours before it starts agin...
The problem exists till the c

[2020-04-15 12:35] CMCCAdmin commented on #373
你好，你的水星 UD13 是这款么？（ https://item.jd.com/100003723464.html ）网卡是window免驱款，openwrt下使用应该需要使用usb-modeswitch转换模式吧？这个网卡插在openwrt路由器上是否支持ap模式？能不能通过luci（网页）控制网卡发射wifi信号？谢谢了 ！

Hello, is this your Mercury UD13? (Https://item.jd.com/100003723464.html) The network card is a window-free driver. Should we use the usb-modeswitch conversion mode for openwrt? Does this NIC support ap mode when plugged into an open

[2020-04-16 06:26] CWZ7605 commented on #373
是。水星就这一款UD13

[2020-04-16 06:28] CMCCAdmin commented on #373
那openwrt下能不能作为ap发射信号呢？

[2020-04-16 06:32] CWZ7605 commented on #373
能。可以正常使用。
受USB限制，以下点请注意：

1. 2.4G和5G无法同时发射
2. 无法使用中继模式

在openwrt x86版上面测试，传输速度可以达到200Mbps以上（就是迅雷下载能达到20MB/s以上）

[2020-04-16 06:35] CMCCAdmin commented on #373
好的，谢谢 ！

[2020-04-16 08:32] CMCCAdmin commented on #373
我又来麻烦您了，这个网卡因为windows下是免驱动的，所以这个网卡会有一个存储器用来储存windows下的驱动，如果插在openwrt下首先会识别成cd-rom或者储存吧，那该用什么具体命令来切换到网卡模式呢？

[2020-04-17 07:15] CWZ7605 commented on #373
安装usb-modeswitch即可。最新版usb-modeswitch已支持自动切换。

[2020-04-17 20:36] shir474 commented on #391
Try moving the MT7621's switch interrupt to another core.

[2020-04-17 20:58] JFtico commented on #391
@shir474 Thanks for the suggestion, how might I implement that?

[2020-04-17 21:13] shir474 commented on #391
see https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/performance_tuning_guide/s-cpu-irq

[2020-04-18 11:30] Openwrtfunboy commented on #391
Are there any successes, @JFtico ?

[2020-04-18 14:45] BlackCutpoint commented on #192
I can help you to debug.
I suppose Wi-Fi is failing on a machine with NetworkManager and systemd.
In /etc/systemd/journald.conf set
```ForwardToKMsg=yes```
Run something like
[code]
Then provide both the output of that script AND output of dmesg.
That will be all info necessary to debug.

[2020-04-20 08:52] r0ck3r commented on #384
Same for me on Mi Router 3G, but not related to distance from router to device, as far I understand.

My crashlogs, first:
`Time: 1587317574.935027
Modules:	pppoe@8f2b4000+2430	ppp_async@8f2b8000+1be0	ebtable_nat@8f2fb000+3b0	ebtable_filter@8f10c000+3b0	ebtable_broute@8e7a4000+350	pppox@8e6eb000+58a	ppp_generic@8e970000+5b42	mt76x2e@8f234000+2850	mt76x2_common@8f2ac000+2d48	mt76x02_lib@8f3d0000+a4

[2020-04-20 10:38] marekbedy commented on #278
I have the same problem on a 19.07.2 with Archer C7 v5

[2020-04-20 12:04] r0ck3r commented on #384
Another one crashlog. Happened when I changed tx power from Driver defaults to 20 dBm and channel from 2 to 10. But I was not able to repeat it

`
Time: 1587383718.84874
Modules:	pppoe@8f374000+2430	ppp_async@8f37a000+1be0	ebtable_nat@8e598000+3b0	ebtable_filter@8e805000+3b0	ebtable_broute@8f3ab000+350	pppox@8e75c000+58a	ppp_generic@8ea00000+5b42	mt76x2e@8e4a8000+2850	mt76x2_common@8f358000+2d48	m

[2020-04-21 09:09] r0ck3r commented on #384
Another one:
`
Time: 1587458726.406377
Modules:	pppoe@8ea10000+2430	ppp_async@8ea0c000+1be0	ebtable_nat@8f1d8000+3b0	ebtable_filter@8f2e5000+3b0	ebtable_broute@8e827000+350	pppox@8f235000+58a	ppp_generic@8ea00000+5b42	mt76x2e@8e4c0000+2850	mt76x2_common@8e830000+2d48	mt76x02_lib@8e860000+a401	mt7603e@8e810000+976c	mt76@8f390000+8224	mac80211@8e880000+72008	iptable_nat@8e6f4000+310	iptable_mangle@8

[2020-04-22 07:30] bricco1981 commented on #380
looks much better on kernel 5.4 in general, but still same problem with upload, i should get 25/30 mbps, and i only get 5 mbps.

[2020-04-22 15:41] ergg commented on #358
Hi , I did have exactly the same problem after the "echo 1 > /sys/kernel/debug/ieee80211/phy0/mt76/dynamic_sensitivity" my 5GHz Network works now and I can stop/start the Interfaces without any issues.

[2020-04-22 15:55] andrey-zibrov commented on #386
https://openwrt.org/toh/asus/asus_rt-ac85p#notes

Model: ASUS RT-AC65P
Architecture: MediaTek MT7621 ver:1 eco:3
Firmware: OpenWrt SNAPSHOT r12985-508462a399 / LuCI Master git-20.108.47759-d516e22
Kernel Version: 5.4.32

[code]

[2020-04-22 15:57] andrey-zibrov commented on #385
Please [compare](https://github.com/openwrt/mt76/issues/386)

[2020-04-22 23:06] dchard opened #394 "Kernel warning right after a false radar detect"
In the last two weeks this is the third time my device does a false radar detect on channel 100, but this is the first time it generated a kernel warning as well:

[code]

Device is a Dlink 860L (mt7621), I am on kernel 5.4.31 (11 days old master). I am stating it is a false detect, as first of all there is no radar in my area on channel 100 (5530MHz +-40MHz, not even by far), and second I checked

[2020-04-23 12:26] Openwrtfunboy commented on #391
I noticed such a connection that the more connections, the greater the chance that the Internet will disappear on some device.

[2020-04-24 16:23] everloop2 commented on #371
No more kernel panic - thanks, working :D

tested:

AccessPoint:

2.4GHz (channel 5 and 13) -> mode: legacy, n

5.180GHz (channel 36) -> mode: n, ac

STA (WWAN client):

2.4GHz -> mode: n

-> iw list -> still shows ?false? dBm values (in DE should be 20dBm max.) -> no major

so, some still good boxes can be upgraded to 5GHz wifi now for a few euros ;)

f.e.: https://openwrt.org/toh/arcadyan/vgv751